<div class="header">
    <path icone="subject"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="modelos">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-vinculacao-modelo-especie-setor-form
        [vinculacaoModelo]="vinculacaoModelo"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [especieSetorPagination]="especieSetorPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-vinculacao-modelo-especie-setor-form>
</div>