<!-- WIDGET Tarefa -->
<cdk-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100">

    <!-- Front -->
    <div class="cdk-widget-front">
        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
             fxLayoutAlign="end center">
        </div>

        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner *ngIf="this.tarefasCount === false" diameter="72"></mat-spinner>
            <div *ngIf="this.tarefasCount !== false" class="light-blue-fg font-size-72 line-height-72">
                {{this.tarefasCount}}
            </div>
            <div class="h3 font-weight-500">
                Tarefas Pendentes {{escopo}}
            </div>
        </div>

        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 text-truncate">
                Tarefas Vencidas {{escopo}}:
            </span>
            <mat-spinner class="ml-8" *ngIf="tarefasVencidasCount === false"
                         diameter="15"></mat-spinner>
            <span *ngIf="tarefasVencidasCount !== false" class="h4 ml-8 warn-500-fg">
                {{tarefasVencidasCount}}
            </span>
        </div>
    </div>
    <!-- / Front -->

    <!-- Back -->
    <div class="cdk-widget-back p-16 pt-32">
        <button mat-icon-button cdkWidgetToggle class="cdk-widget-flip-button"
                aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
        </button>

        <div>
            Informa a quantidade de tarefas
        </div>
    </div>
    <!-- / Back -->

</cdk-widget>
<!-- / WIDGET 1 -->
