<div fxLayout="row" class="m-12">
    <button mat-mini-fab
            class="m-8 active accent"
            (click)="upload()"
            matTooltip="Anexar">
        <mat-icon class="secondary-text">attach_file</mat-icon>
    </button>

    <button mat-mini-fab
            class="m-8 active accent"
            (click)="desentranhar()"
            matTooltip="Desentranhar">
        <mat-icon class="secondary-text">low_priority</mat-icon>
    </button>

    <cdk-componente-digital-card-list #ckdUpload
                                      [processoOrigem]="processo"
                                      (completed)="onComplete()">
    </cdk-componente-digital-card-list>
</div>

<cdk-juntada-grid
    [loading]="(loading$ | async)"
    [juntadas]="(juntadas$ | async)"
    [total]="(pagination$ | async)?.total"
    [actions]="['copiar','edit', 'assinar', 'showDeleted']"
    (reload)="reload($event)"
    (excluded)="excluded($event)"
    (copiar)="copiar($event)"
    (assinar)="assinar($event)"
    (edit)="editar($event)">
</cdk-juntada-grid>

<router-outlet></router-outlet>