<div class="header">
    <mat-icon class="mr-8 s-16">subject</mat-icon>
    <a [routerLink]="['/apps/admin/assuntos/listar']">assuntos</a>
    <span class="mr-4 ml-4">/</span>
    <span>assunto {{routerState.params.assuntoAdministrativoHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-assunto-administrativo-form
        [assuntoAdministrativo]="(assuntoAdministrativo$ | async)"
        [form]="formAssuntoAdministrativo"
        [assuntoAdministrativoPagination]="assuntoAdministrativoPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitAssuntoAdministrativo($event)"
        (abort)="doAbort()">
    </cdk-assunto-administrativo-form>
</div>