<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <h2>Receber Tramitação do Processo</h2>

        <mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Setor Atual"
                       formControlName="setorAtual"
                       [matAutocomplete]="setorAtual.autocomplete" required
                       (blur)="checkSetorAtual()">
                <mat-option *ngIf="setorAtualListIsLoading">
                    <mat-spinner diameter="16"></mat-spinner>
                </mat-option>
            </div>
            <cdk-setor-autocomplete
                #setorAtual="setorAutocomplete"
                [control]="form.get('setorAtual')"
                [pagination]="setorAtualPagination">
            </cdk-setor-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showSetorAtualTree()">
                <mat-icon matTooltip="Árvore de Setores">subdirectory_arrow_right</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button
                    (click)="showSetorAtualGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('setorAtual').hasError('formError')">
                {{form.get('setorAtual').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-setor-tree
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'setor-destino-tree'"
    [pagination]="setorAtualPaginationTree"
    (selected)="selectSetorAtual($event)"
    (cancel)="cancel()">
</cdk-setor-tree>

<cdk-setor-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'setor-destino-gridsearch'"
    [pagination]="setorAtualPagination"
    (selected)="selectSetorAtual($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>