<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-slide-toggle formControlName="encerraTarefa">
        Encerra Tarefa
    </mat-slide-toggle>
    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
            (click)="showLogEntryGrid('encerraTarefa')">
        <mat-icon matTooltip="Histórico">history</mat-icon>
    </button>

    <mat-form-field>
        <input matInput placeholder="Assessor"
               formControlName="usuarioVinculado"
               [matAutocomplete]="usuarioVinculado.autocomplete" required
               (blur)="checkUsuarioVinculado()">
        <cdk-usuario-autocomplete
            #usuarioVinculado="usuarioAutocomplete"
            [control]="form.get('usuarioVinculado')"
            [pagination]="usuarioVinculadoPagination">
        </cdk-usuario-autocomplete>
        <button *ngIf="form.get('usuarioVinculado').enabled" matSuffix mat-button mat-icon-button
                (click)="showUsuarioVinculadoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('usuarioVinculado').hasError('formError')">
            {{form.get('usuarioVinculado').errors.formError}}
        </mat-error>
    </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-usuario-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'usuario-vinculado-gridsearch'"
    [pagination]="usuarioVinculadoPagination"
    (selected)="selectUsuarioVinculado($event)"
    (cancel)="cancel()">
</cdk-usuario-gridsearch>

<cdk-logentry-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>
