<form fxLayoutGap="16px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <label id="acoes-rg">Setor de Origem</label>

        
    <mat-form-field>
        <input matInput placeholder="Setor de Origem"
               formControlName="setorOrigem"
               [matAutocomplete]="setorOrigem.autocomplete"
               [readonly]="form.get('id').value"
               (blur)="checkSetorOrigem()">
        <cdk-setor-autocomplete
            #setorOrigem="setorAutocomplete"
            [control]="form.get('setorOrigem')"
            [pagination]="setorOrigemPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                [disabled]="form.get('id').value"
                (click)="showSetorOrigemGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setorOrigem').hasError('formError')">
            {{form.get('setorOrigem').errors.formError}}
        </mat-error>
    </mat-form-field>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

    <div>{{form.errors}}</div>
</form>


<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-origem-gridsearch'"
    [pagination]="setorOrigemPagination"
    (selected)="selectSetorOrigem($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

