<div class="header">
    <path icone="assessment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="tipos-relatorios">
    </path>
</div>
<cdk-tipo-relatorio-grid
    [loading]="(loading$ | async)"
    [tiposRelatorios]="(tipoRelatorios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'especieRelatorio.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-tipo-relatorio-grid>
