<div class="content p-16">
    <cdk-tarefa-form
            [tarefa]="(tarefa$ | async)"
            [saving]="(isSaving$ | async)"
            [errors]="(errors$ | async)"
            [especieTarefaPagination]="especieTarefaPagination"
            [setorOrigemPagination]="setorOrigemPagination"
            [logEntryPagination]="logEntryPagination"
            (save)="submit($event)"
            (favorito)="getFavoritos($event)"
            [favoritosList]="(favoritos$ | async)">
    </cdk-tarefa-form>
</div>
