<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-slide-toggle *ngIf="!tarefa.id && mode === 'regular'" formControlName="blocoProcessos">
        Bloco de Processos
    </mat-slide-toggle>

    <mat-form-field *ngIf="mode === 'regular'">
        <input matInput placeholder="Processo"
               formControlName="processo"
               [readonly]="inputProcesso"
               [matAutocomplete]="processo.autocomplete" required
               (blur)="checkProcesso()">
        <cdk-processo-autocomplete
            #processo="processoAutocomplete"
            [control]="form.get('processo')"
            [pagination]="processoPagination">
        </cdk-processo-autocomplete>
        <button *ngIf="form.get('processo').enabled" matSuffix mat-button mat-icon-button
                (click)="showProcessoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('processo').hasError('formError')">
            {{form.get('processo').errors.formError}}
        </mat-error>
    </mat-form-field>

    <div *ngIf="form.get('blocoProcessos').value" class="bloco-processos">
        <cdk-processo-grid
            [processos]="processos"
            [total]="processos.length"
            [actions]="['delete']"
            (delete)="deleteProcessos($event)">
        </cdk-processo-grid>
    </div>

    <mat-form-field
        *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditEspecie">
        <input matInput placeholder="Espécie de Tarefa"
               formControlName="especieTarefa"
               [matAutocomplete]="especieTarefa.autocomplete" required
               (blur)="checkEspecieTarefa()">
        <cdk-especie-tarefa-autocomplete
            #especieTarefa="especieTarefaAutocomplete"
            [especieTarefaList]="especieTarefaList"
            [especieTarefaListIsLoading]="especieTarefaListIsLoading"
            [control]="form.get('especieTarefa')"
            [pagination]="especieTarefaPagination">
        </cdk-especie-tarefa-autocomplete>
        <button [disabled]="!form.get('processo').value" matSuffix mat-button mat-icon-button
                (click)="getFavoritosEspecieTarefa()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showEspecieTarefaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('especieTarefa').hasError('formError')">
            {{form.get('especieTarefa').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-card
        *ngIf="mode === 'regular' ||
                      mode === 'bloco-create' ||
                      blocoEdit.blocoEditDistribuicao">

        <mat-card-subtitle *ngIf="mode === 'regular' || blocoEdit.blocoEditDistribuicao">Responsável
        </mat-card-subtitle>

        <mat-slide-toggle formControlName="distribuicaoAutomatica"
                          *ngIf="mode === 'regular' || blocoEdit.blocoEditDistribuicao">
            Distribuição Automática
        </mat-slide-toggle>

        <div class="align-icon">
            <div class="align-icon toggle-icon">
                <mat-slide-toggle class="align-icon toggle-icon mr-16 mb-16"
                                  *ngIf="!tarefa.id && mode === 'regular'"
                                  formControlName="blocoResponsaveis">
                    Bloco de Responsáveis
                </mat-slide-toggle>
            </div>
        </div>

        <mat-form-field
            *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditDistribuicao">
            <input matInput placeholder="Unidade Responsável"
                   formControlName="unidadeResponsavel"
                   [matAutocomplete]="unidadeResponsavel.autocomplete" required
                   (blur)="checkUnidadeResponsavel()">
            <cdk-setor-autocomplete
                #unidadeResponsavel="setorAutocomplete"
                [control]="form.get('unidadeResponsavel')"
                [setorList]="unidadeResponsavelList"
                [setorListIsLoading]="unidadeResponsavelListIsLoading"
                [pagination]="unidadeResponsavelPagination">
            </cdk-setor-autocomplete>
            <button [disabled]="!form.get('processo').value" matSuffix mat-button mat-icon-button
                    (click)="getFavoritosUnidadeResponsavel()">
                <mat-icon matTooltip="Favoritos">star</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button
                    *ngIf="form.value.id && !blocoEdit.blocoEditDistribuicao"
                    (click)="showLogEntryGrid('unidadeResponsavel')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button
                    (click)="showUnidadeResponsavelGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('unidadeResponsavel').hasError('formError')">
                {{form.get('unidadeResponsavel').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field
            *ngIf="!form.get('setorResponsavel').disabled && (mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditDistribuicao)">
            <input matInput placeholder="Setor Responsável"
                   formControlName="setorResponsavel"
                   [matAutocomplete]="setor.autocomplete" required
                   [readonly]="!editable"
                   (blur)="checkSetorResponsavel()">
            <cdk-setor-autocomplete
                #setor="setorAutocomplete"
                [setorList]="setorResponsavelList"
                [setorListIsLoading]="setorResponsavelListIsLoading"
                [control]="form.get('setorResponsavel')"
                [pagination]="setorResponsavelPagination">
            </cdk-setor-autocomplete>
            <button [disabled]="!form.get('processo').value || !form.get('unidadeResponsavel').value || !editable"
                    matSuffix mat-button mat-icon-button
                    (click)="getFavoritosSetorResponsavel()">
                <mat-icon matTooltip="Favoritos">star</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button [disabled]="!editable"
                    *ngIf="form.value.id && !blocoEdit.blocoEditDistribuicao"
                    (click)="showLogEntryGrid('setorResponsavel')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button [disabled]="!editable"
                    (click)="showSetorTree()">
                <mat-icon matTooltip="Árvore de Setores">subdirectory_arrow_right</mat-icon>
            </button>
            <button *ngIf="form.get('setorResponsavel').enabled" [disabled]="!editable"
                    matSuffix mat-button mat-icon-button
                    (click)="showSetorResponsavelGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('setorResponsavel').hasError('formError')">
                {{form.get('setorResponsavel').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field
            *ngIf="!form.get('usuarioResponsavel').disabled &&
                                (mode === 'regular' || mode === 'bloco-create' ||
                                (form.value.unidadeResponsavel && blocoEdit.blocoEditDistribuicao))">
            <input matInput placeholder="Usuário Responsável"
                   formControlName="usuarioResponsavel"
                   [matAutocomplete]="usuario.autocomplete" required
                   (blur)="checkUsuarioResponsavel()">
            <cdk-usuario-autocomplete
                #usuario="usuarioAutocomplete"
                [control]="form.get('usuarioResponsavel')"
                [usuarioList]="usuarioResponsavelList"
                [usuarioListIsLoading]="usuarioResponsavelListIsLoading"
                [pagination]="usuarioResponsavelPagination">
            </cdk-usuario-autocomplete>
            <button [disabled]="!form.get('processo').value || !form.get('setorResponsavel').value" matSuffix
                    mat-button mat-icon-button
                    (click)="getFavoritosUsuarioResponsavel()">
                <mat-icon matTooltip="Favoritos">star</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button *ngIf="tarefa.id && !blocoEdit.blocoEditDistribuicao"
                    (click)="showLogEntryGrid('usuarioResponsavel')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <button *ngIf="form.get('usuarioResponsavel').enabled" matSuffix mat-button mat-icon-button
                    (click)="showUsuarioGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('usuarioResponsavel').hasError('formError')">
                {{form.get('usuarioResponsavel').errors.formError}}
            </mat-error>
        </mat-form-field>

        <div *ngIf="form.get('blocoResponsaveis').value" class="bloco-responsaveis">
            <cdk-bloco-responsaveis-grid
                [(responsaveis)]="blocoResponsaveis"
                [actions]="['delete']">
            </cdk-bloco-responsaveis-grid>
        </div>

    </mat-card>

    <mat-card class="dates mb-16"
              *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditInicioPrazo || blocoEdit.blocoEditFinalPrazo">

        <mat-card-subtitle>Prazo</mat-card-subtitle>

        <div [hidden]="evento">
            <mat-form-field class="dias-input">
                <input matInput type="number" class="prazoDias" min="1" max="180"
                       formControlName="prazoDias" placeholder="Em dia(s)">
            </mat-form-field>

            <mat-slide-toggle formControlName="diasUteis"
                              class="canto">
                Dias Úteis
            </mat-slide-toggle>
        </div>

        <mat-form-field
            *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditInicioPrazo">
            <mat-label *ngIf="!evento">Início do Prazo</mat-label>
            <mat-label *ngIf="evento">Início do Evento</mat-label>
            <input matInput formControlName="dataHoraInicioPrazo" [matDatetimepicker]="dataHoraInicioPrazo"
                   required>
            <button matSuffix mat-button mat-icon-button *ngIf="tarefa.id"
                    (click)="showLogEntryGrid('dataHoraInicioPrazo')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraInicioPrazo"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraInicioPrazo type="datetime" openOnFocus="true" timeInterval="5"
                                required></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field
            *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditFinalPrazo">
            <mat-label *ngIf="!evento">Final do Prazo</mat-label>
            <mat-label *ngIf="evento">Final do Evento</mat-label>
            <input matInput formControlName="dataHoraFinalPrazo" [matDatetimepicker]="dataHoraFinalPrazo"
                   required>
            <button matSuffix mat-button mat-icon-button *ngIf="tarefa.id"
                    (click)="showLogEntryGrid('dataHoraFinalPrazo')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraFinalPrazo"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraFinalPrazo type="datetime" openOnFocus="true" timeInterval="5"
                                required></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field [hidden]="!evento"
                        *ngIf="mode === 'regular' || mode === 'bloco-create'">
            <input type="text" formControlName="localEvento"
                   matInput placeholder="Local do Evento" maxlength="255" upperCase/>
            <mat-error *ngIf="form.get('observacao').hasError('formError')">
                {{form.get('localEvento').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="form.get('dataHoraInicioPrazo').hasError('formError')">
            {{form.get('dataHoraInicioPrazo').errors.formError}}
        </mat-error>

        <mat-error *ngIf="form.get('dataHoraFinalPrazo').hasError('formError')">
            {{form.get('dataHoraFinalPrazo').errors.formError}}
        </mat-error>

    </mat-card>

    <mat-form-field *ngIf="mode === 'regular' || mode === 'bloco-create' || mode === 'bloco'">
        <input matInput placeholder="Setor Origem"
               formControlName="setorOrigem"
               [matAutocomplete]="setorOrigem.autocomplete" required
               (blur)="checkSetorOrigem()">
        <cdk-setor-autocomplete
            #setorOrigem="setorAutocomplete"
            [control]="form.get('setorOrigem')"
            [pagination]="setorOrigemPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showSetorOrigemTree()">
            <mat-icon matTooltip="Árvore de Setores">subdirectory_arrow_right</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showSetorOrigemGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setorOrigem').hasError('formError')">
            {{form.get('setorOrigem').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="urgente"
                      *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditUrgente">
        Urgente
    </mat-slide-toggle>

    <mat-form-field
        *ngIf="mode === 'regular' || mode === 'bloco-create' || blocoEdit.blocoEditObservacao">
            <textarea formControlName="observacao"
                      matInput placeholder="Observação" maxlength="255" upperCase></textarea>
        <mat-error *ngIf="form.get('observacao').hasError('formError')">
            {{form.get('observacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" class="actions">
        <button type="submit" mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid || !valid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-processo-gridsearch
    *ngIf="activeCard === 'processo-gridsearch'"
    [pagination]="processoPagination"
    (selected)="selectProcesso($event)"
    (cancel)="cancel()">
</cdk-processo-gridsearch>

<cdk-especie-tarefa-gridsearch
    *ngIf="activeCard === 'especie-tarefa-gridsearch'"
    [pagination]="especieTarefaPagination"
    (selected)="selectEspecieTarefa($event)"
    (cancel)="cancel()">
</cdk-especie-tarefa-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'unidade-gridsearch'"
    [pagination]="unidadeResponsavelPagination"
    (selected)="selectUnidadeResponsavel($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-gridsearch'"
    [pagination]="setorResponsavelPagination"
    (selected)="selectSetorResponsavel($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-usuario-gridsearch
    *ngIf="activeCard === 'usuario-gridsearch'"
    [pagination]="usuarioResponsavelPagination"
    (selected)="selectUsuario($event)"
    (cancel)="cancel()">
</cdk-usuario-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-origem-gridsearch'"
    [pagination]="setorOrigemPagination"
    (selected)="selectSetorOrigem($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-logentry-gridsearch
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>

<cdk-setor-tree
    *ngIf="activeCard === 'setor-tree'"
    (selected)="selectSetorResponsavel($event)"
    (cancel)="cancel()">
</cdk-setor-tree>

<cdk-setor-tree
    *ngIf="activeCard === 'setor-origem-tree'"
    [pagination]="setorOrigemPaginationTree"
    (selected)="selectSetorOrigem($event)"
    (cancel)="cancel()">
</cdk-setor-tree>