@import "src/@fuse/scss/fuse";

cdk-tarefa-form {

  .bloco-processos {
    @include mat-elevation(1);
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }
}
