cdk-usuario-form {

  form {
    width: 100%;
  }
    .inner-scroll{
        height: 50%;
        width: 100%;
    }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

}
