cdk-acao-list {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .acao-list-loading {
    z-index: 9999;
    margin-top: 48px;
    display: flex;
    position: fixed;
    transform: translate(-50%, -50%);
  }

  .toolbar {

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .toolbar-separator {
      height: 32px;
      width: 1px;
      margin: 0 12px;
    }

    .acao-list-control {
      margin-left: auto;
    }
  }

  .no-acoes-text {
    font-size: 16px;
    font-weight: 300;
  }
}
