<div class="documentos-vinculados mb-4">
    <h3 style="font-weight: bold">Anexos</h3>

    <button mat-mini-fab *ngIf="(documento$ | async).minuta"
            class="ml-8 mb-16 active accent add-file-button"
            [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
            (click)="$event.stopPropagation()">
        <mat-icon class="secondary-text">attach_file</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
        <button mat-menu-item aria-label="upload de anexo"
                (click)="upload()">
            <ng-container>
                <mat-icon>picture_as_pdf</mat-icon>
                <span>Upload</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="anexar uma cópia de um documento"
                (click)="anexarCopia()">
            <ng-container>
                <mat-icon>file_copy</mat-icon>
                <span>Por Cópia</span>
            </ng-container>
        </button>

        <button *ngIf="!(isSaving$ | async)" mat-menu-item aria-label="aprova um documento"
                (click)="aprovar()">
            <ng-container>
                <mat-icon>file_copy</mat-icon>
                <span>Aprovar</span>
            </ng-container>
        </button>

        <ng-template #dynamicComponent></ng-template>
    </mat-menu>

    <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                             [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                             [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                             (delete)="doDeleteDocumentoVinculado($event)"
                             (assinatura)="doAssinaturaDocumentoVinculado($event)"
                             (clicked)="onClickedDocumentoVinculado($event)"
                             (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
    </cdk-documento-card-list>

    <cdk-componente-digital-card-list #ckdUpload
                                      [documentoOrigem]="(documento$ | async)"
                                      (completed)="onCompleteDocumentoVinculado()">
    </cdk-componente-digital-card-list>
</div>
