<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start">
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="nav material2">

        <div class="nav-subheader">MEUS EVENTOS</div>

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/calendario/minhas-tarefas/todas'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ 'group' }}</mat-icon>
                <span>Meu Calendário</span>
            </a>
        </div>

        <div class="nav-subheader">COMPARTILHAMENTO</div>

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/calendario/compartilhadas/outros-usuarios'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">share</mat-icon>
                <span>Outros Usuários</span>
            </a>
        </div>

        <div *ngIf="setoresCoordenacao.length > 0" class="nav-subheader">COORDENAÇÃO</div>

        <div class="nav-item" *ngFor="let setor of setoresCoordenacao">
            <a class="nav-link" matRipple [routerLink]="'/apps/calendario/coordenacao/' + setor.id"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ 'group' }}</mat-icon>
                <span>{{setor.nome | titlecase}}</span>
            </a>
        </div>

        <div *ngIf="usuariosAssessor.length > 0" class="nav-subheader">ASSESSOR</div>

        <div class="nav-item" *ngFor="let usuario of usuariosAssessor">
            <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/assessor/' + usuario.id"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ 'person' }}</mat-icon>
                <span>{{usuario.nome | titlecase}}</span>
            </a>
        </div>

    </div>
</div>
<!-- / SIDEBAR CONTENT -->

<!-- SIDEBAR FOOT -->
<div fxLayout="column" fxLayoutAlign="end stretch" >
    <mat-divider></mat-divider>
    <mat-toolbar>
        <button mat-icon-button class="secondary-text" routerLink="/apps/tarefas/administrativo/minhas-tarefas/entrada" routerLinkActive="mat-accent" matTooltip="Tarefas">
            <mat-icon>check_box</mat-icon>
        </button>
        <button disabled mat-icon-button class="secondary-text" routerLink="/apps/calendario/minhas-tarefas/todas" routerLinkActive="mat-accent" matTooltip="Calendário">
            <mat-icon>calendar_today</mat-icon>
        </button>
    </mat-toolbar>
</div>
<!-- / SIDEBAR FOOT -->