<div id="arquivista-detail">

    <div fxFlex fxLayout="column">

        <div class="arquivista-header">

            <div fxLayout="row" fxLayoutAlign="start center">
                <div>
                    <button *ngIf="mobileMode" mat-icon-button (click)="deselectCurrentProcesso()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>

                    <button *ngIf="!mobileMode && !(maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado()">
                        <mat-icon class="secondary-text">zoom_out_map</mat-icon>
                    </button>

                    <button *ngIf="!mobileMode && (maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado()">
                        <mat-icon class="secondary-text">subdirectory_arrow_right</mat-icon>
                    </button>
                </div>

                NO NUP {{(processo$ | async)?.NUP | formatNup}}
                ATÉ {{(processo$ | async)?.dataHoraAbertura | date: 'dd/MM/yyyy'}}

                <div class="actions" fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button aria-label="Processo" matTooltip="Processo"
                            [routerLink]="['processo', (processo$ | async)?.id]"
                            [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="black-fg">book</mat-icon>
                    </button>

                    <button mat-icon-button aria-label="Lembretes" matTooltip="Lembretes"
                            [routerLink]="[(processo$ | async)?.id, 'lembretes']"
                            [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="black-fg">notes</mat-icon>
                    </button>

                    <button *ngIf="(processo$ | async)?.dataHoraProximaTransicao" mat-icon-button aria-label="Realizar Transição" matTooltip="Realizar Transição"
                            [routerLink]="[(processo$ | async)?.id, 'realizar-transicao', 'criar']"
                            [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="black-fg">swap_horiz</mat-icon>
                    </button>

                    <button *ngIf="!(processo$ | async)?.dataHoraProximaTransicao && isPendenciaAnalise()" mat-icon-button aria-label="Realizar Transição" matTooltip="Data Prevista Transição"
                            [routerLink]="[(processo$ | async)?.id, 'criar-data-prevista-transicao']"
                            [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="black-fg">date_range</mat-icon>
                    </button>


                    <button mat-icon-button aria-label="Classificação" matTooltip="Classificação"
                            [routerLink]="this.setRouteClassificacao()"
                            [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="black-fg">format_indent_increase</mat-icon>
                    </button>



                </div>
            </div>
            <cdk-vinculacao-etiqueta-chips class="mr-24 ml-24"
                                           placeholderEtiq="Etiquetas da arquivista"
                                           [vinculacoesEtiquetas]="(processo$ | async)?.vinculacoesEtiquetas"
                                           (create)="onEtiquetaCreate($event)"
                                           (edit)="onEtiquetaEdit($event)"
                                           [savingVincEtiquetaId]="(savingVincEtiquetaId$ | async)"
                                           [errors]="(errors$ | async)"
                                           [pagination]="vinculacaoEtiquetaPagination"
                                           (delete)="onEtiquetaDelete($event)">
            </cdk-vinculacao-etiqueta-chips>

        </div>

        <div class="arquivista-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

