<div class="header" *ngIf="!(expandir$ | async)">
    <div class="actions">
        <button *ngIf="mobileMode" mat-icon-button (click)="deselectCurrentProcesso()">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

        <button *ngIf="!mobileMode && !(maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(true)">
            <mat-icon class="secondary-text">fullscreen</mat-icon>
        </button>

        <button *ngIf="!mobileMode && (maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(false)">
            <mat-icon class="secondary-text">fullscreen_exit</mat-icon>
        </button>
    </div>

    <div class="navigation">
        <button mat-icon-button aria-label="Processo" matTooltip="Processo"
                [routerLink]="['processo', (processo$ | async)?.id, 'visualizar']"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">book</mat-icon>
        </button>

        <button mat-icon-button aria-label="Lembretes" matTooltip="Editar"
                [routerLink]="[(processo$ | async)?.id, 'editar']"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">edit</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!!(modalidadeTransicao$ | async)"
                aria-label="Realizar Temporalidade e Destinação" [matTooltip]="'Realizar ' + (modalidadeTransicao$ | async).valor | titlecase"
                [routerLink]="[(processo$ | async)?.id, 'temporalidade-destinacao']"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">swap_horiz</mat-icon>
        </button>

        <button mat-icon-button *ngIf="(processo$ | async).modalidadeFase?.valor === 'INTERMEDIÁRIA'"
                aria-label="Desarquivar" matTooltip="Desarquivar"
                [routerLink]="[(processo$ | async)?.id, 'desarquivar']"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">unarchive</mat-icon>
        </button>

        <button mat-icon-button
                aria-label="Registrar Extravio" matTooltip="Registrar Extravio"
                [routerLink]="[(processo$ | async)?.id, 'registrar-extravio']"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">error_outline</mat-icon>
        </button>

    </div>
</div>

<div class="content" cdkPerfectScrollbar>
    <router-outlet></router-outlet>
</div>

