<div fxLayout="row" [dndDraggable]="draggable.data" fxLayoutAlign="start center">

    <mat-checkbox class="mr-8" [checked]="selected" (change)="onSelectedChange()"
                  (click)="$event.stopPropagation();">
    </mat-checkbox>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex [ngClass]="{'nao-respondido': !documentoAvulso.dataHoraResposta}">

            <div class="title" fxLayout="row">
                <mat-icon *ngIf="documentoAvulso.processo?.documentoAvulsoOrigem">mail</mat-icon>
                <span class="text-truncate">PROCESSO {{documentoAvulso.processo?.NUP | formatNup}}</span>
            </div>

            <div class="subtitle">
                <span class="text-truncate">{{documentoAvulso.processo?.modalidadeMeio?.valor }}
                    {{documentoAvulso.processo?.especieProcesso?.nome }}</span>
            </div>

            <div class="subtitle">
                <span *ngIf="!documentoAvulso.dataHoraResposta" class="text-truncate">
                    Ofício vinculado pendente de resposta</span>
                <span *ngIf="documentoAvulso.dataHoraResposta" class="text-truncate">
                    Ofício vinculado respondido em
                    {{documentoAvulso.dataHoraResposta | date: 'dd/MM/yyyy H:mm'}}</span>
            </div>

            <div class="body mt-4">
                <div>
                    {{documentoAvulso.setorResponsavel?.nome}} ({{documentoAvulso.setorResponsavel?.unidade?.sigla}})
                </div>

                <div>
                    {{documentoAvulso.dataHoraInicioPrazo | date: 'dd/MM/yyyy'}}
                    ATÉ {{documentoAvulso.dataHoraFinalPrazo | date: 'dd/MM/yyyy'}}
                </div>
            </div>

            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of documentoAvulso.vinculacoesEtiquetas"
                     fxLayout="row" fxLayoutAlign="start center">
                    <div class="etiqueta-color"
                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
