<mat-form-field *ngIf="valid" fxFlex>
    <mat-chip-list #chipList>
        <mat-chip
                [ngStyle]="{'background-color': vinculacaoEtiqueta.etiqueta.corHexadecimal}"
                *ngFor="let vinculacaoEtiqueta of vinculacoesEtiquetas"
                [selectable]="selectable"
                [removable]="false === vinculacaoEtiqueta.etiqueta.sistema"
                (click)="openDialogEdit(vinculacaoEtiqueta)"
                (removed)="remove(vinculacaoEtiqueta)">
                <mat-icon class="icon">{{vinculacaoEtiqueta.conteudo?'more':'perm_identity'}}</mat-icon>
            {{vinculacaoEtiqueta.etiqueta.nome}}
            <mat-icon matChipRemove *ngIf="false === vinculacaoEtiqueta.etiqueta.sistema">cancel</mat-icon>
        </mat-chip>
        <input #etiquetaInput
               placeholder="Etiquetas"
               [formControl]="etiquetaCtrl"
               [matAutocomplete]="etiqueta.autocomplete"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <cdk-etiqueta-autocomplete
        #etiqueta="etiquetaAutocomplete"
        [control]="etiquetaCtrl"
        [pagination]="pagination"
        (selected)="selected($event)">
    </cdk-etiqueta-autocomplete>
</mat-form-field>
