visibilidade-edit {

    mat-radio-group {

        &.poderes-rg {
            padding: 16px;
            display: flex;
            flex-direction: column;
            margin: 15px 0;
        }
    }

    mat-radio-button {
        margin: 5px;
    }

}
