anexar-copia {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .actions {
        display: flex;
        flex: 0 0 auto;
        position: relative;

        .nup {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
            font-size: 8px;
        }

        .anexar-copia {
            margin-left: auto;
            margin-right: 32px;
        }
    }
}
