anexar-copia {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .actions {
        .anexar-copia {
            margin-left: auto;
            margin-right: 32px;
        }
    }
}
