<div class="header">
    <mat-icon class="mr-8 s-16">view_array</mat-icon>
    <a [routerLink]="['/apps/admin/templates/listar']">templates</a>
    <span class="mr-4 ml-4">/</span>
    <span>template {{routerState.params.templateHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-template-form
        [template]="template"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [tipoDocumentoPagination]="tipoDocumentoPagination"
        [modalidadeTemplatePagination]="modalidadeTemplatePagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-template-form>
</div>
