<div fxFlex fxLayout="column">
    <div fxFlex="0 1 auto" fxLayout="column" class="accent">
        <h1 class="m-16">Ajuda</h1>
    </div>

    <div class="p-16" fxFlex="1 1 auto" fxLayout="column">
        <div>
            <form fxLayoutGap="16px"
                  fxLayout="column"
                  fxLayoutAlign="start"
                  name="form" [formGroup]="form"
                  (submit)="pesquisar()">

                <div fxFlex="1 0 auto" fxLayout="column">
                    <mat-form-field fxFlex="100">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <input matInput placeholder="Pesquisa" formControlName="pesquisa" maxlength="255" required
                                   autocomplete="off">
                        </div>
                    </mat-form-field>
                </div>
            </form>

        </div>

        <div class="mt-16" *ngIf="card === 'form'">
            <table *ngIf="resultado.length > 0">
                <tr *ngFor="let topico of resultado">
                    <td>
                        <div class="topico-titulo mb-4" (click)="carregar(topico)">
                            {{topico.titulo}}
                        </div>
                        <div class="topico-descricao mb-16">
                            {{topico.descricao}}
                        </div>
                    </td>
                </tr>
                <tr>
            </table>
        </div>

        <div *ngIf="isSubmited && resultado.length === 0">
            <p>Nenhum resultado encontrado</p>
        </div>

        <div *ngIf="card === 'modulo'">
            <button class="back" mat-icon-button
                    (click)="back()"
                    aria-label="voltar"
                    matTooltip="Voltar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <div #container></div>

    </div>
</div>
