ajuda {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .header{
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-self: stretch;
        > .form {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
        }
        > .campo {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            align-self: stretch;
        }
    }
    > .footer {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        .options {
            margin: 0 8px 0 8px;
        }
    }
    .topico-titulo {
        cursor: pointer;
        color: #1d75b3;
    }

    .topico-descricao {

    }

    .menu {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .menu .menuItem {
        display: flex;
        height: 30px;
        border: 1px solid #e6e6e6;
        padding: 6px 12px 0 12px;
        border-radius: 20px;
        margin-right: 16px;
    }

    .menu .menuItem, .menu .menuItemOver {
        margin-right: 16px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
