<div class="p-16" fxFlex fxLayout="column">
    <div>
        <h1>Ajuda</h1>
    </div>

    <div>
        <form fxLayoutGap="16px"
              fxLayout="column"
              fxLayoutAlign="start"
              name="form" [formGroup]="form"
                (submit)="pesquisar()">

            <div fxFlex="1 0 auto" fxLayout="column">
                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Pesquisa" formControlName="pesquisa" maxlength="255" required autocomplete="off">
                    </div>
                </mat-form-field>
            </div>
        </form>

    </div>

    <div class="mt-16" *ngIf="card === 'form'">
        <table *ngIf="resultado.length > 0">
            <tr *ngFor="let topico of resultado">
                <td>
                    <div class="topico-titulo mb-4" (click)="carregar(topico)">
                        {{topico.titulo}}
                    </div>
                    <div class="topico-descricao mb-16">
                        {{topico.descricao}}
                    </div>
                </td>
            </tr>
            <tr>
        </table>
    </div>

    <div *ngIf="isSubmited && resultado.length === 0">
        <p>Nenhum resultado encontrado</p>
    </div>

    <div *ngIf="card === 'modulo'">
        <button class="back" mat-icon-button
                (click)="back()"
                aria-label="voltar"
                matTooltip="Voltar">
            <mat-icon>arrow_back</mat-icon>
        </button>
            <div *ngIf="titulo === 'Criar tarefas'">
                <ajuda-tarefa-create></ajuda-tarefa-create>
            </div>
            <div *ngIf="titulo === 'Controle de Acesso'">
                <ajuda-visibilidade></ajuda-visibilidade>
            </div>
            <div *ngIf="titulo === 'Etiquetando tarefas em bloco'">
                <ajuda-vinculacao-etiqueta-create-bloco></ajuda-vinculacao-etiqueta-create-bloco>
            </div>
            <div *ngIf="titulo === 'Upload de minutas em bloco'">
                <ajuda-upload-bloco></ajuda-upload-bloco>
            </div>
            <div *ngIf="titulo === 'Editando tarefas em bloco'">
                <ajuda-tarefa-empty></ajuda-tarefa-empty>
            </div>
            <div *ngIf="titulo === 'Lançando uma atividade'">
                <ajuda-atividade-create></ajuda-atividade-create>
            </div>
            <div *ngIf="titulo === 'Criar compartilhamento de tarefas'">
                <ajuda-compartilhamento-create></ajuda-compartilhamento-create>
            </div>
            <div *ngIf="titulo === 'Criação de minutas em bloco de tarefas'">
                <ajuda-modelo-bloco></ajuda-modelo-bloco>
            </div>
            <div *ngIf="titulo === 'Criando ofícios em bloco'">
                <ajuda-documento-avulso-create-bloco></ajuda-documento-avulso-create-bloco>
            </div>
            <div *ngIf="titulo === 'Compartilhando tarefas em bloco'">
                <ajuda-compartilhamento-create-bloco></ajuda-compartilhamento-create-bloco>
            </div>
    </div>

    <div #container></div>

</div>
