<cdk-processo-form
        [processo]="processo"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [especieProcessoPagination]="especieProcessoPagination"
        [setorAtualPagination]="setorAtualPagination"
        (gerirProcedencia)="gerirProcedencia()"
        (editProcedencia)="editProcedencia($event)"
        [procedencia]="procedencia"
        [logEntryPagination]="logEntryPagination"
        (save)="submit($event)">
</cdk-processo-form>

<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
