painel {

    .center {

        .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

        }

        .content {
            flex: 1;

            .widget-group {
                align-items: flex-start;
            }
        }
    }


}
