<div class="page-layout simple inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header">
            <div class="welcome">
                <span class="mat-headline"
                      [@animate]="{value:'*',params:{x:'50px'}}">Bem-vindo, {{(_profile.nome.split(' ')[0]).charAt(0) + (_profile.nome.split(' ')[0]).slice(1).toLowerCase()}}
                </span>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <widgets *cdkIfOnDom
                     [@animateStagger]="{value:'50'}"></widgets>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->
</div>
