painel {

    .center {

        flex: 1 0 auto;

        .header {
            height: 80px;
            min-height: 80px;
            max-height: 80px;

        }

        .content {
            flex: 1 0 auto;
        }
    }
}
