<div id="painel" class="page-layout simple left-sidebar inner-scroll" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">Bem-vindo, {{(_profile.usuario.nome.split(' ')[0]).charAt(0) + (_profile.usuario.nome.split(' ')[0]).slice(1).toLowerCase()}}
                </span>

            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content" fxLayout="column">

            <div class="widget-group p-12" fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" *fuseIfOnDom
                 [@animateStagger]="{value:'50'}">

                <!-- WIDGET Tarefa -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <mat-spinner *ngIf="tarefasCount === false" diameter="72"></mat-spinner>
                            <div *ngIf="tarefasCount !== false" class="light-blue-fg font-size-72 line-height-72">
                                {{tarefasCount}}
                            </div>
                            <div class="h3 font-weight-500">
                                Tarefas Administrativas
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                               <span class="h4 text-truncate">
                                   Vencidas:
                               </span>
                            <mat-spinner class="ml-8" *ngIf="tarefasVencidasCount === false" diameter="15"></mat-spinner>
                            <span *ngIf="tarefasVencidasCount !== false" class="h4 ml-8 warn-500-fg">
                                       {{tarefasVencidasCount}}
                            </span>
                        </div>
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            Informa a quantidade de tarefas
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET Documento Avulso -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <mat-spinner *ngIf="documentosAvulsosCount === false" diameter="72"></mat-spinner>
                            <div *ngIf="documentosAvulsosCount !== false" class="orange-fg font-size-72 line-height-72">
                                {{documentosAvulsosCount}}
                            </div>
                            <div class="h3 font-weight-500">
                                Ofícios Pendentes
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                               <span class="h4 text-truncate">
                                   Vencidos:
                               </span>
                            <mat-spinner class="ml-8" *ngIf="documentosAvulsosVencidosCount === false" diameter="15"></mat-spinner>
                            <span *ngIf="documentosAvulsosVencidosCount !== false" class="h4 ml-8 warn-500-fg">
                                       {{documentosAvulsosVencidosCount}}
                            </span>
                        </div>
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            Informa a quantidade de ofícios
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET Tramitação -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <mat-spinner *ngIf="tramitacoesCount === false" diameter="72"></mat-spinner>
                            <div *ngIf="tramitacoesCount !== false" class="green-fg font-size-72 line-height-72">
                                {{tramitacoesCount}}
                            </div>
                            <div class="h3 font-weight-500">
                                Tramitações Pendentes
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                               <span class="h4 text-truncate">
                                   Autos físicos em trâmite para minha unidade
                               </span>
                        </div>
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            Informa a quantidade de ofícios
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- / WIDGET 1 -->

                <cdk-historico-timeline class="p-12"  [isLoading]="historicoIsLoding" [historicos]="historicos"></cdk-historico-timeline>

                <!-- WIDGET Alertas -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="75" fxFlex.gt-md="50">

                    <!-- Front -->
                    <div class="fuse-widget-front p-16">

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="h4 font-weight-800">
                                Avisos
                            </div>
                        </div>

                        <div class="p-8 pb-32" fxLayout="column" fxLayoutAlign="start start">
                            <div class="h3 font-weight-500">
                                Bem-vindo ao SUPP, versão beta 0.0.1!
                            </div>
                        </div>

                        <div class="p-8 pb-32" fxLayout="column" fxLayoutAlign="start start">
                            <div class="h3 font-weight-500">
                                Os problemas encontrados devem ser enviados para sapiens@agu.gov.br
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 1 -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->
</div>
