painel {

    flex: 1 1 auto;
    display: flex;

    > .page-layout {
        flex: 1 1 auto;
        display: flex;

        > .center {

            display: flex;
            flex: 1 1 auto;
            flex-direction: column;

            > .header {
                display: flex;
                flex: 0 1 auto;
                height: 80px;
                min-height: 80px;
                max-height: 80px;

                > .welcome {
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            > .content {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                height: 0;
                overflow-y: auto;
                padding: 16px;
            }
        }
    }


}
