<div class="processo-edit-content page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="routerState.params.processoHandle && routerState.params.processoHandle !== 'criar' && !steps"
                 class="sidebar" [ngClass]="{'full': routerState.url.indexOf('apps/processo') > -1}"
                 name="processo-edit-main-sidebar" position="left"
                 [lockedOpen]="routerState.url.indexOf('apps/processo') > -1 ? 'gt-md' : 'gt-xl'">

        <!-- SIDEBAR CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <processo-edit-main-sidebar [@animate]="{value:'*'}"></processo-edit-main-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        *ngIf="routerState.url.indexOf('apps/processo') > -1 && routerState.params.processoHandle && routerState.params.processoHandle !== 'criar'"
                        (click)="toggleSidebar('processo-edit-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>

                <button mat-icon-button
                        *ngIf="routerState.url.indexOf('apps/processo') === -1 && routerState.params.processoHandle && routerState.params.processoHandle !== 'criar'"
                        (click)="toggleSidebar('processo-edit-main-sidebar')" fxHide.gt-xl>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" fxFlex>
            <div class="content" fxFlex cdkPerfectScrollbar>
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
