@import "../../../../../@cdk/scss/cdk";

processo-edit {

    .processo-edit-content {
        height: 100%;
    }

    .sidebar {

        &:not(.locked-open) {
            background: white;
        }

        &.full {
            background: transparent !important;
            box-shadow: none !important;
        }

    }

    .center {
    }
}
