<div class="page-layout full-width left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="routerState.params.processoHandle && routerState.params.processoHandle !== 'criar' && !steps"
                 class="sidebar"
                 name="processo-edit-main-sidebar" position="left"
                 [lockedOpen]="routerState.url.indexOf('apps/processo') > -1 ? 'gt-md' : 'gt-xl'">
        <processo-edit-main-sidebar [@animate]="{value:'*'}"></processo-edit-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        *ngIf="routerState.url.indexOf('apps/processo') > -1 && routerState.params.processoHandle && routerState.params.processoHandle !== 'criar'"
                        (click)="toggleSidebar('processo-edit-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>

                <button mat-icon-button
                        *ngIf="routerState.url.indexOf('apps/processo') === -1 && routerState.params.processoHandle && routerState.params.processoHandle !== 'criar'"
                        (click)="toggleSidebar('processo-edit-main-sidebar')" fxHide.gt-xl>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <div class="content" cdkPerfectScrollbar>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- / CENTER -->
</div>
