@import "src/@fuse/scss/fuse";

processo-edit {
    height: 100%;

    #processo-edit {
        height: 100%;
        overflow-y: auto;
    }

    .sidebar {

        &:not(.locked-open) {
            background: white;
        }

        &.full {
            background: transparent !important;
            box-shadow: none !important;

            &.locked-open {
                margin-top: 42px;
            }
        }

    }

    .center {

        width: 100%;

        .header {

        }
    }
}
