<div class="page-layout left-sidebar" fxFlex>

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="cdk-tipo-relatorio-filter" position="left">
        <cdk-tipo-relatorio-filter (selected)="setListFilter($event)" ></cdk-tipo-relatorio-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="content" fxFlex fxLayout="column">

        <div class="toolbar pt-8 pb-8 pl-16 pr-8" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <mat-checkbox (click)="toggleSelectAll($event)"
                          [checked]="!!selectedIds.length"
                          [indeterminate]="isIndeterminate">
            </mat-checkbox>

            <div class="toolbar-separator" *ngIf="selectedIds.length"></div>

            <div *ngIf="selectedIds?.length">
                {{selectedIds?.length}}
            </div>

            <div class="toolbar-separator" *ngIf="selectedIds?.length && folders?.length"></div>

            <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                    aria-label="Ferramentas" (click)="$event.stopPropagation()"
                    *ngIf="selectedIds?.length > 1">
                <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">

                <button mat-menu-item aria-label="apagar"
                        (click)="doDeleteRelatorioBloco()">
                    <ng-container>
                        <mat-icon>delete</mat-icon>
                        <span>Apagar</span>
                    </ng-container>
                </button>

            </mat-menu>

            <div class="relatorio-list-control" fxLayout="row" fxLayoutAlign="start center">
                <button class="refresh" mat-icon-button
                        (click)="loadPage()"
                        aria-label="recarregar"
                        matTooltip="Recarregar">
                    <mat-icon>refresh</mat-icon>
                </button>

                <button class="toggle-filter" [ngClass]="{'warn': !(listFilter | json).includes('{}')}"
                        mat-icon-button
                        (click)="toggleFilter()"
                        aria-label="filtrar"
                        matTooltip="Filtrar">
                    <mat-icon>filter_list</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                    <mat-icon>sort</mat-icon>
                </button>
                <mat-menu fxHide #selectMenu="matMenu">
                    <button mat-menu-item (click)="doSort({'criadoEm': 'ASC'})">Mais antigas</button>
                    <button mat-menu-item (click)="doSort({'id': 'DESC'})">Mais Recente</button>
                </mat-menu>

                <div class="toolbar-separator"></div>

                <div>
                    {{tipoRelatorios.length}}/{{pagination.total}}
                </div>
            </div>
        </div>

        <div fxLayout="column" fxFlex
             fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner class="relatorio-list-loading" diameter="24"></mat-spinner>
        </div>

        <div *ngIf="tipoRelatorios.length === 0 && !loading" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">
            <span class="tipoRelatorios hint-text">{{ 'RELATORIO.NO_MESSAGES' | translate }}</span>
        </div>

        <div *ngIf="tipoRelatorios.length > 0"
             cdkPerfectScrollbar
             infiniteScroll
             fxFlex="1 1 auto" fxLayout="column"
             [scrollWindow]="false"
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="50"
             (scrolled)="onScroll()">

            <cdk-tipo-relatorio-list-item matRipple *ngFor="let tipoRelatorio of tipoRelatorios" [tipoRelatorio]="tipoRelatorio"
                                  (click)="selectRelatorio(tipoRelatorio);"
                                  [selected]="selectedIds.length > 0 && selectedIds.indexOf(tipoRelatorio.id) > -1"
                                  [deleting]="deletingIds.length > 0 && deletingIds.indexOf(tipoRelatorio.id) > -1"
                                  (toggleInSelectedRelatorios)="toggleInSelected($event)"
                                  (delete)="doDeleteRelatorio($event)"
                                  [ngClass]="{'selected':tipoRelatorio.id === currentRelatorioId}">
            </cdk-tipo-relatorio-list-item>

        </div>
    </div>
</div>