<form name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <div class="cdk-search-bar" [ngClass]="{'expanded':!collapsed}" id="UM">
        <div class="cdk-search-bar-content" id="DOIS">

            <button mat-icon-button class="cdk-search-bar-expander" aria-label="Expand Search Bar"
                    (click)="expand()"
                    *ngIf="collapsed">
                <mat-icon class="s-24 secondary-text">search</mat-icon>
            </button>

            <span *ngIf="!collapsed" id="TRES" class="form-field-flex">
                <input id="cdk-search-bar-input"
                       matInput placeholder="Procurar por processo"
                       formControlName="processo"
                       [matAutocomplete]="processoSearch.autocomplete"
                       (blur)="checkProcesso()">
                <cdk-processo-search-autocomplete
                    #processoSearch="processoSearchAutocomplete"
                    [control]="form.get('processo')"
                    [pagination]="processoPagination">
                </cdk-processo-search-autocomplete>
            </span>

            <button mat-icon-button class="cdk-search-bar-collapser" (click)="collapse()"
                    aria-label="Collapse Search Bar">
                <mat-icon class="s-24 secondary-text">close</mat-icon>
            </button>

        </div>
    </div>
</form>