<form name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <div class="cdk-search-bar" [ngClass]="{'expanded':!collapsed}">
        <div class="cdk-search-bar-content">

            <button mat-icon-button class="cdk-search-bar-expander" aria-label="Expand Search Bar"
                    (click)="expand()"
                    *ngIf="collapsed">
                <mat-icon class="s-24 secondary-text">search</mat-icon>
            </button>

            <div *ngIf="!collapsed" class="form-field-flex">
                <mat-icon class="secondary-text">search</mat-icon>
                <input matInput class="input-field"
                       placeholder="Pesquisa rápida de processos"
                       formControlName="processo"
                       [matAutocomplete]="processoSearch.autocomplete"
                       (blur)="checkProcesso()">
                <cdk-processo-search-autocomplete
                    #processoSearch="processoSearchAutocomplete"
                    [control]="form.get('processo')"
                    [pagination]="processoPagination">
                </cdk-processo-search-autocomplete>
            </div>

            <button mat-icon-button [ngClass]="collapsed? 'cdk-search-bar-collapser' : 'cdk-search-bar-expand'"
                    (click)="collapse()"
                    aria-label="Collapse Search Bar">
                <mat-icon class="s-24 secondary-text">close</mat-icon>
            </button>

        </div>
    </div>
</form>