<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mr-16">book</mat-icon>
            <span class="h5">Processo</span>
        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" *ngFor="let link of links">
                    <a class="nav-link" matRipple [routerLink]="[link.link]"
                       [routerLinkActive]="['active', 'accent']">
                        <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                        <span class="title">{{link.nome | titlecase}}</span>
                    </a>
                </div>

            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </div>
</div>
