@import 'src/@fuse/scss/fuse';

oficio-detail {

    width: 100%;

    #oficio-detail {
        height: 100%;
    }

    .oficio-loading {
        height: 100%;
    }

    .oficio-header {
        padding: 8px;
        border-bottom: 1px solid;

        .actions {
            min-width: 88px;
            margin-left: auto;
        }
    }


}
.responder-complementar {

    height: 100%;
    margin-top: 30px;

    .tag {
        font-size: 11px;
        border-radius: 2px;
        margin: 8px 4px 0 0;
        padding: 3px 8px;

        .tag-color {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 50%;
        }
    }

}
