@import '../../../../../@cdk/scss/cdk';

oficio-detail {

    height: 100%;

    .oficio-header {
        border-bottom: 1px solid;
        height: 56px;

        cdk-vinculacao-etiqueta-chips {
            width: 92%;
        }

        .pre-actions {
            width: 100%;
        }

        .actions {
            margin-left: auto;
        }
    }

    .oficio-content {

        height: 76%;

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
}



