<div class="header">
    <path icone="assignment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="etiquetas">
    </path>
</div>
<cdk-regra-grid
        [loading]="(loading$ | async)"
        [regras]="regras"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'delete']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (create)="create()"
        (delete)="delete($event)">
</cdk-regra-grid>
