<cdk-afastamento-grid
        [loading]="(loading$ | async)"
        [afastamentos]="(afastamentos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'edit', 'editConteudo', 'delete']"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (editConteudo)="editConteudo($event)"
        (create)="create()"
        (delete)="delete($event)">
</cdk-afastamento-grid>

<router-outlet></router-outlet>
