<div class="content" cdkPerfectScrollbar>
    <cdk-tarefa-form
        [tarefa]="tarefa"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [especieTarefaPagination]="especieTarefaPagination"
        [setorOrigemPagination]="setorOrigemPagination"
        [setorResponsavelPagination]="setorResponsavelPagination"
        [setorOrigemPaginationTree]="setorOrigemPaginationTree"
        (save)="submit($event)"
        (abort)="cancel()"
        (processo)="verificaVisibilidadeProcesso($event)">
    </cdk-tarefa-form>
</div>
