<div class="content" cdkPerfectScrollbar>
    <mat-list *ngIf="operacoes.length > 0" fxFlex cdkScrollTo>
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'light-green-50': operacao.success, 'pink-50': !operacao.success}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

    <cdk-tarefa-form
        *ngIf="operacoes.length <= 1"
        [tarefa]="tarefa"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [clearForm]="(isClearForm)"
        [especieTarefaPagination]="especieTarefaPagination"
        [setorOrigemPagination]="setorOrigemPagination"
        [setorResponsavelPagination]="setorResponsavelPagination"
        [setorOrigemPaginationTree]="setorOrigemPaginationTree"
        [lotacaoPagination]="lotacaoPagination"
        (save)="submit($event)"
        (abort)="cancel()"
        (processo)="verificaVisibilidadeProcesso($event)">
    </cdk-tarefa-form>
</div>
