<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para <strong>criação de ofícios em bloco</strong>, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias opera&ccedil;&otilde;es. <br><br>
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Ao clicar em <strong>Movimentar</strong>, a página de <strong>Atividade em bloco de tarefas</strong> é aberta.<br><br>
    </p>
    <p style="text-align: justify;">
        4. É possível escolher se vai <strong>Encerrar a tarefa</strong> ou não e escolher a <strong>Espécie de Atividade</strong>. 
        Também é permitido escolher a <strong>Data/Hora</strong> e o <strong>Usuário Responsável pela Atividade</strong>.
    </p>
    <p style="text-align: justify;">
        5. Após <strong>SALVAR</strong>, o <strong>Resultado do Bloco</strong> aparece na parte inferior da tela, mostrando a mensagem de 
        <strong>Atividade criada com sucesso</strong>.
    </p>
    <p style="text-align: justify;">
        6. Ao atualizar a página, se as tarefas foram encerradas, elas irão desaparecer.
    </p>
    <hr>
    <p><br></p>
</div>