<div class="content p-16" fxLayout="column">
    <h3><strong>CRIANDO ATIVIDADES EM BLOCO</strong></h3>

    <p style="text-align: justify;margin-left: 40px">
        1. No menu lateral esquerdo, para <strong>criação de atividades em bloco</strong>, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar diversas opera&ccedil;&otilde;es.
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Ao clicar em <strong>Movimentar</strong>, a página de <strong>criação de Atividades em bloco</strong> é aberta.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. É possível escolher se vai <strong>Encerrar a tarefa</strong> ou não e escolher a <strong>Espécie de Atividade</strong>. 
        Também é permitido escolher a <strong>Data/Hora</strong> e o <strong>Usuário Responsável pela Atividade</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. Após <strong>SALVAR</strong>, o <strong>Resultado do Bloco</strong> aparece na parte inferior da tela, mostrando a mensagem de 
        <strong>Atividade criada com sucesso</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Ao atualizar a página, se as tarefas foram encerradas, elas irão desaparecer.
        Do contrário, novas atividades vão ser incluídas na tarefa.
    </p>
    <hr>
    <p><br></p>
</div>