<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Espécie Setor"
                       formControlName="especieSetor"
                       [matAutocomplete]="especieSetor.autocomplete" required
                       (blur)="checkEspecieSetor()">
            </div>
            <cdk-especie-setor-autocomplete
                #especieSetor="especieSetorAutocomplete"
                [control]="form.get('especieSetor')"
                [pagination]="especieSetorPagination">
            </cdk-especie-setor-autocomplete>
            <button *ngIf="form.get('especieSetor').enabled" matSuffix mat-button mat-icon-button
                    (click)="showEspecieSetorGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('especieSetor').hasError('formError')">
                {{form.get('especieSetor').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-especie-setor-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'especie-setor-gridsearch'"
    [pagination]="especieSetorPagination"
    (selected)="selectEspecieSetor($event)"
    (cancel)="cancel()">
</cdk-especie-setor-gridsearch>
