<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <mat-label>Conteúdo</mat-label>
            <input matInput #conteudo
                   name="conteudo"
                   required
                   formControlName="conteudo">
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_USUARIO_EXTERNO'">
            <mat-label>Código da Assinatura Digital</mat-label>
            <input matInput #codigo
                   required
                   name="codigo"
                   formControlName="codigo">
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <input matInput placeholder="Tipo Documento"
                   formControlName="tipoDocumento"
                   [matAutocomplete]="tipoDocumento.autocomplete">
            <cdk-tipo-documento-autocomplete #tipoDocumento="tipoDocumentoAutocomplete" [control]="form.get('tipoDocumento')">
            </cdk-tipo-documento-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <input matInput placeholder="Criado Por"
                   formControlName="criadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('criadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <input matInput placeholder="Juntado Por"
                   formControlName="juntadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('juntadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <mat-label>Extensão</mat-label>
            <input matInput #extensao
                   name="extensao"
                   formControlName="extensao">
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
            <input matInput placeholder="Processo"
                   formControlName="processo"
                   [matAutocomplete]="processo.autocomplete">
            <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
            </cdk-processo-autocomplete>
        </mat-form-field>

        <div class="filtro-data" *showIfRole="'ROLE_COLABORADOR'">
            <span [ngClass]="{'filtrado': hasDateFilter('criadoEm')}">Criado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroCriadoEm" [ngClass]="{'filtrado': hasDateFilter('criadoEm')}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroCriadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="criadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraData($event, 'criadoEm')">
            </cdk-date-filter>
        </mat-menu>

        <div class="filtro-data" *showIfRole="'ROLE_COLABORADOR'">
            <span [ngClass]="{'filtrado': hasDateFilter('documento.juntadaAtual.criadoEm')}">Juntado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroJuntadoEm" [ngClass]="{'filtrado': hasDateFilter('documento.juntadaAtual.criadoEm')}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroJuntadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="documento.juntadaAtual.criadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraData($event, 'documento.juntadaAtual.criadoEm')">
            </cdk-date-filter>
        </mat-menu>

        <mat-checkbox *showIfRole="'ROLE_COLABORADOR'">
            Editor de Textos
        </mat-checkbox>
    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
