documento {

    height: 100%;

    .full-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1001;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }

        .content {

            height: 100%;

            .header {
                height: 64px !important;
                min-height: 64px !important;
                max-height: 64px !important;

                .componentes-digitais-navigation {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .previous {
                        margin-right: auto;
                    }

                    .next,
                    .done {
                        margin-left: auto;
                    }
                }
            }
        }
    }

}
