<div class="header">
    <mat-icon class="mr-8 s-16">insert_drive_file</mat-icon>
    <a [routerLink]="['/apps/admin/especie-processo/listar']">espécie processos</a>
    <span class="mr-4 ml-4">/</span>
    <span>espécie processo {{routerState.params.especieProcessoHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-processo-form
        [especieProcesso]="(especieProcesso$ | async)"
        [form]="formEspecieProcesso"
        [generoProcessoPagination]="generoProcessoPagination"
        [classificacaoPagination]="classificacaoProcessoPagination"
        [modalidadeMeioPagination]="modalidadeMeioPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieProcesso($event)"
        (abort)="doAbort()">
    </cdk-especie-processo-form>
</div>