<div class="content" cdkPerfectScrollbar>
    <cdk-especie-processo-form
        [especieProcesso]="(especieProcesso$ | async)"
        [form]="formEspecieProcesso"
        [generoProcessoPagination]="generoProcessoPagination"
        [classificacaoPagination]="classificacaoProcessoPagination"
        [modalidadeMeioPagination]="modalidadeMeioPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieProcesso($event)"
        (abort)="doAbort()">
    </cdk-especie-processo-form>
</div>