<form *ngIf="activeCard === 'form'" class="p-16" fxLayoutGap="36px"
      fxLayout="column"
      fxLayoutAlign="start"
      fxFlex="1 0 auto" name="form" [formGroup]="form" (submit)="submit()">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modalidade de Transição"
                       formControlName="modalidadeTransicao"
                       [matAutocomplete]="modalidadeTransicao.autocomplete" required
                       (blur)="checkModalidadeTransicao()">
            </div>
            <cdk-modalidade-transicao-autocomplete
                #modalidadeTransicao="modalidadeTransicaoAutocomplete"
                [control]="form.get('modalidadeTransicao')"
                [pagination]="modalidadeTransicaoPagination">
            </cdk-modalidade-transicao-autocomplete>
            <button *ngIf="form.get('modalidadeTransicao').enabled" matSuffix mat-button mat-icon-button
                    (click)="showModalidadeTransicaoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('modalidadeTransicao').hasError('formError')">
                {{form.get('modalidadeTransicao').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Método</mat-label>
            <input matInput #metodo
                   name="metodo"
                   formControlName="metodo"
                   maxlength="255" upperCase required>
            <mat-hint align="end">{{metodo.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Edital</mat-label>
            <input matInput #edital
                   name="edital"
                   formControlName="edital"
                   maxlength="255" upperCase required>
            <mat-hint align="end">{{edital.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="mr-16" fxFlex="1 0 auto">
            <textarea formControlName="observacao"
                      matInput placeholder="Observação" upperCase></textarea>
            <mat-error *ngIf="form.get('observacao').hasError('formError')">
                {{form.get('observacao').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12"
                [disabled]="form.invalid">
            SALVAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-modalidade-transicao-gridsearch
        fxFlex="1 0 auto"
        *ngIf="activeCard === 'modalidade-transicao-gridsearch'"
        [pagination]="modalidadeTransicaoPagination.filter"
        (selected)="selectModalidadeTransicao($event)"
        (cancel)="cancel()">
</cdk-modalidade-transicao-gridsearch>
