<div fxFlex fxLayout="column" *ngIf="this.documento">
    <div class="mb-8">
        <button mat-raised-button color="accent" class="mr-sm-12"
                mat-icon-button [matMenuTriggerFor]="remeter"
                [disabled]="this.documento?.documentoAvulsoRemessa.dataHoraRemessa != null || (isRemetendo$ | async)"
                aria-label="remeter ofício"
                matTooltip="Remeter Ofício">
            <mat-icon class="black-fg">send</mat-icon>
        </button>

        <mat-menu #remeter="matMenu">
            <button mat-menu-item
                    (click)="remeterDocumentoAvulso()">
                <mat-icon>send</mat-icon>
                <span>Manual</span>
            </button>

            <ng-template #dynamicButtons></ng-template>
        </mat-menu>
    </div>
    <div [hidden]="!this.documento.documentoAvulsoRemessa.dataHoraRemessa">
                <span *ngIf="this.documento.documentoAvulsoRemessa.dataHoraRemessa != null">
                    Objeto remetido em: {{this.documento.documentoAvulsoRemessa.dataHoraRemessa | date: 'dd/MM/yyyy HH:mm:ss':'-0300'}}
                </span>
        <br />
        <span *ngIf="this.documento.documentoAvulsoRemessa.usuarioRemessa != null">
                    Remetido por: {{this.documento.documentoAvulsoRemessa.usuarioRemessa.nome}}
                </span>

        <ng-template #dynamicStatus></ng-template>
    </div>
    <div *ngIf="(isRemetendo$ | async)" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <div *ngIf="!(isRemetendo$ | async)" style="overflow-scrolling: auto">
        <div>
            <mat-slide-toggle [checked]="!!!documento.documentoAvulsoRemessa.dataHoraEncerramento"
                              (change)="toggleEncerramento()"
                              class="mt-16 mr-16 mb-16">
                Acompanhar a resposta
            </mat-slide-toggle>
        </div>
        <cdk-documento-avulso-form
            [documentoAvulso]="documento?.documentoAvulsoRemessa"
            [saving]="(isSaving$ | async)"
            [errors]="(errors$ | async)"
            (save)="submit($event)">
        </cdk-documento-avulso-form>
    </div>

</div>