<div class="header">
    <mat-icon class="mr-8 s-16">my_location</mat-icon>
    <a [routerLink]="['/apps/admin/unidades/listar']">unidades</a>
    <span class="mr-4 ml-4">/</span>
    <a [routerLink]="['/apps/admin/unidades/editar', routerState.params.unidadeHandle]">
        unidade {{routerState.params.unidadeHandle}}</a>
    <span class="mr-4 ml-4">/</span>
    <span>competências</span>
</div>
<cdk-vinculacao-setor-municipio-grid
    [loading]="(loading$ | async)"
    [vinculacoesSetoresMunicipios]="(vinculacoesSetoresMunicipios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'setor.nome', 'municipio.nome', 'actions']"
    [actions]="['create', 'delete']"
    (reload)="reload($event)"
    (create)="create()"
    (delete)="delete($event)">
</cdk-vinculacao-setor-municipio-grid>
