<cdk-pessoa-grid
        [loading]="(loading$ | async)"
        [pessoas]="(pessoas$ | async)"
        [total]="(pagination$ | async)?.total"
        [pageSize]="(pagination$ | async)?.limit"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['edit', 'delete', 'select']"
        (reload)="reload($event)"
        [mode]="'search'"
        (edit)="edit($event)"
        (select)="doSelect($event)"
        (delete)="delete($event)">
</cdk-pessoa-grid>
