<div class="content" *ngIf="action == 'form-cadastro'">
    <div class="header">
      <div class="actions">
        <button mat-icon-button
                (click)="goBack()"
                aria-label="voltar"
                matTooltip="Voltar">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <div class="items" *ngIf="tipoValidacaoWorkflowList.length > 0">
      <div class="validacao-item" *ngFor="let tipoValidacaoWorkflow of tipoValidacaoWorkflowList"
           (click)="selectValidacaoWorkflow(tipoValidacaoWorkflow)">
        <div class="info">
          <div class="title">
            <span>{{tipoValidacaoWorkflow.valor}}</span>
          </div>
          <div class="body mt-4">
            <span>{{tipoValidacaoWorkflow.descricao}}</span>
          </div>
        </div>
  
        <div class="actions">
          <button mat-icon-button aria-label="selecionar">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="no-acoes-text" *ngIf="tipoValidacaoWorkflowList.length === 0">
      <span class="hint-text">{{ 'Nenhuma ação disponível!' }}</span>
    </div>
  </div>
  <router-outlet></router-outlet>
  