<div id="login" fxLayout="column">

    <div class="loading-config" *ngIf="(loadingConfig$ | async)">
        <mat-spinner color="accent" diameter="36"></mat-spinner>
    </div>

    <div class="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!(loadingConfig$ | async) && config && config.error">
        <div class="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <img [src]="config.logo">
            </div>

            <div class="subtitle">Sistema encontra-se indisponível no momento. Tente novamente mais tarde.</div>
            <div class="separator">
                <span class="text">OU</span>
            </div>
            <div class="register mb-8" fxLayout="column" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'" (click)="reloadConfig()">Recarregar</a>
            </div>
        </div>
    </div>

    <div class="login-gov-br" *ngIf="!!config && this.routerState.queryParams['code']">
        <div class="gov-br-wrapper" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <img [src]="config.logo">
            </div>

            <div class="subtitle">Realizando o login através do Gov.Br</div>
            <div class="loading-gov-br">
                <mat-spinner color="accent" diameter="36"></mat-spinner>
            </div>
        </div>
    </div>

    <cdk-login-form *ngIf="!this.routerState.queryParams['code']"
                    (save)="this.onSubmit($event)"
                    [certificadoDigital]="certificadoDigital"
                    [config]="(config$ | async)"
                    [version]="version"
                    [errorMessage]="errorMessage$ | async"
                    [loading]="loading$ | async"
                    [loadingConfig]="loadingConfig$ | async"></cdk-login-form>
</div>
