<div class="header">
    <mat-icon class="mr-8 s-16">check_box</mat-icon>
    <span>espécie tarefas</span>
</div>
<cdk-especie-tarefa-grid
    [loading]="(loading$ | async)"
    [especieTarefas]="(especieTarefas$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'descricao', 'generoTarefa.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-especie-tarefa-grid>
