<div fxLayout="row" class="page-layout full-width left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="favorito-edit-main-sidebar" position="left" lockedOpen="gt-xs">

        <!-- SIDEBAR CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <favorito-edit-main-sidebar [@animate]="{value:'*'}"></favorito-edit-main-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        (click)="toggleSidebar('favorito-edit-main-sidebar')" fxHide.gt-xs>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" cdkPerfectScrollbar>

            <router-outlet></router-outlet>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
