<!-- CONTENT HEADER -->
<div class="header" fxLayout="column" *ngIf="showFilter">
    <div class="filters">
        <cdk-feriado-grid-filter (selected)="setGridFilter($event)"></cdk-feriado-grid-filter>
    </div>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT -->
<div class="content" fxLayoutAlign="center start">

    <div class="mb-16 p-16" fxFlex fxLayout="column" fxLayoutAlign="center center">

        <div class="actions m-8" fxFlex fxLayout="row" fxLayoutAlign="end center">

             <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteFeriados(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (click)="toggleSelectAll($event)"
                                  [checked]="hasSelected"
                                  [indeterminate]="isIndeterminate">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let feriado">
                    <mat-checkbox [checked]="selectedIds.indexOf(feriado.id) > -1"
                                  (change)="toggleInSelected(feriado.id)"
                                  (click)="$event.stopPropagation();"
                                  [disabled]="deletedIds?.indexOf(feriado.id) > -1">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                </th>
                <td mat-cell *matCellDef="let feriado" class='has_label_on_mobile' data-label='Id: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(feriado.id) > -1}"> {{feriado.id}} </td>
            </ng-container>

            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nome
                </th>
                <td mat-cell *matCellDef="let feriado" class='has_label_on_mobile' data-label='Nome: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(feriado.id) > -1}"> {{feriado.nome}} </td>
            </ng-container>

            <!-- Data do Feriado Column -->
            <ng-container matColumnDef="dataFeriado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Data do Feriado
                </th>
                <td mat-cell *matCellDef="let feriado" class='has_label_on_mobile' data-label='Data do Feriado: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(feriado.id) > -1}"> {{feriado.dataFeriado}} </td>
            </ng-container>

            <!-- Municipio Column -->
            <ng-container matColumnDef="municipio.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Município
                </th>
                <td mat-cell *matCellDef="let feriado" class='has_label_on_mobile' data-label='Município: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(feriado.id) > -1}"> {{feriado.municipio?.nome}} </td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="estado.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estado
                </th>
                <td mat-cell *matCellDef="let feriado" class='has_label_on_mobile' data-label='Estado: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(feriado.id) > -1}"> {{feriado.estado?.nome}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let feriado">

                    <button mat-icon-button
                            *ngIf="actions.indexOf('select') > -1"
                            (click)="selectFeriado(feriado)"
                            aria-label="selecionar"
                            matTooltip="Selecionar">
                        <mat-icon>keyboard_return</mat-icon>
                    </button>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('edit') > -1"
                            [disabled]="deletedIds?.indexOf(feriado.id) > -1"
                            (click)="editFeriado(feriado.id)"
                            aria-label="editar"
                            matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>


                    <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(feriado.id) > -1">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(feriado.id) === -1"
                            [disabled]="deletedIds?.indexOf(feriado.id) > -1"
                            (click)="deleteFeriado(feriado.id)"
                            aria-label="remover"
                            matTooltip="Remover">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let feriado; columns: displayedColumns;">
            </tr>
        </table>

        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
