<div class="header">
    <mat-icon class="mr-8 s-16">person</mat-icon>
    <span>usuários externo</span>
</div>
<cdk-usuario-grid
    [loading]="(loading$ | async)"
    [usuarios]="(usuarios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['id','nome','username','email','enabled','actions']"
    [externo]="this.externo"
    [actions]="['edit', 'vincularPessoa']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (vincular)="vincularPessoa($event)">
</cdk-usuario-grid>