<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput #nome
                   name="nome"
                   formControlName="nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Glossário</mat-label>
            <input matInput #glossario
                   name="glossario"
                   formControlName="glossario">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dispositivo Legal</mat-label>
            <input matInput #dispositivoLegal
                   name="dispositivoLegal"
                   formControlName="dispositivoLegal">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Código do CNJ</mat-label>
            <input matInput #codigoCNJ
                   name="codigoCNJ"
                   formControlName="codigoCNJ">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Assunto Administrativo"
                   formControlName="parent"
                   [matAutocomplete]="assuntoAdministrativo.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-assunto-administrativo-autocomplete #assuntoAdministrativo="assuntoAdministrativoAutocomplete"
                                                     [control]="form.get('parent')">
            </cdk-assunto-administrativo-autocomplete>
        </mat-form-field>

        <span class="botao-toggle" *ngIf="hasInatived">
            Ativo
            <mat-button-toggle-group class="mat-button-toggle-group-custom" formControlName="ativo">
                <mat-button-toggle value="true" class="button-toggle-custom">Sim</mat-button-toggle>
                <mat-button-toggle value="todos" class="button-toggle-custom">Todos</mat-button-toggle>
                <mat-button-toggle value="false" class="button-toggle-custom">Não</mat-button-toggle>
            </mat-button-toggle-group>
        </span>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
