@import "src/@cdk/scss/cdk";

arquivista-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    > .arquivista-list {
        display: flex;
        flex-direction: column;

        > .loading {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &.maximizado {
            display: none !important;
        }

        &.mobile-mode {

            &.current-arquivista {
                display: none !important;
            }
        }
    }

    > .arquivista-detail {

        display: flex;

        &.mobile-mode {

            &.no-current-arquivista {
                display: none !important;
            }
        }
    }

}


