pessoa-edit-main-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    > .header {
        flex: 0 1 auto;
    }

    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 0;
        overflow-y: auto;
    }
}
