pessoa-edit-main-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    > .header {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
        background: inherit !important;
    }

    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 0;
        overflow-y: auto;
        background: inherit !important;
    }

    .nav-item {
        .nav-link {
            display: flex !important;
            align-items: center !important;
            padding: 0px 10px 0px 10px !important;
            border-radius: 0px 12px 12px 0px !important;
            margin-right: 16px !important;
            height: 40px !important;
            min-height: 40px !important;
            max-height: 70px !important;
        }
    }
}
