<div fxLayout="row" class="unidades-content page-layout full-width left-sidebar inner-scroll">
    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="routerState.params.unidadeHandle && routerState.params.unidadeHandle !== 'default' && routerState.params.unidadeHandle !== 'criar'"
                 class="sidebar full" name="unidades-orgao-central-main-sidebar" position="left"
                 [lockedOpen]="'gt-md'">
        <!-- SIDEBAR CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <unidades-orgao-central-main-sidebar [@animate]="{value:'*'}"></unidades-orgao-central-main-sidebar>
        </div>
    </cdk-sidebar>

    <!-- CENTER -->
    <div class="center" fxFlex>

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        *ngIf="routerState.params.unidadeHandle && routerState.params.unidadeHandle !== 'default' && routerState.params.unidadeHandle !== 'criar'"
                        (click)="toggleSidebar('unidades-orgao-central-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card p-16" cdkPerfectScrollbar fxFlex>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>

