<div class="left-sidebar" fxFlex fxLayout="row">
    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="unidades-orgao-central-main-sidebar" position="left"
                 [lockedOpen]="routerState.params['unidadeHandle'] !== 'default' ? 'gt-sm' : ''">
        <unidades-orgao-central-main-sidebar [@animate]="{value:'*'}"></unidades-orgao-central-main-sidebar>
    </cdk-sidebar>
</div>

<div class="unidades-content" fxFlex fxLayout="column">
    <!-- CONTENT -->
    <div class="p-16" fxFlex="1 1 auto" cdkPerfectScrollbar>
        <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT -->
</div>