<div class="pr-16" fxFlex *ngIf="activeCard === 'form'" cdkPerfectScrollbar>
    <form *ngIf="activeCard === 'form'" class="p-24 mr-24" fxLayoutGap="16px"
          fxLayout="column"
          fxLayoutAlign="start"
          name="form" [formGroup]="form">

        <div fxFlex="1 0 auto" fxLayout="column">
            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Número" formControlName="codigoDocumento" maxlength="255" required>
                </div>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modalidade"
                       formControlName="modalidadeDocumentoIdentificador"
                       [matAutocomplete]="modalidadeDocumentoIdentificador.autocomplete"
                       (blur)="checkModalidadeDocumentoIdentificador()"
                       required>
            </div>
            <cdk-modalidade-documento-identificador-autocomplete
                #modalidadeDocumentoIdentificador="modalidadeDocumentoIdentificadorAutocomplete"
                [control]="form.get('modalidadeDocumentoIdentificador')"
                [pagination]="modalidadeDocumentoIdentificadorPagination">
            </cdk-modalidade-documento-identificador-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showModalidadeDocumentoIdentificadorGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('modalidadeDocumentoIdentificador').hasError('formError')">
                {{form.get('modalidadeDocumentoIdentificador').errors.formError}}
            </mat-error>
        </mat-form-field>

        <div fxFlex="1 0 auto" fxLayout="column">

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Emissor" formControlName="emissorDocumento" maxlength="255" required>
                </div>
            </mat-form-field>

        </div>

        <div fxFlex="1 0 auto" fxLayout="column">

            <mat-form-field fxFlex="100">
                <mat-label>Data Emissão</mat-label>
                <input matInput [matDatepicker]="dataEmissao" placeholder="Data Emissão"
                       formControlName="dataEmissao" required>
                <mat-datepicker-toggle matSuffix [for]="dataEmissao"></mat-datepicker-toggle>
                <mat-datepicker #dataEmissao></mat-datepicker>
            </mat-form-field>

        </div>

        <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

        <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                    [disabled]="form.invalid">
                SALVAR
            </button>
            <button mat-raised-button color="warn" class="mr-sm-12" (click)="doAbort()">
                CANCELAR
            </button>
        </div>

        <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
        </div>
    </form>
</div>

<cdk-modalidade-documento-identificador-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'documento-identificador-gridsearch'"
    (selected)="selectModalidadeDocumentoIdentificador($event)"
    (cancel)="cancel()">
</cdk-modalidade-documento-identificador-gridsearch>

