cdk-documento-identificador-form {

    .div-form{
        width: 350px;
    }

    .form-card {
      border-radius: 8px;
    }

    .form-errors-model {
      flex: 1;

      code {
        background: none !important;
      }
    }

}