cdk-documento-identificador-form {

  form {
    width: 100%;
  }

  .div-form {
    width: 350px;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  cdk-modalidade-documento-identificador-gridsearch {
    width: 100%;
  }
}
