<div class="header">
    <div class="title">{{processo?.especieProcesso?.nome}} ({{processo?.especieProcesso?.generoProcesso?.nome}})</div>
</div>

<div class="content" cdkPerfectScrollbar *ngIf="(processo$ | async)">
    <mat-card class="card">
        <div class="linha">
            <div class="titulo">
                NUP:
            </div>
            <div class="valor">
                {{ processo.NUPFormatado }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Tipo:
            </div>
            <div class="valor">
                {{ (processo.tipoProtocolo === 1) ? 'PROCESSO' : ((processo.tipoProtocolo === 2) ? 'DOCUMENTO AVULSO' : 'UA DOSSIE') }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Workflow:
            </div>
            <div class="valor">
                {{estaNumProcessoWorkflow}}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Abertura:
            </div>
            <div class="valor">
                {{ processo.dataHoraAbertura?.toDate() | date: 'dd/MM/yyyy' }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Fase Atual:
            </div>
            <div class="valor">
                {{ processo.modalidadeFase.valor }}
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="linha">
            <div class="titulo">
                Classificação:
            </div>
            <div class="valor" [matTooltip]="processo.classificacao.nomeCompleto">
                {{ processo.classificacao.codigo }} - {{ processo.classificacao.nome }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Procedência:
            </div>
            <div class="valor">
                {{ processo.procedencia.nome }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Meio:
            </div>
            <div class="valor">
                {{ processo.modalidadeMeio.descricao }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Valor:
            </div>
            <div class="valor">
                {{ processo?.valorEconomico | currency:'BRL':'symbol' }}
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="linha">
            <div class="titulo">
                Título:
            </div>
            <div class="valor">
                {{ processo.titulo }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Descrição:
            </div>
            <div class="valor">
                {{ processo.descricao }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Outro Número:
            </div>
            <div class="valor">
                {{ processo?.outroNumero }}
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="linha">
            <div class="titulo">
                Setor Atual:
            </div>
            <div class="valor">
                {{ processo.setorAtual.nome }} - {{ processo.setorAtual.unidade.sigla }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Localizador:
            </div>
            <div class="valor">
                {{ processo.localizador }}
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="linha">
            <mat-card-subtitle>Informações Gerenciais</mat-card-subtitle>
        </div>
        <div class="linha">
            <div class="titulo">
                Id:
            </div>
            <div class="valor">
                {{ processo.id }}
            </div>
        </div>
        <div class="linha">
            <div class="titulo">
                Chave Acesso:
            </div>
            <div class="valor">
                {{ processo.chaveAcesso }}
            </div>
        </div>
        <div class="linha" *ngIf="processo.criadoPor">
            <div class="titulo">
                Criado Por:
            </div>
            <div class="valor">
                {{ processo.criadoPor?.nome }}
            </div>
        </div>
        <div class="linha" *ngIf="processo.atualizadoPor">
            <div class="titulo">
                Atualizador Por:
            </div>
            <div class="valor">
                {{ processo.atualizadoPor?.nome }}
            </div>
        </div>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>Processos Vinculados</mat-card-subtitle>
        <cdk-vinculacao-processo-grid
            [loading]="(loadingVinculacoesProcessos$ | async)"
            (reload)="reloadVinculacoesProcessos($event)"
            [actions]="['view']"
            [processoRef]="processo"
            [vinculacoesProcessos]="vinculacoesProcessos"
            [displayedColumns]="['id', 'processo', 'processoVinculado.NUP', 'modalidadeVinculacaoProcesso.valor', 'actions']"
            (view)="view($event)"
            [total]="(paginationVinculacoesProcessos$ | async)?.total">
        </cdk-vinculacao-processo-grid>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>Interessados</mat-card-subtitle>
        <cdk-interessado-grid
            [loading]="(loadingInteressados$ | async)"
            (reload)="reloadInteressados($event)"
            [interessados]="interessados"
            [displayedColumns]="['id', 'pessoa.nome', 'modalidadeInteressado.valor']"
            [total]="(paginationInteressados$ | async)?.total">
        </cdk-interessado-grid>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>Assuntos</mat-card-subtitle>
        <cdk-assunto-grid
            [loading]="(loadingAssuntos$ | async)"
            (reload)="reloadAssuntos($event)"
            [assuntos]="assuntos"
            [displayedColumns]="['id', 'assuntoAdministrativo.nome', 'principal']"
            [total]="(paginationAssuntos$ | async)?.total">
        </cdk-assunto-grid>
    </mat-card>
</div>
