<div class="left-sidebar" fxFlex fxLayout="row">

    <!-- CENTER -->
    <div class="center" fxFlex fxLayout="column">

        <!-- HEADER -->
        <div class="header accent p-16" fxLayout="row" fxLayoutAlign="start center">

            <div class="relatorio-navigation">

                <div>
                    <h3 *ngIf="!loading">{{fileName}}</h3>
                </div>

            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div fxFlex class="content">

            <div class="relatorio-view-relatorio" cdkPerfectScrollbar>

                <div fxLayout="column" fxFlex
                     fxLayoutAlign="center center">
                    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
                </div>

                <div *ngIf="!loading && (relatorios)?.length === 0" fxLayout="column"
                     fxLayoutAlign="center center" fxFlexFill>
                    <span class="no-relatorios-text hint-text"> Não há documentos juntados</span>
                </div>

                <div *ngIf="!loading && (relatorios)?.length > 0" class="relatorio-view-relatorio-content">
                    <iframe id="iframe-relatorios"
                            [src]="src">
                    </iframe>

                </div>

            </div>

        </div>

        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
