<!-- HEADER -->
<div class="header">
    <div class="relatorio-navigation">
        <div>
            <h3 *ngIf="!loading">{{fileName}}</h3>
        </div>
    </div>
</div>
<!-- / HEADER -->

<!-- CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="loading" *ngIf="loading">
        <mat-spinner diameter="24"></mat-spinner>
    </div>

    <div class="sem-relatorios" *ngIf="!loading && !relatorio?.id">
        <span class="no-relatorios-text hint-text">Nenhum relatório</span>
    </div>

    <div *ngIf="!loading && !!relatorio?.id" class="relatorio-view-relatorio-content">
        <iframe id="iframe-relatorios" *ngIf="src"
                [src]="src">
        </iframe>
        <div class="div-about-blank" *ngIf="!src">
            <span class="no-relatorios-text hint-text">Nenhum relatório</span>
        </div>
    </div>
</div>
