<!-- HEADER -->
<div class="header accent">
    <div class="relatorio-navigation">
        <div>
            <h3 *ngIf="!loading">{{fileName}}</h3>
        </div>
    </div>
</div>
<!-- / HEADER -->

<!-- CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="loading" *ngIf="loading">
        <mat-spinner diameter="24"></mat-spinner>
    </div>

    <div class="sem-relatorios" *ngIf="!loading && (relatorios)?.length === 0" >
        <span class="no-relatorios-text hint-text">Nenhum relatório</span>
    </div>

    <div *ngIf="!loading && (relatorios)?.length > 0" class="relatorio-view-relatorio-content">
        <iframe id="iframe-relatorios"
                [src]="src">
        </iframe>
    </div>
</div>