@import "src/@fuse/scss/fuse";

oficios {

    .center {

        .header {
            height: 100px !important;
            min-height: 100px !important;
            max-height: 100px !important;

            .search-wrapper {
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                .sidebar-toggle {
                    margin: 0 0 0 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    border-right: 1px solid;
                }

                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;

                    cdk-etiqueta-chips {
                        width: 100%;
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                }
            }

            &.current-documento-avulo-selected {
                .search-wrapper {
                    display: none !important;
                }
            }

        }

        .content-card {

            .toolbar {

                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }

                .documento-avulo-list-control {
                    margin-left: auto;
                }
            }

            .content {

                .documento-avulo-list {
                    border-right: 1px solid;
                    overflow-y: auto;

                    &.mobile-mode {

                        &.current-documento-avulo {
                            display: none !important;
                        }

                        &.no-current-documento-avulo {
                            max-width: 100% !important;
                        }

                    }
                    cdk-documento-avulso-list {
                        min-height: 100%;
                    }

                }

                .oficio-detail {
                    width: 100%;
                    height: 100%;

                    &.mobile-mode {

                        &.no-current-documento-avulo {
                            display: none !important;
                        }

                        &.current-documento-avulo {
                            max-width: 100% !important;
                        }

                    }
                }

            }
        }
    }
}

