<div class="header">
    <path icone="insert_drive_file"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="modalidade-acao-etiqueta">
    </path>
</div>
<cdk-modalidade-acao-etiqueta-grid
    [loading]="(loading$ | async)"
    [modalidadeAcaoEtiquetas]="(modalidadeAcaoEtiquetas$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'valor', 'descricao', 'modalidadeEtiqueta.valor', 'actions']"
    [actions]="['edit', 'create', 'showInatived']"
    (inatived)="inatived($event)"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-modalidade-acao-etiqueta-grid>
