cdk-processo-search-autocomplete {
    flex: 1 1 auto;
    display: flex;


    > .content {
        //
        //flex: 1 1 auto;
        //display: flex;
        //flex-direction: column;
        background: yellow;

    }

    > .content[max-width~="600px"] {
        //
        //flex: 1 1 auto;
        //display: flex;
        //flex-direction: column;
        background: red;

    }
}
.span-block {
    display: block;
}

.span-block-responsive {
    display: block;
    padding: 3px 0px;
}

.multiline-auto-complete-options {
    min-height: 48px !important;
    height: auto !important;
    line-height: normal !important;
    padding: 10px 10px 10px 10px !important;
}

.multiline-auto-complete-options-responsive {
    min-height: 48px !important;
    height: auto !important;
    line-height: normal !important;
    padding: 5px !important;
    white-space: normal !important;
    font-size: 14px !important;
}