cdk-numero-unico-documento-form {

  form {
    width: 100%;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  cdk-usuario-gridsearch {
    width: 100%;
  }
}
