<form class="p-24 mr-24" fxLayoutGap="16px"
      fxLayout="column"
      fxLayoutAlign="start" name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Tipo de Documento"
                       formControlName="tipoDocumento"
                       [matAutocomplete]="tipoDocumento.autocomplete"
                       (blur)="checkTipoDocumento()" required>
            </div>
            <cdk-tipo-documento-autocomplete
                #tipoDocumento="tipoDocumentoAutocomplete"
                [control]="form.get('tipoDocumento')"
                [pagination]="tipoDocumentoPagination">
            </cdk-tipo-documento-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showTipoDocumentoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                {{form.get('tipoDocumento').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Sequência"
                       formControlName="sequencia" required>
            </div>
            <mat-error *ngIf="form.get('sequencia').hasError('formError')">
                {{form.get('sequencia').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-tipo-documento-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'tipo-documento-list-gridsearch'"
    (selected)="selectTipoDocumento($event)"
    (cancel)="cancel()">
</cdk-tipo-documento-gridsearch>