<div class="header">
    <mat-icon class="mr-8 s-16">low_priority</mat-icon>
    <a [routerLink]="['/apps/admin/workflows/listar']">workflows</a>
    <span class="mr-4 ml-4">/</span>
    <span>workflow {{routerState.params.workflowHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-workflow-form
        [workflow]="(workflow$ | async)"
        [especieProcessoPagination]="especieProcessoagination"
        [especieTarefaPagination]="especieTarefaPagination"
        [form]="formWorkflow"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitWorkflow($event)"
        (abort)="doAbort()">
    </cdk-workflow-form>
</div>