@import "../../../scss/partials/cdk-form";

cdk-atividade-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    mat-radio-group {
        padding: 16px;
        display: flex;

        &.horizontal {
            flex-direction: row;
        }

        &.vertical {
            flex-direction: column;
        }
    }

    mat-radio-button {
        margin-right: 10px;
    }
}
