<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Algoritmo Hash</mat-label>
            <input matInput #algoritmoHash
                   name="algoritmoHash"
                   formControlName="algoritmoHash">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Assinatura</mat-label>
            <input matInput #assinatura
                   name="assinatura"
                   formControlName="assinatura">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Cadeia de Certificado PEM</mat-label>
            <input matInput #cadeiaCertificadoPEM
                   name="cadeiaCertificadoPEM"
                   formControlName="cadeiaCertificadoPEM">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Caminho da Cadeia de Certificado Pki</mat-label>
            <input matInput #cadeiaCertificadoPkiPath
                   name="cadeiaCertificadoPkiPath"
                   formControlName="cadeiaCertificadoPkiPath">
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Data da Assinatura</mat-label>
            <input matInput formControlName="dataHoraAssinatura" [matDatetimepicker]="dataHoraAssinatura">
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraAssinatura"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraAssinatura type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Componente Digital"
                       formControlName="componenteDigital"
                       [matAutocomplete]="componenteDigital.autocomplete">
            </div>
            <cdk-componente-digital-autocomplete #componenteDigital="componenteDigitalAutocomplete" [control]="form.get('componenteDigital')">
            </cdk-componente-digital-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem de Dados"
                       formControlName="origemDados"
                       [matAutocomplete]="origemDados.autocomplete">
            </div>
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete" [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

    </div>
</form>

