@import "../../../scss/cdk";

cdk-relatorio-form {

  height: 100%;

  form {
    width: 100%;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  .align-icon {
    .toggle-icon {
      margin-top: 6px;
      align-self: center;
    }
    .add-icon {
      align-self: flex-start;
    }
  }

    mat-radio-group {

        &.poderes-rg {
            //      padding: 16px;
            margin: 0px 0px 8px 8px;
            display: flex;
            flex-direction: row;
            //    margin: top right bottom left
            //      @include mat-elevation(1);
        }
    }

    mat-radio-button {
        margin-right: 100px;
        margin-left: 3px;
        margin-bottom: 15px;
    }
}

cdk-processo-gridsearch {
  width: 100%;
}

cdk-especie-relatorio-gridsearch {
  width: 100%;
}

cdk-setor-gridsearch {
  width: 100%;
}

cdk-usuario-gridsearch {
  width: 100%;
}