atividade-create {

    width: 100%;
    height: 100%;
    .content {
        width: 100%;
        height: 100%;
    }

    .mat-tab-body {
        padding-top: 16px;
        .mat-tab-body-content {
            overflow: hidden;
            height: 100%;
        }
    }

}
