<div class="atividade">
    <div class="upload">
        <button mat-mini-fab
                class="m-4 active accent"
                [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                #menuTriggerList="matMenuTrigger"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">attach_file</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="upload"
                    (click)="upload()">
                <ng-container>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Upload</span>
                </ng-container>
            </button>

            <button fxLayout="row" aria-label="editor de textos" fxLayoutAlign="start center"
                    [matMenuTriggerFor]="modeloMenu" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Editor</span>
            </button>
            <ng-template #dynamicComponent></ng-template>
        </mat-menu>

        <mat-menu #modeloMenu="matMenu">
            <form class="p-8 mb-8" style="width: 300px !important" fxLayoutGap="16px" fxLayout="column"
                  fxLayoutAlign="start"
                  fxFlex="1 0 auto" [formGroup]="formEditor" (click)="$event.stopPropagation()">
                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                        <input matInput placeholder="Modelo"
                               formControlName="modelo"
                               [matAutocomplete]="modelo.autocomplete"
                               (blur)="checkModelo()">
                    </div>
                    <cdk-modelo-autocomplete
                        #modelo="modeloAutocomplete"
                        [control]="formEditor.get('modelo')"
                        [pagination]="modeloPagination">
                    </cdk-modelo-autocomplete>
                </mat-form-field>
                <button mat-raised-button color="accent" [disabled]="!formEditor.valid" (click)="doEditor()">
                    EDITAR
                </button>
            </form>
        </mat-menu>

        <cdk-documento-card-list [documentos]="minutas"
                                 [deletingId]="(deletingDocumentosId$ | async)"
                                 [assinandoId]="(assinandoDocumentosId$ | async)"
                                 [alterandoId]="(alterandoDocumentosId$ | async)"
                                 [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                 [convertendoId]="(convertendoDocumentosId$ | async)"
                                 (delete)="doDelete($event)"
                                 (removeAssinatura)="doRemoveAssinatura($event)"
                                 (assinatura)="doAssinatura($event)"
                                 (converte)="doConverte($event)"
                                 (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                 (clicked)="onClicked($event)"
                                 (changedSelectedIds)="changedSelectedIds($event)">
        </cdk-documento-card-list>
        <cdk-componente-digital-card-list #ckdUpload
                                          [tarefaOrigem]="tarefa"
                                          (completed)="onComplete()">
        </cdk-componente-digital-card-list>
    </div>

    <cdk-atividade-form
        [atividade]="atividade"
        [temMinutas]="!!minutas.length"
        [documentoAvulsoVinculado]="(tarefa$ | async)?.processo?.documentoAvulsoOrigem"
        [especieAtividadePagination]="especieAtividadePagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-atividade-form>

</div>

<router-outlet></router-outlet>

