@import "../../../scss/cdk";

cdk-processo-form {
    height: 100%;

    form {
        width: 100%;
    }

    .spinner-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    width: 100%;

    .form-card {
        border-radius: 8px;
    }

    .owl-dt-popup-container {
        width: 20%;
        height: 20%;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }

    mat-radio-group {

        &.poderes-rg {
            //      padding: 16px;
            margin: 0px 0px 8px 8px;
            display: flex;
            flex-direction: row;
            //    margin: top right bottom left
            //      @include mat-elevation(1);
        }
    }

    mat-radio-button {
        margin-right: 100px;
        margin-left: 3px;
        margin-bottom: 15px;
    }

    cdk-especie-processo-grid {
        height: 100%;
    }

    cdk-especie-processo-gridsearch {
        width: 100%;
    }

    cdk-modalidade-fase-gridsearch {
        width: 100%;
    }

    cdk-modalidade-meio-gridsearch {
        width: 100%;
    }

    cdk-classificacao-gridsearch {
        width: 100%;
    }

    cdk-setor-gridsearch {
        width: 100%;
    }
}
