<div class="header">
        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            search
        </mat-icon>
        <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
              *ngIf="this.mode === 'list'">Filtro</span>
    </div>
</div>

<!-- SIDEBAR CONTENT -->
<div class="py-16" cdkPerfectScrollbar>
    <div fxLayout="column">
        <form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
              name="form" [formGroup]="form">

            <div fxFlex="1 0 auto" fxLayout="column">
                <mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Gênero"
                               formControlName="generoRelatorio"
                               [matAutocomplete]="generoRelatorio.autocomplete">
                    </div>
                    <cdk-genero-relatorio-autocomplete
                        #generoRelatorio="generoRelatorioAutocomplete"
                        [control]="form.get('generoRelatorio')">
                    </cdk-genero-relatorio-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Espécie de Relatorio"
                               formControlName="especieRelatorio"
                               [matAutocomplete]="especieRelatorio.autocomplete">
                    </div>
                    <cdk-especie-relatorio-autocomplete #especieRelatorio="especieRelatorioAutocomplete"
                                                        [control]="form.get('especieRelatorio')">
                    </cdk-especie-relatorio-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-label>Nome</mat-label>
                    <input matInput #nome
                           name="nome"
                           formControlName="nome">
                </mat-form-field>

                <mat-form-field class="mr-sm-12">
                    <mat-label>Criado Em</mat-label>
                    <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
                    <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Atualizado Por"
                               formControlName="atualizadoPor"
                               [matAutocomplete]="usuario.autocomplete">
                    </div>
                    <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
                    </cdk-usuario-autocomplete>
                </mat-form-field>

                <mat-form-field class="mr-sm-12">
                    <mat-label>Atualizado Em</mat-label>
                    <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
                    <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
                    </mat-datetimepicker>
                </mat-form-field>

                <div class="padd" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="accent" class="mr-sm-12" (click)="buscar()">
                        Buscar
                    </button>

                    <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()" *ngIf="this.mode === 'list'">
                        Limpar
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
