<div fxLayout="row" [dndDraggable]="draggable.data" fxLayoutAlign="start center">

    <mat-checkbox class="mr-8" [checked]="selected" (change)="onSelectedChange()"
                  (click)="$event.stopPropagation();">
    </mat-checkbox>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex>

            <div class="title" fxLayout="row">
                <span class="text-truncate">{{relatorio.tipoRelatorio?.descricao}}</span>
            </div>

            <div class="subtitle">
                    <span class="text-truncate">ID: {{relatorio.id}}</span>
            </div>

            <div [matTooltip]="'Relatorio Id ' + relatorio.id.toString()" class="body mt-4">
                <div>
                    {{relatorio.observacao}}
                </div>

                <div>
                    Criado em: {{relatorio.criadoEm | date: 'dd/MM/yyyy'}}
                </div>
            </div>

            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of relatorio.vinculacoesEtiquetas"
                     fxLayout="row" fxLayoutAlign="start center"  [matTooltip]="vinculacaoEtiqueta.label">
                    <div class="etiqueta-color"
                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                </div>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <div class="spinner-container m-8" *ngIf="deleting">
                <mat-spinner diameter="24"></mat-spinner>
            </div>

            <button *ngIf="!deleting" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="Ferramentas"
                    (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">

                <button mat-menu-item aria-label="apagar"
                        (click)="doDelete()">
                    <ng-container>
                        <mat-icon>delete</mat-icon>
                        <span>Apagar</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="editar relatorio"
                        (click)="doEditRelatorio()">
                    <ng-container>
                        <mat-icon>edit</mat-icon>
                        <span>Editar Relatorio</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="criar relatorio"
                        (click)="doCreateRelatorio()">
                    <ng-container>
                        <mat-icon>check_box</mat-icon>
                        <span>Criar Relatorio</span>
                    </ng-container>
                </button>

            </mat-menu>
        </div>

    </div>
</div>
