atividades {

    height: 100%;
    width: 100%;

    .atividades-wrapper {

        height: 100%;

        .atividades-header {

            padding: 8px;

            .actions {
                min-width: 88px;
                margin-left: auto;
            }
        }

        .content {
            height: 100%;
        }
    }

}
