<form class="altura" fxLayoutGap="16px" name="form" [formGroup]="form">

    <div class="header">
            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                search
            </mat-icon>
            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                  *ngIf="this.mode === 'list'">Filtro</span>
        </div>

        <div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Espécie da Atividade"
                           formControlName="especieAtividade"
                           [matAutocomplete]="especieAtividade.autocomplete">
                </div>
                <cdk-especie-atividade-autocomplete #especieAtividade="especieAtividadeAutocomplete"
                                                    [control]="form.get('especieAtividade')">
                </cdk-especie-atividade-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Observação</mat-label>
                <input matInput #observacao
                       name="observacao"
                       formControlName="observacao">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Destinação da Minutas</mat-label>
                <input matInput #destinacaoMinutas
                       name="destinacaoMinutas"
                       formControlName="destinacaoMinutas">
            </mat-form-field>

            <mat-checkbox formControlName="encerraTarefa" class="mr-16 mb-16" fxFlex="0 1 auto">
                Encerrar Tarefa
            </mat-checkbox>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Setor"
                           formControlName="setor"
                           [matAutocomplete]="setor.autocomplete">
                </div>
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setor')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Usuário"
                           formControlName="usuario"
                           [matAutocomplete]="usuario.autocomplete">
                </div>
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('usuario')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Usuário da Aprovação"
                           formControlName="usuarioAprovacao"
                           [matAutocomplete]="usuario.autocomplete">
                </div>
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('usuarioAprovacao')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Setor da Aprovacao"
                           formControlName="setorAprovacao"
                           [matAutocomplete]="setor.autocomplete">
                </div>
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorAprovacao')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field class="mr-sm-12">
                <mat-label>Data da Conclusão</mat-label>
                <input matInput formControlName="dataHoraConclusao" [matDatetimepicker]="dataHoraConclusao">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraConclusao"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraConclusao type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Tarefa"
                           formControlName="tarefa"
                           [matAutocomplete]="tarefa.autocomplete">
                </div>
                <cdk-tarefa-autocomplete #tarefa="tarefaAutocomplete" [control]="form.get('tarefa')">
                </cdk-tarefa-autocomplete>
            </mat-form-field>

        </div>

        <div class="padd" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="buscar()">
                Buscar
            </button>

            <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()" *ngIf="this.mode === 'list'">
                Limpar
            </button>
        </div>
    </div>
</form>
