<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-checkbox formControlName="ativo"
                      class="mr-16 mb-16" fxFlex="0 1 auto">
            Ativo
        </mat-checkbox>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Nome" formControlName="nome" required maxlength="255" upperCase>
            </div>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Descrição" formControlName="descricao" maxlength="255" required upperCase>
            </div>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Template"
                       formControlName="template"
                       [matAutocomplete]="template.autocomplete"
                       (blur)="checkTemplate()" required>
            </div>
            <cdk-template-autocomplete
                #template="templateAutocomplete"
                [control]="form.get('template')"
                [pagination]="templatePagination">
            </cdk-template-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showTemplateGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('template').hasError('formError')">
                {{form.get('template').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" type="submit" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-template-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'template-gridsearch'"
    (selected)="selectTemplate($event)"
    (cancel)="cancel()">
</cdk-template-gridsearch>
