<div fxLayout="row" class="setor-content page-layout full-width left-sidebar inner-scroll">
    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar full" name="setor-main-sidebar" position="left" [lockedOpen]="'gt-md'"
                 *ngIf="showSidebar()">
        <!-- SIDEBAR CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <setor-main-sidebar [@animate]="{value:'*'}"></setor-main-sidebar>
        </div>
    </cdk-sidebar>

    <!-- CENTER -->
    <div class="center" fxFlex>

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        *ngIf="showSidebar()"
                        (click)="toggleSidebar('setor-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card p-16 pb-4" cdkPerfectScrollbar fxFlex>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
