<cdk-documento-avulso-form
        [documentoAvulso]="documentoAvulso"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [especieDocumentoAvulsoPagination]="especieDocumentoAvulsoPagination"
        [setorDestinoPagination]="setorDestinoPagination"
        [modeloPagination]="modeloPagination"
        (gerirPessoaDestino)="gerirPessoaDestino()"
        (editPessoaDestino)="editPessoaDestino($event)"
        [pessoaDestino]="pessoaDestino"
        (save)="submit($event)">
</cdk-documento-avulso-form>

<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
