documento-edit-visibilidade {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .visibilidade-actions {
        flex: 0 0 auto;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
}
