<div [ngClass]="{'borda-erro': componenteDigital.canRetry, 'processo': mode === 'processo', 'content': mode === 'tarefa'}">

    <mat-checkbox class="mr-8 ml-8 select" *ngIf="mode === 'tarefa'"
                  [checked]="selected"
                  (change)="toggleInSelected(componenteDigital.id)"
                  (click)="$event.stopPropagation();">
    </mat-checkbox>

    <div class="content-img">
        <mat-icon>picture_as_pdf</mat-icon>
    </div>

    <div (click)="onClick(componenteDigital)" class="content-card">
        <div class="content-card-item">
            {{!componenteDigital.canRetry ? 'CARREGANDO' : (!(componenteDigital.fileName.length > 14) ? componenteDigital.fileName : componenteDigital.fileName.substr(0, 15) + "...")}}
        </div>
        <div class="content-card-item">
            <mat-progress-bar mode="determinate" *ngIf="componenteDigital.inProgress"
                              [value]="componenteDigital.progress"></mat-progress-bar>
        </div>
    </div>

    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #card20Menu="matMenu">
            <button [disabled]="!componenteDigital.canRetry"
                    (click)="onRetry(componenteDigital)" mat-menu-item>
                <mat-icon>desktop_windows</mat-icon>
                <span>Repetir</span>
            </button>
            <button [disabled]="!componenteDigital.canRetry"
                    (click)="onCancel(componenteDigital)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Cancelar</span>
            </button>
        </mat-menu>
    </div>
</div>





