<div [ngClass]="!componenteDigital.canRetry ? 'content' : 'content borda-erro'">
    <mat-checkbox class="content-checkbox" [checked]="selected"
                  (change)="toggleInSelected(componenteDigital.id)"
                  (click)="$event.stopPropagation();">
    </mat-checkbox>

    <div (click)="onClick(componenteDigital)" class="content-card">
       <!--        <div>{{componenteDigital.documento?.tipoDocumento?.sigla || 'Carregando'}}</div> -->
        <div>{{!componenteDigital.canRetry?'Carregando': componenteDigital.fileName}}</div>
        <mat-progress-bar mode="determinate" *ngIf="componenteDigital.inProgress"
                          [value]="componenteDigital.progress"></mat-progress-bar>
    </div>

    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #card20Menu="matMenu">
            <button [disabled]="!componenteDigital.canRetry"
                    (click)="onRetry(componenteDigital)" mat-menu-item>
                <mat-icon color="accent">desktop_windows</mat-icon>
                <span>Repetir</span>
            </button>
            <button [disabled]="!componenteDigital.canRetry"
                    (click)="onCancel(componenteDigital)" mat-menu-item>
                <mat-icon color="accent">delete</mat-icon>
                <span>Cancelar</span>
            </button>
        </mat-menu>
    </div>
</div>
