@import '../../../../scss/cdk';

cdk-componente-digital-card {
    display: flex;
    flex: 1 1 auto;

    .content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.12);

        .content-checkbox {
            display: flex;
            flex: 1 1 auto;
            padding-left: 8px;
            padding-right: 8px;
        }

        .content-card {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            padding-left: 14px;
            padding-right: 14px;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
        }

        .menu {
            display: flex;
            flex: 1 1 auto;
        }
    }

    .borda-erro {
        display: flex;
        flex: 1 1 auto;
        border: solid red 1px;
        border-radius: 6px;
        min-height: 46px;
        margin-left: 8px;
        margin-right: 8px;
    }
}
