<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar name="cdk-tarefa-filter" position="left">
        <cdk-tarefa-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-tarefa-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid" [ngClass]="{'search': (this.mode == 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteTarefa(selectedIds)"
                    aria-label="apagar"
                    matTooltip="Apagar">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

                <!-- Selection Column -->
                <ng-container matColumnDef="select" >
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let tarefa">
                        <mat-checkbox [checked]="selectedIds.indexOf(tarefa.id) > -1"
                                      (change)="toggleInSelected(tarefa.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(tarefa.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.id}} </td>
                </ng-container>

                <!--  Processo Column -->
                <ng-container matColumnDef="processo.nup">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Processo
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Processo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.processo?.NUP}} </td>
                </ng-container>

                <!-- PostIt Column -->
                <ng-container *ngIf="displayedColumns.indexOf('postIt') > -1" matColumnDef="postIt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Post It
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Post It: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.postIt}} </td>
                </ng-container>

                <!-- Urgente Column -->
                <ng-container *ngIf="displayedColumns.indexOf('urgente') > -1" matColumnDef="urgente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Urgente
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Urgente: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}">
                        <mat-checkbox [disabled]="true" [checked]="tarefa.urgente"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- Observacao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('observacao') > -1" matColumnDef="observacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Observação
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Observação: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.observacao}} </td>
                </ng-container>

                <!-- Redistribuida Column -->
                <ng-container *ngIf="displayedColumns.indexOf('redistribuida') > -1" matColumnDef="redistribuida">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Redistribuída
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Redistribuída: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.redistribuida}} </td>
                </ng-container>

                <!-- DataHoraLeitura Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraLeitura') > -1" matColumnDef="dataHoraLeitura">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data da Leitura
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Data da Leitura: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.dataHoraLeitura | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraInicioPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraInicioPrazo') > -1"
                              matColumnDef="dataHoraInicioPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data do Início do Prazo
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile'
                        data-label='Data do Início do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.dataHoraInicioPrazo | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraFinalPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraFinalPrazo') > -1"
                              matColumnDef="dataHoraFinalPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data do Final do Prazo
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile'
                        data-label='Data do Final do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.dataHoraFinalPrazo | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraConclusaoPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraConclusaoPrazo') > -1"
                              matColumnDef="dataHoraConclusaoPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data da Conclusão do Prazo
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile'
                        data-label='Data da Conclusão do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.dataHoraConclusaoPrazo | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- EspecieTarefa.nome Column -->
                <ng-container *ngIf="displayedColumns.indexOf('especieTarefa.nome') > -1"
                              matColumnDef="especieTarefa.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Espécie de Tarefa
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Espécie de Tarefa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.especieTarefa.nome}} </td>
                </ng-container>

                <!-- Usuario Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuarioResponsavel.nome') > -1"
                              matColumnDef="usuarioResponsavel.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário Responsável
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Usuário Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.usuarioResponsavel?.nome}} </td>
                </ng-container>

                <!-- Setor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setorOrigem.nome') > -1" matColumnDef="setorOrigem.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor de Origem
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Setor de Origem: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.setorOrigem?.nome}} </td>
                </ng-container>

                <!-- UnidadeResponsavel Column -->
                <ng-container *ngIf="displayedColumns.indexOf('unidadeResponsavel.nome') > -1"
                              matColumnDef="unidadeResponsavel.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Unidade Responsável
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Unidade Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.unidadeResponsavel?.nome}} </td>
                </ng-container>

                <!-- SetorResponsavel Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setorResponsavel.nome') > -1"
                              matColumnDef="setorResponsavel.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor Responsável
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Setor Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.setorResponsavel?.nome}} </td>
                </ng-container>

                <!-- UsuarioConclusaoPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuarioConclusaoPrazo.nome') > -1"
                              matColumnDef="usuarioConclusaoPrazo.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário da Conclusao do Prazo
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile'
                        data-label='Usuário da Conclusao do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.usuarioConclusaoPrazo.nome}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.criadoPor?.nome}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.criadoEm | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                              matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Atualizado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.atualizadoPor?.nome}} </td>
                </ng-container>

                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Atualizado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.atualizadoEm | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- ApagadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Por
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Apagado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.apagadoPor?.nome}} </td>
                </ng-container>

                <!-- ApagadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Em
                    </th>
                    <td mat-cell *matCellDef="let tarefa" class='has_label_on_mobile' data-label='Apagado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(tarefa.id) > -1 || tarefa.apagadoEm}"> {{tarefa.apagadoEm | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let tarefa">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectTarefa(tarefa)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(tarefa.id) > -1"
                                (click)="editTarefa(tarefa.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(tarefa.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(tarefa.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(tarefa.id) > -1"
                                (click)="deleteTarefa(tarefa.id)"
                                aria-label="apagar"
                                matTooltip="Apagar">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let tarefa; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
