<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>gavel</mat-icon>
        <mat-card-title>Taxa de Sucesso Judicial</mat-card-title>
        <mat-card-subtitle>
            Unidade: {{ nomeUnidade }}<br/>
            Últimos 12 meses
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="overflow: hidden">
        <div class="p-24" fxLayout="column" fxLayoutAlign="center center" *ngIf="chartData === false">
            <mat-spinner diameter="64"></mat-spinner>
        </div>
        <div style="text-align: center; overflow: hidden" *ngIf="chartData !== false">
            <apx-chart #graficoTaxaSucessoJudicial
                       [series]="chartOptions.series"
                       [chart]="chartOptions.chart"
                       [xaxis]="chartOptions.xaxis"
                       [yaxis]="chartOptions.yaxis"
                       [stroke]="chartOptions.stroke"
                       [plotOptions]="chartOptions.plotOptions"
                       [dataLabels]="chartOptions.dataLabels"
            ></apx-chart>
        </div>
    </mat-card-content>
</mat-card>
