<form class="altura" fxLayoutGap="16px" name="form" [formGroup]="form">

    <div class="altura" fxLayout="column">
        <div class="padd" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                search
            </mat-icon>
            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                  *ngIf="this.mode === 'list'">Filtro</span>
        </div>

        <div class="padd" fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>

            <mat-form-field fxFlex="100">
                <mat-label>Responsável</mat-label>
                <input matInput #responsavel
                       name="responsavel"
                       formControlName="responsavel"
                       maxlength="255">
                <mat-hint align="end">{{responsavel.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Setor</mat-label>
                <input matInput #setor
                       name="setor"
                       formControlName="setor"
                       maxlength="255">
                <mat-hint align="end">{{setor.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Sigla</mat-label>
                <input matInput #sigla
                       name="sigla"
                       formControlName="sigla"
                       maxlength="255">
                <mat-hint align="end">{{sigla.value.length}} / 255</mat-hint>
            </mat-form-field>

        </div>

        <div class="padd" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="buscar()">
                Buscar
            </button>

            <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()" *ngIf="this.mode === 'list'">
                Limpar
            </button>
        </div>
    </div>
</form>

