<div class="content">
    <cdk-modelo-grid
        [loading]="(loading$ | async)"
        [modelos]="(modelos$ | async)"
        [total]="(pagination$ | async)?.total"
        [actions]="['select']"
        [displayedColumns]="['id', 'nome', 'modalidadeModelo.valor', 'highlights', 'actions']"
        (selected)="doSelect($event)"
        [saving]="(saving$ | async)"
        (reload)="reload($event)">
    </cdk-modelo-grid>
</div>
<div class="footer">
    <mat-error *ngIf="erro">{{erro}}</mat-error>
</div>