<div class="header">
    <mat-icon class="mr-8 s-16">insert_drive_file</mat-icon>
    <span>espécie processos</span>
</div>
<cdk-especie-processo-grid
    [loading]="(loading$ | async)"
    [especieProcessos]="(especieProcessos$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'descricao', 'generoProcesso.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-especie-processo-grid>
