@import '../../../../../../@cdk/scss/cdk';

tarefas-main-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > .header {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .logo {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

            > .titulo {
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
                align-items: center;
                font-size: 24px;
            }

            > .modulo {
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
                align-items: center;
                font-size: 1vw;
            }
        }
    }

    > .content {

        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 0;
        overflow-y: auto;

        > .progress-bar {
            flex: 0 1 auto;
            display: flex;
            justify-content: center;
        }

        > .create-button {
            margin: 16px;
        }

        .input-add-pasta {
            width: 199px;
            height: 24px;
            border-radius: 10px;
            align-items: center;
            margin-top: 12px;
        }

        .btn_menu_folder {
            margin-left: auto;
        }

        .btn_menu_item {
            margin-left: 171px;
            position: absolute;
        }

        .menu_content {
            display: flex;
            flex: 1 1 auto;
            align-items: center;

            .menu_content_label {
                display: flex;
                flex: 1 1 95%;
                height: 30px;
                align-items: center;

                > a {
                    color: currentColor;
                }

                > a:hover {
                    text-decoration: none !important;
                }
            }

            .menu_content_button {
                display: flex;
                flex: 1 1 5%;
            }
        }

        .menu_tarefa {
            height: 40px;
            padding: 0 12px 0 24px;
            //border-radius: 0 20px 20px 0;
            //border-top-left-radius: 0px;
            //border-top-right-radius: 20px;
            //border-bottom-right-radius: 20px;
            //border-bottom-left-radius: 0px;
            margin-right: 16px;
        }

        .nav-item .nav-link-setor {
            text-decoration: none !important;
            display: flex;
            align-items: center;
            padding: 0 12px 0 24px;
            border-radius: 0 20px 20px 0;
            margin-right: 16px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            user-select: none;
            color: currentColor;

            > .nav-link-title {
                flex: 1 1 auto;
                white-space: nowrap;
            }

            .nav-link-badge {
                display: flex;
                align-items: center;
                min-width: 20px;
                height: 20px;
                padding: 0 7px;
                font-size: 11px;
                font-weight: 600;
                border-radius: 20px;
                transition: opacity 0.2s ease-in-out 0.1s;
                margin-left: 8px;

                + .collapsable-arrow {
                    margin-left: 8px;
                }
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.12);
            }

            .mat-ripple-element {
                background-color: rgba(0, 0, 0, 0.04);
            }

            &.active {

                .nav-link-icon {
                    opacity: 1;
                }

                .nav-link-badge {
                    background: #FFFFFF !important;
                    color: rgba(0, 0, 0, 0.87) !important;
                }
            }

            .nav-link-icon {
                margin-right: 16px;
            }

            .nav-link-icon,
            .collapsable-arrow {
                font-size: 16px;
                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;
                line-height: 16px;
            }
        }

        .lotacao-drop {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > .loading-wrapper {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                align-self: center;
                margin-top: 4px;
                margin-bottom: 4px;
            }

            section {
                height: 32px;
                margin-top: 4px;
                margin-left: 12px;
                margin-bottom: 4px;
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                align-content: center;
                align-items: flex-start;
                justify-content: center;
            }
        }
    }

    > .footer {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;

        > .actions {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

