<!-- SIDEBAR HEADER -->
<div class="header">
    <div class="logo">
        <div class="titulo" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Tarefas</div>
        <div class="modulo">{{modulo}}</div>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="progress-bar">
        <mat-progress-bar [mode]="'indeterminate'" *ngIf="(loading$ | async)"></mat-progress-bar>
    </div>

    <div class="create-button">
        <button mat-raised-button
                class="mat-accent compose-dialog-button w-100-p"
                (click)="create()"
                aria-label="Criar">
            {{ 'TAREFA.COMPOSE' | translate }}
        </button>
    </div>

    <div class="nav material2">
        <div class="nav-item">
            <div class="menu_content menu_tarefa">
                <div class="menu_content_label">
                    MINHAS TAREFAS
                </div>
                <div class="menu_content_button">
                    <button mat-icon-button [matMenuTriggerFor]="menuMain" class="btn_menu_folder"
                            aria-label="Ferramentas">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <section dndDropzone (dndDrop)="onDrop([$event, null])">
                <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/entrada'"
                   [routerLinkActive]="['active', 'accent']">
                    <mat-icon class="nav-link-icon">inbox</mat-icon>
                    <span>Entrada</span>
                </a>
            </section>
        </div>
        

        <mat-menu #menuMain="matMenu">
            <button mat-menu-item aria-label="Criar Pasta" (click)="showFolderComponent()">
                <ng-container>
                    <mat-icon>folder</mat-icon>
                    <span>Criar Pasta</span>
                </ng-container>
            </button>
        </mat-menu>

        <div fxLayout="row" fxLayoutAlign="center center">
            <input #inputFolder type="text" *ngIf="showAddFolder" class="input-add-pasta" (keyup.enter)="addFolder()">
        </div>

        <div class="nav-item" *ngFor="let folder of folders$ | async">
            <section dndDropzone (dndDrop)="onDrop([$event, folder])">
                <div class="menu_content nav-link" [routerLinkActive]="['active', 'accent']">
                    <div class="menu_content_label">
                        <a matRipple
                           [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/' + folder.nome | lowercase"
                           [routerLinkActive]="['active', 'accent']">
                            <mat-icon class="nav-link-icon">{{ folder.icon ? folder.icon : 'folder' }}</mat-icon>
                            <span>{{folder.nome | titlecase}}</span>
                        </a>
                    </div>
                    <div class="menu_content_button">
                        <button mat-icon-button [matMenuTriggerFor]="menuFolder" class="btn_menu_folder"
                                aria-label="Menu do Item">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #menuFolder="matMenu">
                            <button mat-menu-item aria-label="Apagar" (click)="delFolder(folder)">
                                <ng-container>
                                    <mat-icon>delete</mat-icon>
                                    <span>Apagar</span>
                                </ng-container>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </section>
        </div>

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/eventos'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">calendar_today</mat-icon>
                <span>Eventos</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/lixeira'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">delete</mat-icon>
                <span>Lixeira</span>
            </a>
        </div>

        <div class="nav-subheader">COMPARTILHAMENTO</div>

        <div class="nav-item">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/tarefas/' + generoHandle + '/compartilhadas/outros-usuarios'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">share</mat-icon>
                <span>Outros Usuários</span>
            </a>
        </div>

        <div *ngIf="setoresCoordenacao.length > 0" class="nav-subheader">COORDENAÇÃO</div>

     <!--   <div class="nav-item" *ngFor="let setor of setoresCoordenacao">
            <section dndDropzone (dndDrop)="onDrop([$event, null])">
            <a class="nav-link-setor" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ 'group' }}</mat-icon>
                <span>{{setor.nome | titlecase}}</span>
            </a>
        </section>
        </div>
    -->
        <div class="nav-item" *ngFor="let setor of setoresCoordenacao">  
            <div class="menu_content nav-link" [routerLinkActive]="['active', 'accent']">
                    <section dndDropzone (dndDrop)="onDropSetor([$event, setor])">
                        <div class="menu_content_label">
                            <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
                            [routerLinkActive]="['active', 'accent']">
                            <mat-icon class="nav-link-icon">{{ 'group' }}</mat-icon>
                            <span>{{setor.nome | titlecase}}</span>
                            </a>
                        </div>  
                    </section>      
                    <div class="menu_content nav-link">
                        <mat-icon class="nav-link-icon" *ngIf="!setor.numeracaoDocumentoUnidade" (click)="listaUsuario(setor)" matTooltip="Lista todos usuarios dessa coordenação">keyboard_arrow_down</mat-icon>    
                        <mat-icon class="nav-link-icon" *ngIf="setor.numeracaoDocumentoUnidade" (click)="fechaUsuarioCoordenacao(setor)" matTooltip="Lista todos usuarios dessa coordenação">keyboard_arrow_up</mat-icon>
                    </div>   
            </div>
        </div>

        <div *ngIf="usuariosAssessor.length > 0" class="nav-subheader">ASSESSOR</div>

        <div class="nav-item" *ngFor="let usuario of usuariosAssessor">
            <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/assessor/' + usuario.id"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ 'person' }}</mat-icon>
                <span>{{usuario.nome | titlecase}}</span>
            </a>
        </div>

    </div>
</div>
<!-- / SIDEBAR CONTENT -->

<!-- SIDEBAR FOOT -->
<div class="footer">
    <mat-divider></mat-divider>
    <div class="actions">
        <mat-toolbar>
            <button disabled mat-icon-button class="secondary-text"
                    routerLink="/apps/tarefas/administrativo/minhas-tarefas/entrada" routerLinkActive="mat-accent"
                    matTooltip="Tarefas">
                <mat-icon>check_box</mat-icon>
            </button>
            <button mat-icon-button class="secondary-text" routerLink="/apps/calendario/minhas-tarefas/todas"
                    routerLinkActive="mat-accent" matTooltip="Calendário">
                <mat-icon>calendar_today</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
<!-- / SIDEBAR FOOT -->