tarefas-main-sidebar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
}

.input-add-pasta {
    width: 199px;
    height: 24px;
    border-radius: 10px;
    align-items: center;
    margin-top: 12px;
}

.btn_menu_folder {
    margin-left: auto;
}

.btn_menu_item {
    margin-left: 171px;
    position: absolute;
}

