pessoa {
    .full-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1001;

        .pessoa-content {
            height: 86%;
            .pessoa-sub-content {
                height: 100%;
            }
        }
    }
}
