pessoa {
    height: 100%;
    width: 100%;
    .full-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1001;

        .content {
            height: 100%;
            width: 100%;

            .header {
                height: 56px !important;
                min-height: 56px !important;
                max-height: 56px !important;
            }
        }
    }
}
