admin {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .sidebar {

        &:not(.locked-open) {
            background: white;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;


        .header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 72px !important;
            min-height: 72px !important;
            max-height: 72px !important;
        }
    }
}
