<div fxLayout="column">

    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="column">

        <div class="actions mt-16 ml-24 mr-16" fxLayout="row" fxLayoutAlign="start center">

        </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <cdk-compartilhamento-grid
                [loading]="(loading$ | async)"
                [compartilhamentos]="(compartilhamentos$ | async)"
                [total]="(pagination$ | async)?.total"
                [actions]="['delete']"
                (reload)="reload($event)">
        </cdk-compartilhamento-grid>

    </div>

</div>
