<div class="responsive-group">
    <div class="encaminhamento-card"  (click)="submit('criar_tarefa')">
        <mat-card>
            <mat-card-header>
                <mat-icon class="s-52" mat-card-avatar>check_box</mat-icon>
                <mat-card-title>Tarefa</mat-card-title>
                <mat-card-subtitle>Abrir a próxima tarefa do NUP no processo de trabalho</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="encaminhamento-card"  (click)="submit('arquivar')">
        <mat-card>
            <mat-card-header>
                <mat-icon class="s-52" mat-card-avatar>folder</mat-icon>
                <mat-card-title>Arquivar</mat-card-title>
                <mat-card-subtitle>Remeter o NUP para o arquivo corrente</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="encaminhamento-card"  (click)="submit('remeter')">
        <mat-card>
            <mat-card-header>
                <mat-icon class="s-52" mat-card-avatar>email</mat-icon>
                <mat-card-title>Remeter</mat-card-title>
                <mat-card-subtitle>Realizar a remessa do NUP para outro orgão ou sistema</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>

    <ng-template #dynamicComponent></ng-template>
</div>

<div class="actions">
    <button mat-raised-button color="warn" (click)="doAbort()"
            [disabled]="form.invalid" *ngIf="!saving">
        CANCELAR
    </button>
</div>
