@import "../../../scss/partials/cdk-form";

cdk-encaminhamento-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .responsive-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .encaminhamento-card {
            margin: 8px;
            cursor: pointer;
        }
    }

    > .actions {
        margin-top: 16px;
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
