<div class="content p-16" fxLayout="column">
    <h3><strong>JUNTADAS</strong></h3>
    <p style="text-align: justify;">
        Um documento é toda informação registrada em um suporte material, suscetível de consulta, estudo, prova e pesquisa, pois comprova fatos, fenômenos, formas de vida e pensamentos do homem numa determinada época ou lugar.
        Logo abaixo dos interessados do processo, está a opção de juntadas, onde o usuário poderá consultar os documentos que já foram juntados naquele NUP
    </p>
    <p style="text-align: justify;">
        1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Juntadas</strong>
         <img src="assets/images/ajuda/processojuntadas.png" style="width: 200px;" class="fr-fic fr-dib fr-fil"> 
    </p>
    <p style="text-align: justify;">
        2. A página de juntadas é aberta. A lista de juntadas aparece no centro da página. Por padrão, aparecem as colunas Id, Sequencial, Descrição e Tipo de documento. 
        Na opção  <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii"> é possível adicionar mais colunas, como Ativo, Origem de Dados, Volume e Documento Avulso.
        Essas informações auxiliam na localização de juntadas específicas, ordenando as colunas de diferentes modos.        
    </p>
    <p style="text-align: justify;">
        3. Além da opção de ordenar/adicionar colunas, existe a opção de filtro <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii">, facilitando ainda mais a localização de juntadas.
    </p>
</div>