documento-avulso-edit-anexos {
    flex: 1 1 auto;
    display: flex;

    > .documentos-vinculados {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        overflow-y: auto;

        ng-template {
            display: flex;
            flex: 1 1 auto;
        }
    }
}
