documento-edit-inteligencia {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    > cdk-repositorio-grid {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        flex: 1 1 auto;
    }
}
