@import "../../../../../@cdk/scss/cdk";

redistribuicao-edit-bloco {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px;
        .bloco-edit {
            @include mat-elevation(1);
        }
    }

}
