<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      fxFlex="1 0 auto" name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Modalidade</mat-label>
            <input matInput #valor
                   name="valor"
                   formControlName="valor"
                   maxlength="255">
            <mat-hint align="end">{{valor.value.length}} / 255</mat-hint>
        </mat-form-field>

    </div>
</form>
