<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>schedule</mat-icon>
        <mat-card-title>Tarefas da Equipe</mat-card-title>
        <mat-card-subtitle>Pendentes de conclusão</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <div class="p-12" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner *ngIf="this.tarefasCount === false" diameter="72"></mat-spinner>
            <div *ngIf="this.tarefasCount !== false" class="light-blue-fg font-size-72 line-height-72">
                {{this.tarefasCount}}
            </div>
            <div class="h3 font-weight-500">
                Todas as Tarefas do Setor
            </div>
        </div>
    </mat-card-content> 
    <mat-card-footer>
        <div class="p-12 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 text-truncate">
                Vencidas:
            </span>
            <mat-spinner class="ml-8" *ngIf="tarefasVencidasCount === false"
                         diameter="15"></mat-spinner>
            <span *ngIf="tarefasVencidasCount !== false" class="h4 ml-8 warn-500-fg">
                {{tarefasVencidasCount}}
            </span>
        </div>
    </mat-card-footer>
</mat-card>