<mat-card class="scrollable-content" (click)="trocarVisualizacao()" *ngIf="this.showComponent">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>schedule</mat-icon>
        <mat-card-title>Tarefas da Coordenação</mat-card-title>
        <mat-card-subtitle>Pendentes de conclusão</mat-card-subtitle>
        <mat-icon class="icone-tarefas-coordenador" [ngStyle]="{'color': isContadorPrincipal ? '#03a9f4' : 'red'}"
            >swap_horiz
        </mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="p-24" fxLayout="column" fxLayoutAlign="center center" *ngIf="isContadorPrincipal">
            <mat-spinner *ngIf="this.tarefasCount === false" diameter="64"></mat-spinner>
            <div *ngIf="this.tarefasCount !== false" class="light-blue-fg font-size-64 line-height-64">
                {{this.tarefasCount}}
            </div>
            <div class="h3 font-weight-500">
                Nos setores que eu coordeno
            </div>
        </div>
        <div class="card-tarefas-coordenador" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isContadorPrincipal">
            <mat-spinner *ngIf="this.isLoading !== false" diameter="64"></mat-spinner>
            <div *ngIf="this.isLoading === false">
                <div *ngFor="let item of tarefas">
                <button class="botao-link" mat-button
                         [routerLink]="'/apps/tarefas/' + item.especieTarefa.generoTarefa.nome.toLowerCase() + '/coordenacao/' +item.setorResponsavel.id">
                    <span class="material-icons">link</span>
                    <span class="titulo">Setor {{item.setorResponsavel.sigla}}({{item.setorResponsavel.unidade.sigla}}) {{this.numeroTarefas[item.setorResponsavel.id]}}<br></span>
                </button>
            </div>
            <div *ngIf="tarefasCount === 0" class="mensagem-aviso">Não há tarefas de Coordenação</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="isContadorPrincipal">
        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 text-truncate">
                Vencidas:
            </span>
            <mat-spinner class="ml-8" *ngIf="tarefasVencidasCount === false"
                         diameter="15"></mat-spinner>
            <span *ngIf="tarefasVencidasCount !== false" class="h4 ml-8 warn-500-fg">
                {{tarefasVencidasCount}}
            </span>
        </div>
    </mat-card-footer>
</mat-card>
