<cdk-repositorio-grid
        [loading]="(loading$ | async)"
        [repositorios]="(repositorios$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [displayedColumns]="['select', 'id', 'nome', 'descricao', 'modalidadeRepositorio.valor', 'vinculacoesRepositorios.setor.nome', 'ativo', 'actions']"
        [actions]="actions"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (editConteudo)="editConteudo($event)"
        (delete)="delete($event)">
</cdk-repositorio-grid>

<router-outlet></router-outlet>
