<div class="header">
    <mat-icon class="mr-8 s-16">person</mat-icon>
    <a [routerLink]="['/apps/admin/externos/listar']">usuários externos</a>
    <span class="mr-4 ml-4">/</span>
    <span>usuário externo {{routerState.params.usuariosExternosHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-usuario-form
        [usuario]="(usuario$ | async)"
        [form]="formUsuario"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitUsuario($event)"
        [usuarioExterno]="true"
        (abort)="doAbort()"
        class="form-user">
    </cdk-usuario-form>
</div>