<div class="header">
    <path icone="add_comment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="repositorios">
    </path>
</div>
<cdk-vinculacao-repositorio-grid
    [loading]="(loading$ | async)"
    [vinculacaoRepositorios]="(vinculacoesRepositorios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [orgaoCentralPagination]="orgaoCentralPagination"
    [repositorioPagination]="repositorioPagination"
    [actions]="['edit', 'create', 'delete']"
    [displayedColumns]="['id', 'repositorio.nome', 'especieSetor.nome', 'orgaoCentral.valor', 'actions']"
    (reload)="reload($event)"
    (create)="create()"
    (edit)="edit($event)"
    (delete)="delete($event)">
</cdk-vinculacao-repositorio-grid>