<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-form-field fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Processo"
                   formControlName="processoOrigem"
                   [matAutocomplete]="processoOrigem.autocomplete" required
                   (blur)="checkProcessoOrigem()">
        </div>

        <cdk-processo-autocomplete
            #processoOrigem="processoAutocomplete"
            [control]="form.get('processoOrigem')"
            [pagination]="processoOrigemPagination">
        </cdk-processo-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showProcessoOrigemGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('processoOrigem').hasError('formError')">
            {{form.get('processoOrigem').errors.formError}}
        </mat-error>
    </mat-form-field>


    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions" *ngIf="!saving">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid || !valid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-processo-gridsearch
    *ngIf="activeCard === 'processo-destino-gridsearch'"
    [pagination]="processoOrigemPagination"
    (selected)="selectProcesso($event)"
    (cancel)="cancel()">
</cdk-processo-gridsearch>
