<cdk-setor-grid
    [loading]="(loading$ | async)"
    [setores]="(unidades$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'sigla', 'modalidadeOrgaoCentral.valor', 'ativo', 'actions']"
    [actions]="['edit', 'setores', 'competencias']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (setoresEvent)="setores($event)"
    (competencias)="competencias($event)">
</cdk-setor-grid>
