arquivista-classificacao-bloco {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 8px;
        overflow-y: auto;
        mat-card {
            margin-bottom: 5px;
        }
    }
}
