<div class="header">
    <mat-icon class="mr-8 s-16">new_releases</mat-icon>
    <span>espécie relevâncias</span>
</div>
<cdk-especie-relevancia-grid
    [loading]="(loading$ | async)"
    [especieRelevancias]="(especieRelevancias$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'nome', 'descricao', 'generoRelevancia.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-especie-relevancia-grid>