<div class="content p-16" fxLayout="column">
    <h3><strong>CADASTRANDO ASSUNTOS</strong></h3>
    <p style="text-align: justify;">
        O cadastro de ao menos um assunto é <strong>obrigatório</strong>, o que possibilitará a
        extração de relatórios mais fidedignos, além aumentar o grau de identificação do
        Processo/Documento Avulso.
    </p>
    <p style="text-align: justify;">
        É possível cadastrar mais de um assunto no processo e um deles deverá ser marcado como <strong>principal</strong>.
    </p>     
    <p style="text-align: justify;">
        1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Assuntos</strong>
         <img src="assets/images/ajuda/processoassunto.png" style="width: 200px;" class="fr-fic fr-dib fr-fil"> 
    </p>
    <p style="text-align: justify;">
        2. A página de assuntos é aberta. É possível ver a lista de assuntos ou escolher um novo assunto a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
    </p>
    <p style="text-align: justify;">
        3. Ao entrar na opção <strong>Novo</strong>, é possível escolher se o assunto vai ser o principal e, a partir do campo <strong>Assunto</strong> ou da <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">, é possível procurar um assunto determinado.
        Os assuntos possíveis são:
        <li>Atividade Meio</li>
        <li>Recursos Humanos</li>
        <li>Atividade Fim</li>
    </p>
    <h4><strong>Observa&ccedil;&otilde;es:</strong> </h4>
            <p style="text-align: justify;">
                <li>Somente é possível cadastrar assuntos do ramo da “Atividade Meio” em NUPs do gênero Administrativo.</li>         
    </p>
</div>