<div class="content p-16" fxLayout="column">
    <h3><strong>CADASTRANDO ASSUNTOS</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        O cadastro de ao menos um assunto é <strong>obrigatório</strong>, o que possibilitará a
        extração de relatórios mais fidedignos, além aumentar o grau de identificação do
        Processo/Documento Avulso.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        É possível cadastrar mais de um assunto no processo e um deles deverá ser marcado como <strong>principal</strong>.
    </p>
    <h3><strong>Cadastrando assuntos na página de cadastramento de processos</strong></h3>    
    <p style="text-align: justify;margin-left: 40px">
        1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Assuntos</strong>
    </p>
    <p style="text-align: center;margin-left: 40px">
        <img src="assets/images/ajuda/processoassunto.png" style="width: 256px;" class="fr-fic fr-dib fr-fil"> 
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. A página de assuntos é aberta. É possível ver a lista de assuntos ou escolher um novo assunto a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Ao entrar na opção <strong>Novo</strong>, é possível escolher se o assunto vai ser o principal e, a partir do campo <strong>Assunto</strong> ou da <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">, é possível procurar um assunto determinado.
        Os assuntos possíveis são:
        <li>Atividade Meio</li>
        <li>Recursos Humanos</li>
        <li>Atividade Fim</li>
    </p>
    <div style="background-color: #d3d3d3;">
        <p>
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
        </p>
        <p style="text-indent: 20px">    
            Somente é possível cadastrar assuntos do ramo da “Atividade Meio” em NUPs do gênero Administrativo.            </p>
    </div>  
</div>