<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Nome</mat-label>
            <input matInput #nome
                   name="nome"
                   formControlName="nome">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Glossário</mat-label>
            <input matInput #glossario
                   name="glossario"
                   formControlName="glossario">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Dispositivo Legal</mat-label>
            <input matInput #dispositivoLegal
                   name="dispositivoLegal"
                   formControlName="dispositivoLegal">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Código do CNJ</mat-label>
            <input matInput #codigoCNJ
                   name="codigoCNJ"
                   formControlName="codigoCNJ">
        </mat-form-field>

        <mat-checkbox formControlName="ativo" class="mr-16 mb-16" fxFlex="0 1 auto">
            Ativo
        </mat-checkbox>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Garantia Administrativo"
                       formControlName="parent"
                       [matAutocomplete]="garantiaAdministrativo.autocomplete">
            </div>
            <cdk-garantia-administrativo-autocomplete #garantiaAdministrativo="garantiaAdministrativoAutocomplete" [control]="form.get('parent')">
            </cdk-garantia-administrativo-autocomplete>
        </mat-form-field>

        <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()">
            Limpar
        </button>

    </div>
</form>
