<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>inbox</mat-icon>
        <mat-card-title>Tramitações</mat-card-title>
        <mat-card-subtitle>Pendentes de recebimento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="p-12" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner *ngIf="this.tramitacoesCount === false" diameter="64"></mat-spinner>
            <div *ngIf="this.tramitacoesCount !== false" class="light-blue-fg font-size-64 line-height-64">
                {{this.tramitacoesCount}}
            </div>
            <div class="h3 font-weight-500">
                A caminho
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="p-12 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 text-truncate">
               Autos físicos em trâmite para minha unidade
            </span>
        </div>
    </mat-card-footer>
</mat-card>
