<cdk-especie-atividade-grid
        [loading]="(loading$ | async)"
        [especieAtividades]="(especieAtividades$ | async)"
        [displayedColumns]="displayedColumns"
        [actions]="actions"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['edit', 'delete']"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (favorito)="favorito($event)"
        (delete)="delete($event)">
</cdk-especie-atividade-grid>
