<div class="toolbar">

    <cdk-componente-digital-card *ngFor="let componenteDigital of componentesDigitais"
                                 [componenteDigital]="componenteDigital"
                                 [selected]="selectedIds.indexOf(componenteDigital.id) > -1"
                                 (cancel)="onCancel($event)"
                                 [ngClass]="{'processo': mode === 'processo'}"
                                 [mode]="mode"
                                 (retry)="onRetry($event)"
                                 (clicked)="onClick($event)"
                                 (changedSelected)="toggleInSelected($event)">
    </cdk-componente-digital-card>

    <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"/>
</div>