<div class="header">
    <mat-icon class="mr-8 s-16">location_city</mat-icon>
    <a [routerLink]="['/apps/admin/unidades/listar']">unidades</a>
    <span class="mr-4 ml-4">/</span>
    <span>unidade {{routerState.params.unidadeHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-unidade-form
        [unidade]="unidade"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [setorPagination]="setorPagination"
        [generoSetorPagination]="generoSetorPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-unidade-form>
</div>