

    <div class="header">
            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                search
            </mat-icon>
            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                  *ngIf="this.mode === 'list'">Filtro</span>
        </div>

        <div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">

            <mat-form-field>
                <mat-label>Observação</mat-label>
                <input matInput #observacao
                       name="observacao"
                       formControlName="observacao">
            </mat-form-field>

            <mat-form-field>
                <mat-label>CódigoIndexacao</mat-label>
                <input matInput #codigoIndexacao
                       name="codigoIndexacao"
                       formControlName="codigoIndexacao">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fundamento Legal</mat-label>
                <input matInput #fundamentoLegal
                       name="fundamentoLegal"
                       formControlName="fundamentoLegal">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Razões da Classificação do Sigilo</mat-label>
                <input matInput #razoesClassificacaoSigilo
                       name="razoesClassificacaoSigilo"
                       formControlName="razoesClassificacaoSigilo">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nível de Acesso</mat-label>
                <input matInput #nivelAcesso
                       name="nivelAcesso"
                       formControlName="nivelAcesso">
            </mat-form-field>

            <mat-checkbox formControlName="desclassificado" class="mr-16 mb-16" fxFlex="0 1 auto">
                Desclassificado
            </mat-checkbox>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Modalidade da Categoria do Sigilo"
                           formControlName="modalidadeCategoriaSigilo"
                           [matAutocomplete]="modalidadeCategoriaSigilo.autocomplete">
                </div>
                <cdk-modalidade-categoria-sigilo-autocomplete
                    #modalidadeCategoriaSigilo="modalidadeCategoriaSigiloAutocomplete"
                    [control]="form.get('modalidadeCategoriaSigilo')">
                </cdk-modalidade-categoria-sigilo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Tipo de Sigilo"
                           formControlName="tipoSigilo"
                           [matAutocomplete]="tipoSigilo.autocomplete">
                </div>
                <cdk-tipo-sigilo-autocomplete #tipoSigilo="tipoSigiloAutocomplete" [control]="form.get('tipoSigilo')">
                </cdk-tipo-sigilo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Processo"
                           formControlName="processo"
                           [matAutocomplete]="processo.autocomplete">
                </div>
                <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
                </cdk-processo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Documento"
                           formControlName="documento"
                           [matAutocomplete]="documento.autocomplete">
                </div>
                <cdk-documento-autocomplete #documento="documentoAutocomplete" [control]="form.get('documento')">
                </cdk-documento-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Origem de Dados"
                           formControlName="origemDados"
                           [matAutocomplete]="origemDados.autocomplete">
                </div>
                <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete"
                                               [control]="form.get('origemDados')">
                </cdk-origem-dados-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data da Validade do Sigilo</mat-label>
                <input matInput formControlName="dataHoraValidadeSigilo" [matDatetimepicker]="dataHoraValidadeSigilo">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraValidadeSigilo"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraValidadeSigilo type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data do Início do Sigilo</mat-label>
                <input matInput formControlName="dataHoraInicioSigilo" [matDatetimepicker]="dataHoraInicioSigilo">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraInicioSigilo"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraInicioSigilo type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Criado Em</mat-label>
                <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
                <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
                <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Atualizado Por"
                           formControlName="atualizadoPor"
                           [matAutocomplete]="usuario.autocomplete">
                </div>
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Atualizado Em</mat-label>
                <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
                <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
                <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Apagado Por"
                           formControlName="apagadoPor"
                           [matAutocomplete]="usuario.autocomplete">
                </div>
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Apagado Em</mat-label>
                <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
                <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
                <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>