vinculacao-etiqueta-create {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 8px;

        .mat-list-base .mat-list-item .mat-line {
            white-space: pre-wrap !important;
        }
    }
}
