<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Número</mat-label>
            <input matInput #numero
                   name="numero"
                   formControlName="numero">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem de Dados"
                       formControlName="origemDados"
                       [matAutocomplete]="origemDados.autocomplete">
            </div>
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete" [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Pessoa"
                       formControlName="pessoa"
                       [matAutocomplete]="pessoa.autocomplete">
            </div>
            <cdk-pessoa-autocomplete #pessoa="pessoaAutocomplete" [control]="form.get('pessoa')">
            </cdk-pessoa-autocomplete>
        </mat-form-field>

    </div>
</form>
