cdk-modalidade-modelo-filter {

  .content {

    .form-card {
      border-radius: 8px;
    }

    .form-errors-model {
      flex: 1;

      code {
        background: none !important;
      }
    }
  }

}