<div class="header">
    <mat-icon class="mr-8 s-16">low_priority</mat-icon>
    <a [routerLink]="['/apps/admin/classificacoes/listar']">classificações</a>
    <span class="mr-4 ml-4">/</span>
    <span>classificação {{routerState.params.classificacaoHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-classificacao-form
        [classificacao]="(classificacao$ | async)"
        [form]="formClassificacao"
        [classificacaoPagination]="classificacaoPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitClassificacao($event)"
        (abort)="doAbort()">
    </cdk-classificacao-form>
</div>
