<div class="header" *ngIf="!(expandir$ | async)">
    <div class="actions">
        <button *ngIf="mobileMode" mat-icon-button (click)="deselectCurrentTarefa()">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

        <button *ngIf="!mobileMode && !(maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(true)">
            <mat-icon class="secondary-text">fullscreen</mat-icon>
        </button>

        <button *ngIf="!mobileMode && (maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(false)">
            <mat-icon class="secondary-text">fullscreen_exit</mat-icon>
        </button>

        <cdk-vinculacao-etiqueta-chips
            [placeholder]="placeholderEtiq"
            [vinculacoesEtiquetas]="vinculacoesEtiquetas"
            (create)="onVinculacaoEtiquetaCreate($event)"
            (edit)="onVinculacaoEtiquetaEdit($event)"
            [savingVinculacaoEtiquetaId]="(savingVinculacaoEtiquetaId$ | async)"
            [errors]="(errors$ | async)"
            [errorsAddEtiqueta]="(errorsAddEtiqueta$ | async)"
            [pagination]="vinculacaoEtiquetaPagination"
            (delete)="onVinculacaoEtiquetaDelete($event)"
            (addEtiqueta)="addEtiqueta($event)"
            [habilitarOpcaoBtnAddEtiqueta]="habilitarOpcaoBtnAddEtiqueta">
        </cdk-vinculacao-etiqueta-chips>

        <button mat-icon-button aria-label="Processo" matTooltip="Processo"
                [routerLink]="['processo', (tarefa$ | async)?.processo?.id]"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">book</mat-icon>
        </button>

        <button mat-icon-button aria-label="Editar Tarefa" matTooltip="Editar Tarefa"
                fxHide.xs
                [routerLink]="'editar'"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="Movimentar" matTooltip="Movimentar"
                fxHide.xs
                [routerLink]="routeAtividade" [routerLinkActive]="['active', 'accent']">
            <mat-icon>send</mat-icon>
        </button>

        <div class="spinner-container m-8" *ngIf="(pluginLoading$ | async)?.length">
            <mat-spinner diameter="20"></mat-spinner>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="Mais Ferramentas"
                (click)="$event.stopPropagation()"
                *ngIf="(pluginLoading$ | async)?.length === 0">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">

            <button mat-menu-item aria-label="Editar"
                    fxShow.xs fxHide.gt-xs
                    [routerLink]="'editar'">
                <ng-container>
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="toggle done"
                    (click)="doCreateTarefa()">
                <ng-container>
                    <mat-icon>check_box</mat-icon>
                    <span>Criar Tarefa</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="Dar ciência"
                    (click)="doCiencia()">
                <ng-container>
                    <mat-icon>check</mat-icon>
                    <span>Dar Ciência</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="Compartilhamento"
                    [routerLink]="'compartilhamentos/criar'">
                <ng-container>
                    <mat-icon>share</mat-icon>
                    <span>Compartilhar</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="Movimentar"
                    fxShow.xs fxHide.gt-xs
                    [routerLink]="routeAtividade">
                <ng-container>
                    <mat-icon>send</mat-icon>
                    <span>Movimentar</span>
                </ng-container>
            </button>


            <button mat-menu-item aria-label="Ofícios"
                    [routerLink]="'oficios'">
                <ng-container>
                    <mat-icon>chrome_reader_mode</mat-icon>
                    <span>Ofícios</span>
                </ng-container>
            </button>

            <ng-template #dynamicComponent></ng-template>
        </mat-menu>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
