@import '../../../../../@cdk/scss/cdk';

tarefa-detail {

    height: 100%;

    .tarefa-header {
        height: 125px;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 8px;
        border-bottom: 1px solid;

        .actions {
            min-width: 88px;
            margin-left: auto;
        }
    }

    .tarefa-content {
        height: 76%;
    }
}
