<div class="header" *ngIf="maximizado || mobileMode || isGridMode">
    <div class="painel">
        <div class="info">
            <div style="font-weight: bold">
                Tarefa  {{tarefa.id}}
                <mat-icon *ngIf="expandState === 'minimum'" (click)="expandState = 'maximized'" class="s-16 cursor-pointer">expand_more</mat-icon>
            </div>
            <div style="font-style: italic">{{tarefa.especieTarefa?.nome | titleCasePipe}} {{tarefa.vinculacaoWorkflow ? ' (Tarefa de Workflow)' : ''}}</div>
            <div style="font-style: italic"> {{tarefa.setorResponsavel?.nome | titleCasePipe}} ({{tarefa.setorResponsavel?.unidade?.sigla}})</div>
            <div style="font-style: italic" *ngIf="expandState === 'maximized'"> Distribuída em {{tarefa.dataHoraDistribuicao?.toDate() | date: 'dd/MM/yyyy'}}</div>
            <div style="font-style: italic" *ngIf="expandState === 'maximized'">
                Prazo de {{tarefa.dataHoraInicioPrazo?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}
                até {{tarefa.dataHoraFinalPrazo?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}
            </div>
        </div>
    </div>
    <div class="actions">
        <mat-icon class="secondary-text mr-8">label</mat-icon>
        <cdk-vinculacao-etiqueta-chips
            [placeholder]="placeholderEtiq"
            [vinculacoesEtiquetas]="vinculacoesEtiquetas"
            (create)="onVinculacaoEtiquetaCreate($event)"
            (edit)="onVinculacaoEtiquetaEdit($event)"
            [savingVinculacaoEtiquetaId]="(savingVinculacaoEtiquetaId$ | async)"
            [errors]="(errors$ | async)"
            [errorsAddEtiqueta]="(errorsAddEtiqueta$ | async)"
            [pagination]="vinculacaoEtiquetaPagination"
            (delete)="onVinculacaoEtiquetaDelete($event)"
            (addEtiqueta)="addEtiqueta($event)"
            [habilitarOpcaoBtnAddEtiqueta]="habilitarOpcaoBtnAddEtiqueta">
        </cdk-vinculacao-etiqueta-chips>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
