@import "../../../scss/partials/cdk-form";

cdk-cadastro-identificador-form {
    height: 100%;

    form {
        width: 100%;
    }

    .form-card {
        border-radius: 8px;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }

}
