<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Número" formControlName="numero" required maxlength="14">
            </div>
        </mat-form-field>
    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions" *ngIf="!saving">
       <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>
