<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
		1. Na p&aacute;gina de edição de <strong>Processo</strong>, escolha a op&ccedil;&atilde;o <strong>Restri&ccedil;&otilde;es de acesso</strong>:<br><br>
		<img src="assets/images/ajuda/restricaoacesso.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Clique no bot&atilde;o <strong>Novo</strong>:<br>
		<img src="assets/images/ajuda/novo.png" style="width: 80px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
		3. Escolha se a concess&atilde;o vai ser para usu&aacute;rio ou setor e, na lupa
		<img src="assets/images/ajuda/lupa.png" style="width: 25px;" class="fr-fic fr-dib fr-fil">
		, escolha o nome do usu&aacute;rio/setor que vai receber o acesso.
    </p>
	 <p style="text-align: justify;">
        4. Selecione os poderes que o usu&aacute;rio/setor vai receber:<br>
		<img src="assets/images/ajuda/poderes.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
		 <p style="text-align: justify;">
        5. Salve a restri&ccedil;&otilde;o de acesso.
		</p>
		 <p style="text-align: justify;">
		6. Ap&oacute;s isso, aparece a lista de  usu&aacute;rios/setores que possuem o acesso ao Processo.
		</p>
	
    <hr>
	<p style="text-align: justify;">
		<strong>Observa&ccedil;&atilde;o:</strong> 
		&eacute; possível remover todas as retri&ccedil;&otilde;es de acesso e liberar o Processo por meio do bot&atilde;o remover: <img src="assets/images/ajuda/lixeira.png" style="width: 50px;" class="fr-fic fr-dii">.
	</p>
	<p><br></p>
</div>