#afastamentos {
  height: 100%;
  .header {

    .actions {
      .is-active {
        display: none;
      }
    }

  }

  .content {
    height: 85%;
  }
}

admin-afastamentos {
  height: 100% !important;
}