cdk-componente-digital-view {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .src {
        display: flex;
        flex: 1 1 auto;

        > iframe {
            display: flex;
            flex: 1 1 auto;
        }
    }
}
