<div class="header">
    <mat-icon class="mr-8 s-16">place</mat-icon>
    <a [routerLink]="['/apps/admin/especie-setor/listar']">espécie setores</a>
    <span class="mr-4 ml-4">/</span>
    <span>espécie setor {{routerState.params.especieSetorHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-setor-form
        [especieSetor]="(especieSetor$ | async)"
        [form]="formEspecieSetor"
        [generoSetorPagination]="generoSetorPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieSetor($event)"
        (abort)="doAbort()">
    </cdk-especie-setor-form>
</div>