<div class="header">
    <mat-icon class="mr-8 s-16">subject</mat-icon>
    <span>assuntos</span>
</div>
<cdk-assunto-administrativo-grid
    [loading]="(loading$ | async)"
    [assuntosAdministrativos]="(assuntoAdministrativos$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['select', 'id', 'nome', 'dispositivoLegal', 'codigoCNJ', 'glossario', 'parent.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-assunto-administrativo-grid>
