cdk-juntada-form {

  form {
    width: 100%;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  cdk-documento-gridsearch {
    width: 100%;
  }

  cdk-origem-dados-gridsearch {
    width: 100%;
  }

  cdk-volume-gridsearch {
    width: 100%;
  }

  cdk-documento-avulso-gridsearch {
    width: 100%;
  }

  cdk-atividade-gridsearch {
    width: 100%;
  }

  cdk-tarefa-gridsearch {
    width: 100%;
  }
}
