<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-form-field fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Município"
                   formControlName="municipio"
                   [matAutocomplete]="municipio.autocomplete" required
                   (blur)="checkMunicipio()">
        </div>
        <cdk-municipio-autocomplete
            #municipio="municipioAutocomplete"
            [control]="form.get('municipio')"
            [pagination]="municipioPagination">
        </cdk-municipio-autocomplete>
        <button *ngIf="form.get('municipio').enabled" matSuffix mat-button mat-icon-button
                (click)="showMunicipioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('municipio').hasError('formError')">
            {{form.get('municipio').errors.formError}}
        </mat-error>
    </mat-form-field>
    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions" *ngIf="!saving">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-municipio-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'municipio-gridsearch'"
    [pagination]="municipioPagination"
    (selected)="selectMunicipio($event)"
    (cancel)="cancel()">
</cdk-municipio-gridsearch>
