<div fxFlex="100">

    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="column">

        <div class="actions ml-16" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button
                    (click)="back()"
                    aria-label="voltar"
                    matTooltip="Voltar">
                <mat-icon>arrow_back</mat-icon>
            </button>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT -->
        <div class="content p-24" fxLayout="column" fxFlex="100">

            <cdk-tarefa-form
                    [tarefa]="(currentTarefa$ | async)?.teste"
                    [saving]="(currentTarefa$ | async)?.saving"
                    [errors]="(currentTarefa$ | async)?.errors"
                    (save)="submit($event)">
            </cdk-tarefa-form>

        </div>
    </div>
</div>