<cdk-tarefa-grid
        [loading]="(loading$ | async)"
        [tarefas]="(tarefas$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'edit', 'delete', 'showDeleted']"
        [displayedColumns]="['select', 'id', 'especieTarefa.nome', 'setorResponsavel.nome', 'usuarioResponsavel.nome', 'dataHoraInicioPrazo', 'dataHoraFinalPrazo', 'dataHoraConclusaoPrazo', 'actions']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)">
</cdk-tarefa-grid>
