<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para compartilhar uma atividade administrativa, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Na nova tela, clique nas <strong>Opções de Tarefa</strong> que vai ser compartilhada.
        <img src="assets/images/ajuda/encaminhamentoprocesso.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Clique na opção <strong>Compartilhar</strong> e a página de compartilhamento é aberta.
    </p>
    <p style="text-align: justify;">
        4. Na parte superior direita, é possível escolher entre <strong>Criar Compartilhamento</strong> e <strong>Ver Compartilhamentos</strong>.
        <img src="assets/images/ajuda/encaminhamentoprocesso.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">

    </p>

    <p style="text-align: justify;">
        5. Na opção de <strong>Criar Compartilhamento</strong> aparece um campo onde é possível adicionar o usuário o qual vai receber o compartilhamento.
        Após adicionar, salve o compartilhamento.
    </p>
    <p style="text-align: justify;">
        6. Na opção de <strong>Ver Compartilhamentos</strong> é possível ter acesso a lista de usuários que já estão compartilhados com a tarefa.
    </p>
    <p><br></p>
</div>