<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para lançar uma atividade administrativa, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Na nova tela, clique na <strong>Tarefa</strong> que vai ser vinculada a nova atividade.
    </p>
    <p style="text-align: justify;">
        3. Clique no botão superior direito <strong>Movimentar</strong> <img src="assets/images/ajuda/botaomovimentar.png" class="fr-fic fr-dii">, 
        para alcançar o menu de atividades.
    </p>
    <p style="text-align: justify;">
        4. É possível adicionar componentes digitais por meio do botão de anexar, que permite a utilização do editor ou do upload.
        Além disso, existe a opção de <strong>Juntar no processo</strong> ou <strong>Submeter à aprovação</strong>
    </p>

    <p style="text-align: justify;">
        5. É possível <strong>Encerrar a tarefa</strong> ou não, dependendo da vontade do usuário.
    </p>
    <p style="text-align: justify;">
        6. Nos campos restantes, é possível escolher uma <strong>Espécie de Atividade</strong>, a <strong>Data/Hora</strong> e o <strong>Usuário Responsável pela Atividade</strong> 
    </p>
    <p style="text-align: justify;">
        7. Ao clicar no botão salvar, é aberto o menu de 
        <strong>Encaminhamento do Processo</strong>, onde é possível <strong>Criar nova tarefa</strong>, 
        <strong>Arquivar o processo</strong> ou <strong>Remeter para outro órgão</strong>, 
        impedindo o objeto de cair no esquecimento das pessoas que o estão manipulando e dando continuadade ao <strong>Processo</strong>.
    </p>
    <p style="text-align: justify;">8. Clique em <strong>Salvar</strong>.</p>
    <p style="text-align: justify;">
        9. Ao concluir o <strong>lançamento da atividade</strong>, o SUPP força a continuidade do processo, evitando o esquecimento desse.
        Por isso, entra no menu de Encaminhamento do Processo.
        <img src="assets/images/ajuda/encaminhamentoprocesso.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>

    <hr>
    <p style="text-align: justify;"><strong>Observa&ccedil;&atilde;o:</strong> Caso o processo esteja com alguma <strong>Tramita&ccedil;&atilde;o
        Externa</strong> em andamento, a abertura da Atividade <strong>n&atilde;o</strong> ser&aacute; realizada.</p>
    <hr>
    <p><br></p>
</div>