@import "../../../../@cdk/scss/cdk";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 56px;
    }

    .mat-toolbar {
        position: relative;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    cdk-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button
    .quick-panel-toggle-button2 
    .quick-panel-toggle-button3{

        min-width: 56px;
        height: 56px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 56px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}

.textoMenu {
    margin: 15px 15px 15px 15px;
    font-weight: bold;
}