<cdk-transicao-workflow-grid
    [loading]="(loading$ | async)"
    [transicoesWorkflows]="(transicoesWorkflows$ | async)"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'workflow.especieProcesso.nome', 'especieAtividade.nome', 'especieTarefaFrom.nome', 'especieTarefaTo.nome', 'actions']"
    [actions]="['edit', 'create', 'delete']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()"
    (delete)="delete($event)">
</cdk-transicao-workflow-grid>