<div class="header">
    <path icone="low_priority"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="classificacoes">
    </path>
</div>
<cdk-classificacao-grid
    [loading]="(loading$ | async)"
    [_classificacoes]="(classificacoes$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'codigo', 'nome', 'modalidadeDestinacao.valor', 'parent.nome', 'ativo', 'permissaoUso', 'visibilidadeRestrita', 'actions']"
    [actions]="['edit', 'create', 'delete', 'showInatived']"
    (inatived)="inatived($event)"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()"
    (delete)="delete($event)">
</cdk-classificacao-grid>
