<div class="header">
    <mat-icon class="mr-8 s-16">low_priority</mat-icon>
    <span>classificações</span>
</div>
<cdk-classificacao-grid
    [loading]="(loading$ | async)"
    [_classificacoes]="(classificacoes$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['select', 'id', 'codigo', 'nome', 'modalidadeDestinacao.valor', 'parent.nome', 'ativo', 'permissaoUso', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-classificacao-grid>
