<div class="repositorios-content" fxFlex fxLayout="column">
    <!-- CONTENT HEADER -->
    <div fxFlex="0 1 auto" fxLayout="column">
        <div class="actions m-8" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button
                    class="mat-accent"
                    [routerLink]="'editar/criar'"
                    *ngIf="action === 'listar'"
                    aria-label="novo"
                    matTooltip="Novo Repositório">
                Novo
            </button>
            <button mat-icon-button
                    (click)="goBack()"
                    *ngIf="action !== 'listar'"
                    aria-label="voltar"
                    matTooltip="Voltar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT -->
    <div class="p-16" fxFlex="1 1 auto" cdkPerfectScrollbar>
        <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT -->
</div>

