<cdk-documento-avulso-grid
        [loading]="(loading$ | async)"
        [documentosAvulsos]="(documentosAvulsos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        (responder)="responder($event)"
        (statusBarramento)="verificaStatusBarramento($event)"
        [actions]="['showDeleted']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-documento-avulso-grid>
