<cdk-documento-avulso-grid
        [loading]="(loading$ | async)"
        [documentosAvulsos]="(documentosAvulsos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        (responder)="responder($event)"
        [actions]="['create', 'edit', 'responder']"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)">
</cdk-documento-avulso-grid>
