<div class="page-layout full-width left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="routerState.params.etiquetaHandle && routerState.params.etiquetaHandle !== 'criar'"
                 class="sidebar" name="etiqueta-edit-main-sidebar" position="left"
                 [lockedOpen]="'gt-md'">
            <etiqueta-edit-main-sidebar [@animate]="{value:'*'}"></etiqueta-edit-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>
