<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para criar, por exemplo, uma <strong>tarefa administrativa</strong> clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Na nova tela, clique em <strong>Criar</strong>:
        <img src="assets/images/ajuda/criartarefa2.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Indique o <strong>n&uacute;mero</strong> do Processo
        e a <strong>Esp&eacute;cie de Tarefa</strong>. Clique na Lupa
        <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar
        entre o registro de Processos ou Esp&eacute;cie
        de Tarefa.
    </p>
    <hr>
    <p style="text-align: justify;"><strong>Observa&ccedil;&atilde;o:</strong> Voc&ecirc; pode buscar dentre as suas
        Tarefas favoritas clicando na Estrela <img src="assets/images/ajuda/estrela.png" style="width: 25px;"
                                                   class="fr-fic fr-dii">.
        Caso voc&ecirc; n&atilde;o tenha tarefas favoritas, o SUPP sugerir&aacute; automaticamente as cinco tarefas mais
        utilizadas pelo usu&aacute;rio. Al&eacute;m disso, se houver a necessidade de abrir um bloco de tarefas, voc&ecirc;
        pode clicar no bot&atilde;o: <br />
        <img src="assets/images/ajuda/blocoprocessos.png" style="width: 189px; height: 31px;" class="fr-fic fr-dii"><br />para
        determinar a abertura da mesma tarefa para v&aacute;rios processos.</p>
    <hr>
    <p style="text-align: justify;">4. Indique a <strong>Unidade, Setor e Usu&aacute;rio</strong> respons&aacute;vel
        pela nova tarefa. Novamente, voc&ecirc; pode clicar na Lupa <img src="assets/images/ajuda/lupa.png"
                                                                         class="fr-fic fr-dii">&nbsp;se
        precisar pesquisar qual a unidade, setor ou usu&aacute;rio respons&aacute;vel.</p>
    <hr>
    <p style="text-align: justify;"><strong>Observa&ccedil;&atilde;o:</strong> Caso n&atilde;o saiba apontar um Usu&aacute;rio
        respons&aacute;vel espec&iacute;fico pela nova tarefa, ou quiser que o SUPP determine automaticamente o respons&aacute;vel,
        voc&ecirc; pode clicar no bot&atilde;o:
        <img src="assets/images/ajuda/distribuicaoautomatica.png" style="width: 212px; height: 30px;"
             class="fr-fic fr-dii"><br />para que o sistema realize esta distribui&ccedil;&atilde;o.</p>
    <hr>
    <p style="text-align: justify;">5. Indique <strong>In&iacute;cio</strong> e <strong>Final</strong> de prazo da nova Tarefa. Por padr&atilde;o o
        SUPP, indica um prazo de cinco dias corridos.</p>
    <p style="text-align: justify;">6. Indique o <strong>Setor de Origem</strong> da Tarefa. O Setor de Origem por padr&atilde;o &eacute; o Setor
        atualmente respons&aacute;vel pelo Processo, por&eacute;m o usu&aacute;rio pode indicar um dos setores onde ele
        se encontra atualmente lotado.</p>
    <p style="text-align: justify;">7. Indique uma <strong>Observa&ccedil;&atilde;o</strong> para a nova Tarefa, se desejar.</p>
    <p style="text-align: justify;">8. Clique em <strong>Salvar</strong>.</p>
    <hr>
    <p style="text-align: justify;"><strong>Observa&ccedil;&atilde;o:</strong> Caso o processo esteja com alguma <strong>Tramita&ccedil;&atilde;o
        Externa</strong> em andamento, a abertura da Tarefa <strong>n&atilde;o</strong> ser&aacute; realizada.</p>
    <hr>
    <p><br></p>
</div>