<!-- SIDEBAR HEADER -->
<div class="header mt-8 mb-8">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{label}}</span>
    </div>
    <div class="logo-nup" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{nup}}</div>
    <div class="logo-subtext" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{generoProcesso | titleCasePipe}}</div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="nav material2">
        <div class="nav-item" *ngFor="let link of links">
            <a matTooltip="{{link.tooltip}}" *ngIf="(link.canShow === undefined || (link.canShow(this.processo$) | async) === true) && this._loginService.isGranted(link.role) && (!link.processo || (processo$ | async))"
               class="nav-link" matRipple [routerLink]="link.link"
               (click)="fecharSidebar()"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span>{{link.nome | titlecase}}</span>
            </a>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
