<div class="pr-16" fxFlex *ngIf="activeCard === 'form'" cdkPerfectScrollbar>

    <form class="p-24 mr-24" fxLayoutGap="36px"
          fxLayout="column"
          fxLayoutAlign="start"
          name="form" [formGroup]="form">

        <div fxFlex="1 0 auto" fxLayout="column" class="div-form">

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Código" formControlName="codigo" minlength="3" maxlength="25" required>
                    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                            (click)="showLogEntryGrid('codigo')">
                        <mat-icon matTooltip="Histórico">history</mat-icon>
                    </button>
                </div>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Nome" formControlName="nome" maxlength="255" required>
                    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                            (click)="showLogEntryGrid('nome')">
                        <mat-icon matTooltip="Histórico">history</mat-icon>
                    </button>
                </div>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Destinação"
                           formControlName="modalidadeDestinacao"
                           [matAutocomplete]="modalidadeDestinacao.autocomplete"
                           (blur)="checkModalidadeDestinacao()"
                           required>
                </div>
                <cdk-modalidade-destinacao-autocomplete
                    #modalidadeDestinacao="modalidadeDestinacaoAutocomplete"
                    [control]="form.get('modalidadeDestinacao')"
                    [pagination]="modalidadeDestinacaoPagination">
                </cdk-modalidade-destinacao-autocomplete>
                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                        (click)="showLogEntryGrid('xxx')">
                    <mat-icon matTooltip="Histórico">history</mat-icon>
                </button>
                <button matSuffix mat-button mat-icon-button
                        (click)="showModalidadeDestinacaoGrid()">
                    <mat-icon matTooltip="Procurar">search</mat-icon>
                </button>
                <mat-error *ngIf="form.get('modalidadeDestinacao').hasError('formError')">
                    {{form.get('modalidadeDestinacao').errors.formError}}
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Classificação Pai"
                           formControlName="parent"
                           [matAutocomplete]="classificacao.autocomplete"
                           (blur)="checkClassificacao()"
                           required>
                </div>
                <cdk-classificacao-autocomplete
                    #classificacao="classificacaoAutocomplete"
                    [control]="form.get('parent')"
                    [pagination]="classificacaoPagination">>
                </cdk-classificacao-autocomplete>
                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                        (click)="showLogEntryGrid('parent')">
                    <mat-icon matTooltip="Histórico">history</mat-icon>
                </button>
                <button matSuffix mat-button mat-icon-button
                        (click)="showClassificacaoGrid()">
                    <mat-icon matTooltip="Procurar">search</mat-icon>
                </button>
                <mat-error *ngIf="form.get('parent').hasError('formError')">
                    {{form.get('parent').errors.formError}}
                </mat-error>
            </mat-form-field>

            <div class="dates checks" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <div class="space-rigth">
                    <mat-checkbox formControlName="ativo">
                        Ativo
                    </mat-checkbox>
                    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                            (click)="showLogEntryGrid('ativo')">
                        <mat-icon matTooltip="Histórico">history</mat-icon>
                    </button>
                </div>
                <div>
                    <mat-checkbox formControlName="permissaoUso">
                        Permissão Uso
                    </mat-checkbox>
                    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                            (click)="showLogEntryGrid('permissaoUso')">
                        <mat-icon matTooltip="Histórico">history</mat-icon>
                    </button>
                </div>
            </div>

                <mat-expansion-panel [expanded]="true" hideToggle>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Prazo de Guarda Fase Corrente
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <section class="prazoGuarda">
                        <mat-form-field>
                            <input matInput type="number" class="prazoGuardaCampo"
                                   formControlName="prazoGuardaFaseCorrenteDia" placeholder="Dia(s)">
                            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                    (click)="showLogEntryGrid('prazoGuardaFaseCorrenteDia')">
                                <mat-icon matTooltip="Histórico">history</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" class="prazoGuardaCampo"
                                   formControlName="prazoGuardaFaseCorrenteMes" placeholder="Mês(es)">
                            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                    (click)="showLogEntryGrid('prazoGuardaFaseCorrenteMes')">
                                <mat-icon matTooltip="Histórico">history</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" class="prazoGuardaCampo"
                                   formControlName="prazoGuardaFaseCorrenteAno" placeholder="Ano(s)">
                        </mat-form-field>

                    </section>
                    <p>
                        <mat-form-field fxFlex="100">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <input matInput placeholder="Evento" formControlName="prazoGuardaFaseCorrenteEvento">
                                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                        (click)="showLogEntryGrid('prazoGuardaFaseCorrenteEvento')">
                                    <mat-icon matTooltip="Histórico">history</mat-icon>
                                </button>
                            </div>
                        </mat-form-field>
                    </p>

                </mat-expansion-panel>

            <br/>

            <mat-expansion-panel [expanded]="true" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Prazo de Guarda Fase Intermediária
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <section class="prazoGuarda">
                    <mat-form-field>
                        <input matInput type="number" class="prazoGuardaCampo"
                               formControlName="prazoGuardaFaseIntermediariaDia" placeholder="Dia(s)">
                        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                (click)="showLogEntryGrid('prazoGuardaFaseIntermediariaDia')">
                            <mat-icon matTooltip="Histórico">history</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" class="prazoGuardaCampo"
                               formControlName="prazoGuardaFaseIntermediariaMes" placeholder="Mês(es)">
                        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                (click)="showLogEntryGrid('prazoGuardaFaseIntermediariaMes')">
                            <mat-icon matTooltip="Histórico">history</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" class="prazoGuardaCampo"
                               formControlName="prazoGuardaFaseIntermediariaAno" placeholder="Ano(s)">
                        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                (click)="showLogEntryGrid('prazoGuardaFaseIntermediariaAno')">
                            <mat-icon matTooltip="Histórico">history</mat-icon>
                        </button>
                    </mat-form-field>
                </section>
                <p>
                    <mat-form-field fxFlex="100">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <input matInput placeholder="Evento" formControlName="prazoGuardaFaseIntermediariaEvento">
                            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                                    (click)="showLogEntryGrid('prazoGuardaFaseIntermediariaEvento')">
                                <mat-icon matTooltip="Histórico">history</mat-icon>
                            </button>
                        </div>
                    </mat-form-field>
                </p>

            </mat-expansion-panel>

            <mat-form-field class="mr-16 mb-16" fxFlex="0 1 auto">
            <textarea formControlName="observacao"
                      matInput placeholder="Observação" maxlength="255"></textarea>
            </mat-form-field>

        </div>

        <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

        <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                    [disabled]="form.invalid">
                SALVAR
            </button>
            <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
                CANCELAR
            </button>
        </div>

        <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
        </div>
    </form>
</div>

<cdk-modalidade-destinacao-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'modalidade-destinacao-gridsearch'"
    (selected)="selectModalidadeDestinacao($event)"
    (cancel)="cancel()">
</cdk-modalidade-destinacao-gridsearch>

<cdk-classificacao-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'classificacao-gridsearch'"
    (selected)="selectClassificacao($event)"
    (cancel)="cancel()">
</cdk-classificacao-gridsearch>

<cdk-logentry-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>
