<div class="afastamentos-content" fxFlex fxLayout="column">
    <!-- CONTENT HEADER -->
    <div fxFlex="0 1 auto" fxLayout="column">
        <div class="actions m-8" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button
                    (click)="goBack()"
                    aria-label="voltar"
                    matTooltip="Voltar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- CONTENT CARD -->
        <div class="content-card p-16" cdkPerfectScrollbar fxFlex>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>

