<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" [name]="this.sidebarName" position="left" lockedOpen="gt-md">
        <processo-view-main-sidebar [@animate]="{value:'*'}" [capaProcesso]="capaProcesso" [capa]="capa"
                                    (scrolled)="onScroll()"></processo-view-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="center">

        <!-- HEADER -->
        <div class="header" *ngIf="routerState?.url?.indexOf('/capa') === -1 && !vinculacao && !desentranhamento && !documentoAvulso && !modelos">

            <button mat-icon-button class="sidebar-toggle mr-8 cdk-black-fg" fxHide.gt-md
                    (click)="toggleSidebar(this.sidebarName)">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="!capa && !vinculacao && !desentranhamento && !documentoAvulso" class="juntada-navigation">
                <div>
                    <button mat-mini-fab class="previous accent cdk-white-fg"
                            *ngIf="!isBookmark"
                            (click)="gotoPreviousStep()"
                            [disabled]="disabledBack()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <ng-container *showIfRole="'ROLE_COLABORADOR'">
                        <button mat-mini-fab [matTooltip]="'Criar marcador de página'"
                                class="previous accent cdk-white-fg ml-8"
                                *ngIf="src && this.componenteDigital?.mimetype === 'application/pdf'"
                                (click)="criarBookmark(this.componenteDigital.id)">
                            <mat-icon>bookmark</mat-icon>
                        </button>
                    </ng-container>
                </div>

                <div>
                    <span [matTooltip]="fileName"
                          [ngClass]="{'warn' : unsafe}" *ngIf="(loading$ | async) === false">
                        {{ (fileName.length > 40) ?
                            (fileName | slice:0:40)+'...' :
                            (fileName)
                        }}
                    </span>
                </div>

                <div class="right">
                    <button mat-mini-fab (click)="zoomOut()" *ngIf="isHtml(fileName)">
                        <mat-icon class="mat-18">zoom_out</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab (click)="zoomIn()"  *ngIf="isHtml(fileName)">
                        <mat-icon class="mat-18">zoom_in</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab class="next accent cdk-white-fg"
                            *ngIf="!isBookmark"
                            (click)="gotoNextStep()"
                            [disabled]="disabledNext()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="m-8" *ngIf="capa && this.processo?.id && this.processo?.origemDados">
            <mat-card *showIfRole="'ROLE_COLABORADOR'">
                <mat-card-subtitle>Integração</mat-card-subtitle>
                <div>ORIGEM DE DADOS: {{this.processo?.origemDados.fonteDados}}</div>
                <div>ÚLTIMA
                    SINCRONIZAÇÃO:
                    {{this.processo?.origemDados.dataHoraUltimaConsulta?.toDate() | date: 'dd/MM/yyyy HH:mm'}}</div>
                <div *ngIf="this.processo?.origemDados.status === 1">STATUS: SUCESSO</div>
                <div *ngIf="this.processo?.origemDados.status >= 2">STATUS: ERRO!</div>
                <div *ngIf="this.processo?.origemDados.status === 0" class="spinner-wrapper">
                    <span>STATUS: </span>
                    <mat-spinner diameter="14"></mat-spinner>
                </div>
            </mat-card>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <div *ngIf="!capa && !vinculacao && !desentranhamento && !documentoAvulso && !modelos" class="processo-view-juntada">

                <div class="loading" *ngIf="(loading$ | async)">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>

                <div class="sem-juntadas" *ngIf="(loading$ | async) === false && (juntadas)?.length === 0">
                    <span class="no-juntadas-text hint-text">Não há documentos juntados</span>
                </div>

                <div *ngIf="(loading$ | async) === false && (juntadas)?.length > 0"
                     class="processo-view-juntada-content {{getZoomClass(fileName)}} {{getLayoutClass(fileName)}}">
                    <iframe id="iframe-juntadas" *ngIf="src && this.componenteDigital?.mimetype !== 'application/pdf'"
                            [src]="src">
                    </iframe>
                    <ngx-extended-pdf-viewer *ngIf="src && this.componenteDigital?.mimetype === 'application/pdf'"
                                             [src]="src"
                                             [useBrowserLocale]="true"
                                             [textLayer]="true"
                                             [(zoom)]="zoomSetting"
                                             [showOpenFileButton]="false"
                                             [page]="page"
                                             (pageRendered)="onPageRendered()"
                                             (pageChange)="onPagesLoaded('pageChange', $event)">
                    </ngx-extended-pdf-viewer>
                    <div class="div-about-blank" *ngIf="!src && !downloadUrl">
                        <span class="no-juntadas-text">{{this.srcMessage}}</span>
                        <mat-card class="no-componentes" *ngIf="this.currentJuntada && this.currentJuntada.documento?.componentesDigitais.length === 0">
                            <mat-card-subtitle>MOVIMENTO</mat-card-subtitle>
                            <mat-card-content>
                                <span>{{this.currentJuntada?.descricao}}</span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="div-about-blank" *ngIf="downloadUrl">
                        <button mat-raised-button color="accent" (click)="doDownload()">
                            DOWNLOAD
                        </button>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
