<div class="left-sidebar" fxFlex fxLayout="row">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="juntadas-left-sidebar-1" position="left" lockedOpen="gt-md">
        <processo-view-main-sidebar [@animate]="{value:'*'}" [capaProcesso]="capaProcesso" [capa]="capa" (scrolled)="onScroll()"></processo-view-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex fxLayout="column">

        <!-- HEADER -->
        <div class="header accent p-16" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-16 cdk-black-fg" fxHide.gt-md
                    (click)="toggleSidebar('juntadas-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="!capa" class="juntada-navigation">

                <button mat-mini-fab class="previous mat-accent cdk-white-fg"
                        (click)="gotoPreviousStep()"
                        [disabled]="currentStep.step === 0 && currentStep.subStep === 0">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <div>
                    <h3 *ngIf="!loading">{{fileName}}</h3>
                </div>

                <button mat-mini-fab class="next mat-accent cdk-white-fg"
                        (click)="gotoNextStep()"
                        [disabled]="currentStep.step === totalSteps - 1 && currentStep.subStep === index[currentStep.step].length - 1">
                    <mat-icon>chevron_right</mat-icon>
                </button>

            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div fxFlex class="content">

            <router-outlet></router-outlet>

            <div *ngIf="!capa" class="processo-view-juntada" cdkPerfectScrollbar>

                <div fxLayout="column" fxFlex
                     fxLayoutAlign="center center">
                    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
                </div>

                <div *ngIf="!loading && (juntadas)?.length === 0" fxLayout="column"
                     fxLayoutAlign="center center" fxFlexFill>
                    <span class="no-juntadas-text hint-text"> Não há documentos juntados</span>
                </div>

                <div *ngIf="!loading && (juntadas)?.length > 0" class="processo-view-juntada-content">
                    <iframe id="iframe-juntadas"
                            [src]="src">
                    </iframe>

                </div>

            </div>

        </div>

        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
