@import "../../../../../@cdk/scss/cdk";

processo-view {

    flex: 1 1 auto;
    display: flex;

    > .page-layout {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        > .sidebar {
            width: 280px !important;
            min-width: 280px !important;
            max-width: 280px !important;
        }

        > .center {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            > .header {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 8px;

                height: 56px !important;
                min-height: 56px !important;
                max-height: 56px !important;

                .juntada-navigation {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            > .content {
                flex: 1 1 auto;
                display: flex;
                margin-left: 6px;

                > .processo-view-juntada {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;

                    > .loading, .sem-juntadas {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    > .processo-view-juntada-content {
                        flex: 1 1 auto;
                        display: flex;
                        @include mat-elevation(1);

                        > iframe {
                            flex: 1 1 auto;
                            display: flex;
                            border: none;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
