<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" [name]="this.sidebarName" position="left" lockedOpen="gt-md">
        <processo-view-main-sidebar [@animate]="{value:'*'}" [capaProcesso]="capaProcesso" [capa]="capa"
                                    (scrolled)="onScroll()"></processo-view-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="center">

        <!-- HEADER -->
        <div class="header" *ngIf="routerState?.url?.indexOf('/capa') === -1 && !vinculacao && !desentranhamento && !documentoAvulso && !modelos">

            <button mat-icon-button class="sidebar-toggle mr-16 cdk-black-fg" fxHide.gt-md
                    (click)="toggleSidebar(this.sidebarName)">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="!capa && !vinculacao && !desentranhamento && !documentoAvulso" class="juntada-navigation">
                <div>
                    <button mat-icon-button
                            (click)="gotoPreviousStep()"
                            [disabled]="disabledBack()">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                </div>

                <div>
                    <h3 *ngIf="!(loading$ | async)">{{fileName}}</h3>
                </div>

                <div class="right">
                    <button mat-mini-fab (click)="zoomOut()" *ngIf="isHtml(fileName)">
                        <mat-icon class="mat-18">zoom_out</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab (click)="zoomIn()"  *ngIf="isHtml(fileName)">
                        <mat-icon class="mat-18">zoom_in</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-icon-button
                            (click)="gotoNextStep()"
                            [disabled]="disabledNext()">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="m-16" *ngIf="capa && this.processo?.id && this.processo?.origemDados">
            <mat-card *showIfRole="'ROLE_COLABORADOR'">
                <mat-card-subtitle>Integração</mat-card-subtitle>
                <div>ORIGEM DE DADOS: {{this.processo?.origemDados.fonteDados}}</div>
                <div>ÚLTIMA
                    SINCRONIZAÇÃO:
                    {{this.processo?.origemDados.dataHoraUltimaConsulta?.toDate() | date: 'dd/MM/yyyy HH:mm'}}</div>
                <div *ngIf="this.processo?.origemDados.status === 1">STATUS: SUCESSO</div>
                <div *ngIf="this.processo?.origemDados.status >= 2">STATUS: ERRO!</div>
                <div *ngIf="this.processo?.origemDados.status === 0" class="spinner-wrapper">
                    <span>STATUS: </span>
                    <mat-spinner diameter="14"></mat-spinner>
                </div>
            </mat-card>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <div *ngIf="!capa && !vinculacao && !desentranhamento && !documentoAvulso && !modelos" class="processo-view-juntada">

                <div class="loading" *ngIf="(loading$ | async)">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>

                <div class="sem-juntadas" *ngIf="!(loading$ | async) && (juntadas)?.length === 0">
                    <span class="no-juntadas-text hint-text"> Não há documentos juntados</span>
                </div>

                <div *ngIf="!(loading$ | async) && (juntadas)?.length > 0"
                     class="processo-view-juntada-content {{getZoomClass(fileName)}} {{getLayoutClass(fileName)}}">
                    <iframe id="iframe-juntadas" *ngIf="src"
                            [src]="src">
                    </iframe>
                    <div class="div-about-blank" *ngIf="!src">
                        <span class="no-juntadas-text hint-text"> Não há documentos</span>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
