<h1 mat-dialog-title>
    <span class="mat-chip mat-primary mat-standard-chip" 
        [ngStyle]="{'background-color': data.corFundo}">
        <mat-icon class="icon">person</mat-icon>  {{data.nome}}
    </span>
</h1>

<form name="form" [formGroup]="form" (submit)="submit()">
    <div mat-dialog-content>
        <mat-form-field fxFlex="100">
            <div>
                <textarea matInput 
                formControlName="conteudo"                
                placeholder="Conteúdo da etiqueta" 
                #fieldConteudo ng-trim="false"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3" 
                cdkAutosizeMaxRows="6"></textarea>
            </div>
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>
    </div>

   <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

   <div mat-dialog-actions align="end">
        <button  *ngIf="!data.mostraSpinnerSalvamento" mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
        <mat-spinner *ngIf="data.mostraSpinnerSalvamento" diameter="24"></mat-spinner>
        <button *ngIf="!data.mostraSpinnerSalvamento" mat-raised-button color="accent">Salvar</button>        
    </div>
</form>



