<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Na nova tela, clique ao lado da tarefa para expandir as <strong>opções existentes</strong>:
        <img src="assets/images/ajuda/opcaotarefaindividual.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Clique em <strong>Editar Tarefa</strong>
    </p>
    <hr>
    <p style="text-align: justify;">
        4. O menu onde é possível modificar os parâmetros da tarefa é aberto. Após a modificação, aperte salvar.
    </p>
    <hr>
    <p><br></p>
</div>