<div fxFlex fxLayout="row">
    <div fxFlexAlign="column" fxFlex="25">
        <div class="header p-8" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="accent" class="mr-sm-12"
                    aria-label="remeter ofício"
                    matTooltip="Remeter Ofício"
                    (click)="remeterDocumentoAvulso()">
                <mat-icon class="black-fg">send</mat-icon>
                Remeter
            </button>
        </div>
        <cdk-documento-avulso-form
                [documentoAvulso]="(documento$ | async)?.documentoAvulsoRemessa"
                [saving]="(isSaving$ | async)"
                [errors]="(errors$ | async)"
                (save)="submit($event)">
        </cdk-documento-avulso-form>
    </div>
    <router-outlet></router-outlet>
</div>
