<div class="p-8" fxFlex fxLayout="row">
    <div fxFlexAlign="column" fxFlex="25">

        <div class="actions p-16" fxLayout="row" fxLayoutAlign="end center">

            <button mat-icon-button aria-label="editar o documento"
                    matTooltip="Editar o Documento" (click)="showForm()"
                    [ngClass]="{'active accent': activeCard === 'dados-basicos'}">
                <mat-icon class="black-fg">edit</mat-icon>
            </button>

            <button *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal" mat-icon-button aria-label="Gerir Anexos"
                    matTooltip="Gerir Anexos" (click)="showAnexos()"
                    [ngClass]="{'active accent': activeCard === 'anexos'}">
                <mat-icon class="black-fg">attachment</mat-icon>
            </button>

            <button mat-icon-button aria-label="inteligência jurídica"
                    matTooltip="Inteligência Jurídica" (click)="showInteligencia()"
                    [ngClass]="{'active accent': activeCard === 'inteligencia'}">
                <mat-icon class="black-fg">gavel</mat-icon>
            </button>
        </div>

        <div *ngIf="activeCard === 'dados-basicos'">
            <documento-avulso-edit-dados-basicos [documento]="(documento$ | async)"></documento-avulso-edit-dados-basicos>
        </div>

        <div *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal && activeCard === 'anexos'">
<!--            <ng-template #dynamicAnexos></ng-template>-->
            <documento-avulso-edit-anexos [documento]="(documento$ | async)"></documento-avulso-edit-anexos>
        </div>

        <div *ngIf="activeCard === 'inteligencia'">
<!--            <ng-template #dynamicInteligencia></ng-template>-->
            <documento-avulso-inteligencia></documento-avulso-inteligencia>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
