documento-avulso-edit {
    flex: 1 1 auto;
    flex-direction: column;
    .actions {
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
