<div class="page-layout left-sidebar" fxFlex>

    <!-- SIDEBAR -->
    <cdk-sidebar [lockedOpen]="(mode === 'search') ? 'gt-xs' : ''" class="sidebar" name="cdk-bloco-responsaveis-filter" position="left">
        <cdk-bloco-responsaveis-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-bloco-responsaveis-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CONTENT -->
    <div class="content responsive-grid" fxFlex fxLayout="column">

        <div class="actions" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center">

            <button class="back accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                    (click)="doCreate()"
                    aria-label="novo"
                    matTooltip="Novo">
                <mat-icon>add</mat-icon>
            </button>

            <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1" (click)="doCancel()"
                    aria-label="cancelar" matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button (click)="loadPage()" aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" [ngClass]="{'warn': !(gridFilter | json).includes('{}')}" mat-icon-button
                    (click)="toggleFilter()" aria-label="filtrar" matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>
            <table mat-table [dataSource]="usuariosSetoresDataSource" matSort [hidden]="loading">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)" [checked]="hasSelected"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let responsavel">
                        <mat-checkbox [checked]="selectedIds.indexOf(responsavel.setor.id) > -1"
                                      (change)="toggleInSelected(responsavel.setor.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(responsavel.setor.id) > -1">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let responsavel" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(responsavel.usuario?.id) > -1}">
                        {{responsavel.usuario?.id}} </td>
                </ng-container>

                <!-- Responsável Column -->
                <ng-container matColumnDef="responsavel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Responsável
                    </th>
                    <td mat-cell *matCellDef="let responsavel" class='has_label_on_mobile' data-label='Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(responsavel.usuario?.id) > -1}">
                        {{responsavel.usuario?.nome}} </td>
                </ng-container>

                <!-- Setor Column -->
                <ng-container matColumnDef="setor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor
                    </th>
                    <td mat-cell *matCellDef="let responsavel" class='has_label_on_mobile' data-label='Setor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(responsavel.setor.id) > -1}">
                        {{responsavel.setor.nome}} </td>
                </ng-container>

                <!-- Sigla Setor Column -->
                <ng-container matColumnDef="sigla">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Sigla
                    </th>
                    <td mat-cell *matCellDef="let responsavel" class='has_label_on_mobile' data-label='Sigla: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(responsavel.setor?.id) > -1}">
                        {{responsavel.setor?.sigla}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let responsavel">

                        <button mat-icon-button *ngIf="actions.indexOf('select') > -1"
                                (click)="selectResponsavel(responsavel.setor)" aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(responsavel.setor.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(responsavel.setor.id) === -1"
                                [disabled]="deletedIds?.indexOf(responsavel.setor.id) > -1"
                                (click)="deleteResponsavel(responsavel.setor.id, responsavel.usuario?.id)"
                                aria-label="remover" matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let responsavel; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    </div>

    <div class="content" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
</div>
