<cdk-usuario-grid
    [loading]="(loading$ | async)"
    [usuarios]="(usuarios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'username', 'nome', 'email', 'colaborador.modalidadeColaborador.valor', 'colaborador.cargo.nome', 'enabled', 'actions']"
    [actions]="['edit','lotacoes','afastamentos']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (lotacoes)="lotacoes($event)"
    (afastamentos)="afastamentos($event)"
    (delete)="delete($event)">
</cdk-usuario-grid>