<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. Na p&aacute;gina de tarefas &eacute; poss&iacute;vel realizar a edição de tarefas em bloco. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias opera&ccedil;&otilde;es. <br><br>
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Ao clicar em <strong>Editar</strong> o menu de Edição de tarefas em bloco &eacute; aberto.<br><br>
        <img src="assets/images/ajuda/menuedicaobloco.png" style="width: 250px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Nas opções é possível escolher o que modificar em bloco. 
        É possível editar a espécie de tarefa, a distribuição, se a tarefa é ou não é urgente, 
        o início e o final do prazo e colocar observações.
    </p>
    <p style="text-align: justify;">
        4. Após escolher o que editar, abaixo aparecem os campos que permitem a modificação.
    </p>
    <hr>
    <p><br></p>
</div>