<div class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="!(maximizado$ | async)" class="sidebar" name="tarefas-main-sidebar" position="left"
                  lockedOpen="gt-md">
        <tarefas-main-sidebar></tarefas-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-md
             *ngIf="!(maximizado$ | async)">

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('tarefas-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <cdk-etiqueta-chips [etiquetas]="etiquetas"
                                        (create)="addEtiqueta($event)"
                                        [pagination]="vinculacaoEtiquetaPagination"
                                        (delete)="deleteEtiqueta($event)"></cdk-etiqueta-chips>
                </div>

            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"
             [ngClass]="{'current-tarefa-selected':currentTarefaId || (loading$ | async)}">

            <!-- CONTENT -->
            <div class="content" fxFlexAlign="row">
                <div class="tarefa-list" #tarefaListElement mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     (resizeEnd)="onResizeEndTarefaList($event)"
                     [fxFlex]="tarefaListSize"
                     [hidden]="(maximizado$ | async)"
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-tarefa': currentTarefaId,
                        'no-current-tarefa': !currentTarefaId
                     }">
                    <cdk-tarefa-list (scrolled)="onScroll()"
                                     [loading]="(loading$ | async)"
                                     [tarefas]="tarefas"
                                     [deletingIds]="(deletingIds$ | async)"
                                     [deletedIds]="(deletedIds$ | async)"
                                     [folders]="(folders$ | async)"
                                     [currentTarefaId]="currentTarefaId"
                                     [pagination]="pagination"
                                     [selectedIds]="(selectedIds$ | async)"
                                     (changeSelectedIds)="changeSelectedIds($event)"
                                     (reload)="reload($event)"
                                     (selected)="setCurrentTarefa($event)"
                                     (folder)="setFolderOnSelectedTarefas($event)"
                                     (delete)="deleteTarefa($event)"
                                     (compartilhar)="doCompartilhar($event)"
                                     (createDocumentoAvulso)="doCreateDocumentoAvulso($event)"
                                     (createTarefa)="doCreateTarefa($event)"
                                     (movimentar)="doMovimentar($event)"
                                     (editTarefa)="doEditTarefa($event)"
                                     (toggleUrgente)="doToggleUrgente($event)"
                                     (compartilharBloco)="doCompartilharBloco()"
                                     (createDocumentoAvulsoBloco)="doCreateDocumentoAvulsoBloco()"
                                     (createTarefaBloco)="doCreateTarefaBloco()"
                                     (movimentarBloco)="doMovimentarBloco()"
                                     (etiquetarBloco)="doEtiquetarBloco()"
                                     (uploadBloco)="doUploadBloco()"
                                     (editorBloco)="doEditorBloco()"
                                     (editTarefaBloco)="doEditTarefaBloco()"
                                     (loadAssuntos)="doLoadAssuntos($event)"
                                     [loadingAssuntosProcessosId]="(loadingAssuntosProcessosId$ | async)">
                    </cdk-tarefa-list>
                </div>
                
                <div class="tarefa-detail" mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     fxFlex
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-tarefa': currentTarefaId,
                        'no-current-tarefa': !currentTarefaId
                     }">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
