<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="!(maximizado$ | async)" class="sidebar" name="tarefas-main-sidebar" position="left"
                 lockedOpen="gt-md">
        <tarefas-main-sidebar (reload)="reload($event)"></tarefas-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxHide.lt-md *ngIf="!(maximizado$ | async)">

            <div class="search-wrapper">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('tarefas-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <cdk-etiqueta-chips [etiquetas]="etiquetas"
                                        [placeholder]="'Filtre as tarefas pelas etiquetas'"
                                        (create)="addEtiqueta($event)"
                                        [pagination]="vinculacaoEtiquetaPagination"
                                        (delete)="deleteEtiqueta($event)"></cdk-etiqueta-chips>
                </div>

            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"
             [ngClass]="{'current-tarefa-selected':currentTarefaId || (loading$ | async)}">

            <button mat-icon-button (click)="retornar()" *ngIf="mobileMode && mostraCriar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <!-- CONTENT -->
            <div class="content">
                <div class="tarefa-list" #tarefaListElement mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     (resizeEnd)="onResizeEndTarefaList($event)"
                     [fxFlex]="tarefaListSize"
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-tarefa': currentTarefaId  || mostraCriar,
                        'no-current-tarefa': !currentTarefaId && !mostraCriar,
                        'maximizado': (maximizado$ | async)
                     }">
                    <div class="loading" *ngIf="(changingFolderIds$ | async)?.length">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <cdk-tarefa-list (scrolled)="onScroll()"
                                     [loading]="(loading$ | async)"
                                     [togglingUrgenteIds]="(togglingUrgenteIds$ | async)"
                                     [tarefas]="(tarefas$ | async)"
                                     [error]="(error$ | async)"
                                     [draggingIds]="draggingIds$ | async"
                                     [errorDelete]="(errorDelete$ | async)"
                                     [errorDistribuir]="(errorDistribuir$ | async)"
                                     [deletingIds]="(deletingIds$ | async)"
                                     [unDeletingIds]="(undeletingTarefaIds$ | async)"
                                     [deletedIds]="(deletedIds$ | async)"
                                     [folders]="(folders$ | async)"
                                     [usuarioAtual]="usuarioAtual"
                                     [currentTarefaId]="currentTarefaId"
                                     [pagination]="pagination"
                                     [novaTarefa]="novaTarefa"
                                     [selectedIds]="(selectedIds$ | async)"
                                     (changeSelectedIds)="changeSelectedIds($event)"
                                     (reload)="reload($event)"
                                     (selected)="setCurrentTarefa($event)"
                                     (folder)="setFolderOnSelectedTarefas($event)"
                                     (delete)="deleteTarefa($event)"
                                     (deleteBloco)="deleteBlocoTarefa($event)"
                                     (compartilhar)="doCompartilhar($event)"
                                     (createDocumentoAvulso)="doCreateDocumentoAvulso($event)"
                                     (createTarefa)="doCreateTarefa($event)"
                                     (movimentar)="doMovimentar($event)"
                                     (editTarefa)="doEditTarefa($event)"
                                     (removeTarefa)="doRemoveTarefa($event)"
                                     (redistribuirTarefa)="doRedistribuirTarefa($event)"
                                     (cienciaTarefa)="doCienciaTarefa($event)"
                                     (cienciaBloco)="cienciaBlocoTarefa($event)"
                                     (toggleUrgente)="doToggleUrgente($event)"
                                     (compartilharBloco)="doCompartilharBloco()"
                                     (gerarRelatorioExcel)="doGerarRelatorioTarefaExcel()"
                                     (createDocumentoAvulsoBloco)="doCreateDocumentoAvulsoBloco()"
                                     (createTarefaBloco)="doCreateTarefaBloco()"
                                     (movimentarBloco)="doMovimentarBloco()"
                                     (etiquetarBloco)="doEtiquetarBloco()"
                                     (uploadBloco)="doUploadBloco()"
                                     (editorBloco)="doEditorBloco()"
                                     (editTarefaBloco)="doEditTarefaBloco()"
                                     (editRedistribuirBloco)="doRedistribuiTarefaBloco()"
                                     (restauraTarefa)="doRestauraTarefa($event)"
                                     (setDraggedTarefasIds)="changeDraggedIds($event)"
                                     (loadAssuntos)="doLoadAssuntos($event)"
                                     [loadingAssuntosProcessosId]="(loadingAssuntosProcessosId$ | async)"
                                     [targetHandle]="targetHandle"
                                     [cienciaIds]="(cienciaIds$ | async)"
                                     [mobileMode]="mobileMode"
                                     (criaRelatorio)="criarRelatorio()"
                                     (etiquetaClickHandler)="doEditarDocumentoEtiqueta($event)">
                    </cdk-tarefa-list>
                </div>

                <div class="tarefa-detail" mwlResizable [enableGhostResize]="true"
                     [fxFlex]="100"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-tarefa': currentTarefaId || mostraCriar,
                        'no-current-tarefa': !currentTarefaId && !mostraCriar
                     }">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
