<form fxLayoutGap="16px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'" (submit)="submit()">

    <mat-form-field fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Espécie Processo"
                   formControlName="especieProcesso"
                   [matAutocomplete]="especieProcesso.autocomplete">
        </div>
        <cdk-especie-processo-autocomplete
            #especieProcesso="especieProcessoAutocomplete"
            [control]="form.get('especieProcesso')">
        </cdk-especie-processo-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showEspecieProcessoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Espécie Tarefa Inicial"
                   formControlName="especieTarefaInicial"
                   [matAutocomplete]="especieTarefa.autocomplete">
        </div>
        <cdk-especie-tarefa-autocomplete
            #especieTarefa="especieTarefaAutocomplete"
            [control]="form.get('especieTarefaInicial')">
        </cdk-especie-tarefa-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showEspecieTarefaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions" *ngIf="!saving">
        <button mat-raised-button color="accent" class="mr-sm-12"
                [disabled]="form.invalid">
            SALVAR
        </button>

        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-especie-processo-gridsearch
    *ngIf="activeCard === 'especie-processo-gridsearch'"
    [pagination]="especieProcessoPagination"
    (selected)="selectEspecieProcesso($event)"
    (cancel)="cancel()">
</cdk-especie-processo-gridsearch>

<cdk-especie-tarefa-gridsearch
    *ngIf="activeCard === 'especie-tarefa-gridsearch'"
    [pagination]="especieProcessoPagination"
    (selected)="selectEspecieTarefa($event)"
    (cancel)="cancel()">
</cdk-especie-tarefa-gridsearch>