<form fxLayoutGap="16px" name="form" [formGroup]="form" (submit)="submit()">

    <div fxLayout="column">

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Espécie Processo"
                       formControlName="especieProcesso"
                       [matAutocomplete]="especieProcesso.autocomplete">
            </div>
            <cdk-especie-processo-autocomplete
                #especieProcesso="especieProcessoAutocomplete"
                [control]="form.get('especieProcesso')">
            </cdk-especie-processo-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showEspecieProcessoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Espécie Tarefa Inicial"
                       formControlName="especieTarefaInicial"
                       [matAutocomplete]="especieTarefa.autocomplete">
            </div>
            <cdk-especie-tarefa-autocomplete
                #especieTarefa="especieTarefaAutocomplete"
                [control]="form.get('especieTarefaInicial')">
            </cdk-especie-tarefa-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showEspecieTarefaGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
        </mat-form-field>

    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12"
                [disabled]="form.invalid">
            SALVAR
        </button>

        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-especie-processo-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'especie-processo-gridsearch'"
    [pagination]="especieProcessoPagination"
    (selected)="selectEspecieProcesso($event)"
    (cancel)="cancel()">
</cdk-especie-processo-gridsearch>

<cdk-especie-tarefa-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'especie-tarefa-gridsearch'"
    [pagination]="especieProcessoPagination"
    (selected)="selectEspecieTarefa($event)"
    (cancel)="cancel()">
</cdk-especie-tarefa-gridsearch>