compartilhamento-create {

  documento-ckeditor {

      position: fixed;
      top: 64px;
      left: 64px;
      width: 100%;
      height: 100%;
      background-color: black; /* Black background with opacity */
      z-index: 99999999 !important; /* Specify a stack order in case you're using a different order for other elements */

      iframe {
        width: 100%;
        height: 100%;
      }


  }

}
