<div class="header">
    <path icone="low_priority"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="workflows">
    </path>
</div>
<div class="content">
    <cdk-transicao-workflow-grid
        [loading]="(loading$ | async)"
        [transicoesWorkflows]="(transicoesWorkflows$ | async)"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [total]="(pagination$ | async)?.total"
        [displayedColumns]="['id', 'especieAtividade.nome', 'especieTarefaFrom.nome', 'especieTarefaTo.nome', 'actions']"
        [actions]="['cancel', 'edit', 'create', 'delete']"
        (cancel)="cancel()"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)">
    </cdk-transicao-workflow-grid>
</div>