<div class="atividade" *ngIf="this.atividade && this.tarefa">
    <cdk-minutas-atividade-card-list
        [documentos]="minutas"
        [selectedIds]="(selectedIds$ | async)"
        [mode]="'editor'"
        [disabledSelects]="disabledIds"
        (clicked)="onClicked($event)"
        (changedSelectedIds)="changedSelectedIds($event)">
    </cdk-minutas-atividade-card-list>

    <cdk-atividade-form
        [atividade]="atividade"
        [documentoAvulsoVinculado]="tarefa.processo?.documentoAvulsoOrigem"
        [especieAtividadePagination]="especieAtividadePagination"
        [unidadeAprovacaoPagination]="unidadeAprovacaoPagination"
        [setorAprovacaoPagination]="setorAprovacaoPagination"
        [usuarioAprovacaoPagination]="usuarioAprovacaoPagination"
        [temMinutas]="true"
        [form]="form"
        [mode]="'vertical'"
        [actions]="['save']"
        [saving]="(atividadeIsSaving$ | async)"
        [errors]="(atividadeErrors$ | async)"
        (changeEncerramentoTarefa)="changeEncerramentoTarefa($event)"
        (save)="preSubmitAtividade($event)"
        (abort)="doAbort()">
    </cdk-atividade-form>
</div>
