cdk-etiqueta-form {

  .selected-color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

}
