<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" maxlength="255" required upperCase>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descrição" formControlName="descricao" maxlength="255" required upperCase>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Modalidade"
               formControlName="modalidadeEtiqueta"
               [matAutocomplete]="modalidadeetiqueta.autocomplete"
               (blur)="checkModalidadeEtiqueta()" required>
        <cdk-modalidade-etiqueta-autocomplete
            #modalidadeetiqueta="modalidadeEtiquetaAutocomplete"
            [control]="form.get('modalidadeEtiqueta')"
            [pagination]="modalidadeEtiquetaPagination">
        </cdk-modalidade-etiqueta-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeEtiquetaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeEtiqueta').hasError('formError')">
            {{form.get('modalidadeEtiqueta').errors.formError}}
        </mat-error>
    </mat-form-field>

    <h3>Cor da Etiqueta</h3>

    <div class="selected-color mb-16" [ngStyle]="{background: this.form.get('corHexadecimal').value}"></div>

    <mcc-color-picker [overlay]="false" [hideUsedColors]="true"
                      [hideColorPickerSelector]="true" [hideButtons]="true" (selected)="selectColor($event)">

        <mcc-color-picker-collection [colors]="colors" [hideEmpty]="true" [label]="'Cores'"
                                     required></mcc-color-picker-collection>

    </mcc-color-picker>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-etiqueta-gridsearch
    *ngIf="activeCard === 'modalidade-etiqueta-gridsearch'"
    (selected)="selectModalidadeEtiqueta($event)"
    (cancel)="cancel()">
</cdk-modalidade-etiqueta-gridsearch>
