<div class="pr-16" fxFlex *ngIf="activeCard === 'form'" cdkPerfectScrollbar>
    <form class="p-24 mr-24" fxLayoutGap="16px"
          fxLayout="column"
          fxLayoutAlign="start"
          name="form" [formGroup]="form">

        <div fxFlex="1 0 auto" fxLayout="column">

            <mat-checkbox formControlName="ativo"
                          class="mr-16 mb-16" fxFlex="0 1 auto">
                Ativo
            </mat-checkbox>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Nome" formControlName="nome" maxlength="255" required upperCase>
                </div>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Descrição" formControlName="descricao" maxlength="255" required upperCase>
                </div>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Modalidade"
                           formControlName="modalidadeEtiqueta"
                           [matAutocomplete]="modalidadeetiqueta.autocomplete"
                           (blur)="checkModalidadeEtiqueta()" required>
                </div>
                <cdk-modalidade-etiqueta-autocomplete
                    #modalidadeetiqueta="modalidadeEtiquetaAutocomplete"
                    [control]="form.get('modalidadeEtiqueta')"
                    [pagination]="modalidadeEtiquetaPagination">
                </cdk-modalidade-etiqueta-autocomplete>
                <button matSuffix mat-button mat-icon-button
                        (click)="showModalidadeEtiquetaGrid()">
                    <mat-icon matTooltip="Procurar">search</mat-icon>
                </button>
                <mat-error *ngIf="form.get('modalidadeEtiqueta').hasError('formError')">
                    {{form.get('modalidadeEtiqueta').errors.formError}}
                </mat-error>
            </mat-form-field>

            <h3>Cor da Etiqueta</h3>

            <div class="selected-color mb-16" [ngStyle]="{background: this.form.get('corHexadecimal').value}"></div>

            <mcc-color-picker [overlay]="false" [hideUsedColors]="true"
                              [hideColorPickerSelector]="true" [hideButtons]="true" (selected)="selectColor($event)">

                <mcc-color-picker-collection [colors]="colors" [hideEmpty]="true" [label]="'Cores'" required></mcc-color-picker-collection>

            </mcc-color-picker>

        </div>

        <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

        <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                    [disabled]="form.invalid">
                SALVAR
            </button>
            <button mat-raised-button color="warn" class="mr-sm-12" (click)="doAbort()">
                CANCELAR
            </button>
        </div>

        <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
             fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
        </div>
    </form>
</div>

<cdk-modalidade-etiqueta-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'modalidade-etiqueta-gridsearch'"
    (selected)="selectModalidadeEtiqueta($event)"
    (cancel)="cancel()">
</cdk-modalidade-etiqueta-gridsearch>
