<div class="content">
    <cdk-especie-processo-grid
        [loading]="(loading$ | async)"
        [especieProcessos]="(especieProcessos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [displayedColumns]="['select', 'id', 'nome', 'descricao', 'actions']"
        [actions]="['create', 'delete']"
        (create)="create()"
        (reload)="reload($event)"
        (delete)="delete($event)">
    </cdk-especie-processo-grid>
</div>
