cdk-etiqueta-chips-item {
    .mat-chip {
        height: auto !important;
        padding: 4px !important;

        .icon {
            margin-right: 6px !important;
            height: 18px !important;
            width: 18px !important;
            font-size: 18px !important;
        }
    }
}
