cdk-etiqueta-chips-item {
    .mat-chip {
        height: auto !important;
        padding: 2px !important;

        .icon {
            margin-right: 6px !important;
            height: 16px !important;
            width: 16px !important;
            font-size: 16px !important;
        }
    }
}
