<div class="header accent">
    <h1>Últimas Operações</h1>
</div>

<mat-progress-bar *ngIf="operacoesPendentes > 0" mode="determinate" [value]="(operacoesProcessando * 100) / operacoesPendentes"></mat-progress-bar>

<div class="content" cdkPerfectScrollbar>

    <mat-card class="mt-8 ml-8 mr-8" *ngFor="let operacao of operacoes">
        <mat-card-title>
            <div class="card-header">
                <span class="secondary-text">{{operacao.type | titlecase}}</span>
                <span *ngIf="operacao.status === 0"><mat-spinner [diameter]="16"></mat-spinner></span>
                <span *ngIf="operacao.status === 1"><mat-icon>check</mat-icon></span>
                <span *ngIf="operacao.status === 2"><mat-icon class="warn">clear</mat-icon></span>
                <span *ngIf="operacao.status === 3"><mat-icon>cancel</mat-icon></span>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="card-content">
                <span class="secondary-text">{{operacao.content}}</span>
                <span class="card-date secondary-text">{{operacao.dateTime?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
            </div>
        </mat-card-content>
    </mat-card>

</div>
