<div fxLayout="column" fxFlex cdkPerfectScrollbar>

    <div fxFlex="0 1 auto" fxLayout="column" class="p-16 accent">
        <h1>Informações</h1>
    </div>

    <div class="p-16">
        <div class="secondary-text">
            {{date | date:'EEEE'}}
        </div>
        <div class="mt-8" fxLayout="row" fxLayoutAlign="start start">
            <span class="secondary-text"> {{date | date:'d'}} de {{date | date:'MMMM'}}</span>
        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-list class="p-16">
        <h3>
            Últimas Operações
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <h3>{{operacao.type}}</h3>
            <p class="secondary-text">{{operacao.content}}</p>
            <p class="secondary-text">{{operacao.dateTime?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        </mat-list-item>

        <mat-list-item *ngIf="!operacoes.length">
            <p class="secondary-text">Não há operações ainda!</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

</div>
