<div fxLayout="column" fxFlex cdkPerfectScrollbar>

    <mat-list class="date" cdkFocusRegionStart>

        <h3 class="accent" matSubheader cdkFocusInit>
            <span>Informações</span>
        </h3>

        <div class="secondary-text mb-0 p-16">
            <div class="mb-12">
                {{date | date:'EEEE'}}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{date | date:'d'}} de {{date | date:'MMMM'}}</span>
            </div>
        </div>
    </mat-list>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Últimas Operações</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <h3 matLine>{{operacao.type}}</h3>
            <p matLine class="secondary-text">{{operacao.content}}</p>
            <p matLine class="secondary-text">{{operacao.dateTime | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        </mat-list-item>

        <mat-list-item *ngIf="!operacoes.length">
            <p matLine class="secondary-text">Não há operações ainda!</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

</div>
