quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    z-index: 99;

    > .header {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
    }

    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;

        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            .card-date {
                margin-left: auto;
            }
        }
    }
}
