<div fxLayout="column">

    <div class="atividades-header">

        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="actions" fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button aria-label="Movimentar" matTooltip="Criar Atividade"
                        [routerLink]="'criar'"
                        [routerLinkActive]="['active', 'accent']">
                    <mat-icon class="black-fg">add</mat-icon>
                </button>

                <button mat-icon-button aria-label="Visualizar Processo" matTooltip="Ver Atividades"
                        [routerLink]="['listar']"
                        [routerLinkActive]="['active', 'accent']">
                    <mat-icon class="black-fg">list</mat-icon>
                </button>

            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
