pesquisa {

  width: 100%;

  .ps {
    display: contents;
  }

  .sidebar {

    &:not(.locked-open) {
      background: white;
    }
  }

  .center {

    width: 100%;

    .content-card {
      flex: 1 0 100%;
    }
  }
}

