<form fxLayoutGap="16px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <div class="title-lembrete">
        <h2>CADASTRAR LEMBRETE</h2>
    </div>

    <div fxFlex="1 0 auto" fxLayout="column">
        <mat-form-field fxFlex="100">
            <mat-label>Conteúdo</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      formControlName="conteudo"
                      #conteudo
                      #autosize="cdkTextareaAutosize"
                      maxlength="255"
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="5"></textarea>
            <button matSuffix mat-button mat-icon-button *ngIf="!isBloco"
                    (click)="showLogLembreteGrid()">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <mat-hint align="end">{{conteudo.value.length}} / 255</mat-hint>
        </mat-form-field>
    </div>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            CRIAR LEMBRETE
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>

</form>

<cdk-lembrete-historico
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'lembrete-gridsearch'"
    [actions]="['cancel']"
    [lembretes]="lembretes"
    [total]="total"
    (cancel)="cancel()"
    (reload)="reload($event)">
</cdk-lembrete-historico>

<!-- <pre>{{this.form.value | json}}</pre>-->
