<cdk-numero-unico-documento-grid
        [loading]="(loading$ | async)"
        [numerosUnicosDocumento]="(numerosUnicosDocumentos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['edit', 'delete']"
        [setorPagination]="this.setorPagination"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (delete)="delete($event)">
</cdk-numero-unico-documento-grid>
