<div class="left-sidebar" fxFlex fxLayout="row">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="relatorios-left-sidebar-1" position="left" lockedOpen="gt-md">
        <relatorio-view-main-sidebar [@animate]="{value:'*'}" (scrolled)="onScroll()"></relatorio-view-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex fxLayout="column">

        <!-- HEADER -->
        <div class="header accent p-16" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-16 cdk-black-fg" fxHide.gt-md
                    (click)="toggleSidebar('relatorios-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="relatorio-navigation">

                <div>
                    <h3 *ngIf="!loading">{{fileName}}</h3>
                </div>

            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div fxFlex class="content">

            <div class="relatorio-view-relatorio" cdkPerfectScrollbar>

                <div fxLayout="column" fxFlex
                     fxLayoutAlign="center center">
                    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
                </div>

                <div *ngIf="!loading && (relatorios)?.length === 0" fxLayout="column"
                     fxLayoutAlign="center center" fxFlexFill>
                    <span class="no-relatorios-text hint-text"> Não há documentos juntados</span>
                </div>

                <div *ngIf="!loading && (relatorios)?.length > 0" class="relatorio-view-relatorio-content">
                    <iframe id="iframe-relatorios"
                            [src]="src">
                    </iframe>

                </div>

            </div>

        </div>

        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
