<h2>Download do processo</h2>

<form fxLayoutGap="16px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <label id="tipo-rg">Tipo de arquivo</label>

    <div class="target">
        <mat-radio-group class="tipo-rg" formControlName="tipo_download" aria-labelledby="tipo-rg">
            <mat-radio-button [value]="'processo_pdf'">
                PDF
            </mat-radio-button>
            <mat-radio-button [value]="'processo_zip'">
                ZIP
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-slide-toggle formControlName="parcial">
        Parcial
    </mat-slide-toggle>

    <mat-form-field *ngIf="this.form.get('parcial').value">
        <label>
            <input matInput placeholder="Juntadas Seq."
                   formControlName="sequencial">
        </label>

    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid || !valid" *ngIf="!saving">
            GERAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

