<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Observação</mat-label>
            <input matInput #observacao
                   name="observacao"
                   formControlName="observacao">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Metódo</mat-label>
            <input matInput #metodo
                   name="metodo"
                   formControlName="metodo">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Edital</mat-label>
            <input matInput #edital
                   name="edital"
                   formControlName="edital">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Processo"
                       formControlName="processo"
                       [matAutocomplete]="processo.autocomplete">
            </div>
            <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
            </cdk-processo-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modalidade da Transição"
                       formControlName="modalidadeTransicao"
                       [matAutocomplete]="modalidadeTransicao.autocomplete">
            </div>
            <cdk-modalidade-transicao-autocomplete #modalidadeTransicao="modalidadeTransicaoAutocomplete" [control]="form.get('modalidadeTransicao')">
            </cdk-modalidade-transicao-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Criado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Atualizado Por"
                       formControlName="atualizadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Atualizado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Apagado Por"
                       formControlName="apagadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Apagado Em</mat-label>
            <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()">
            Limpar
        </button>

    </div>
</form>
