<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">
        <mat-form-field>
            <mat-label>Cóodigo do Documento</mat-label>
            <input matInput #codigoDocumento
                   name="codigoDocumento"
                   formControlName="codigoDocumento">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Emissor do Documento</mat-label>
            <input matInput #emissorDocumento
                   name="emissorDocumento"
                   formControlName="emissorDocumento">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Modalidade do Documento Identificador"
                   formControlName="modalidadeDocumentoIdentificador"
                   [matAutocomplete]="modalidadeDocumentoIdentificador.autocomplete">
            <cdk-modalidade-documento-identificador-autocomplete
                #modalidadeDocumentoIdentificador="modalidadeDocumentoIdentificadorAutocomplete"
                [control]="form.get('modalidadeDocumentoIdentificador')">
            </cdk-modalidade-documento-identificador-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Origem de Dados"
                   formControlName="origemDados"
                   [matAutocomplete]="origemDados.autocomplete">
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete"
                                           [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de Emissao</mat-label>
            <input matInput formControlName="dataEmissao" [matDatetimepicker]="dataEmissao">
            <mat-datetimepicker-toggle matSuffix [for]="dataEmissao"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataEmissao type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Criado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Atualizado Por"
                   formControlName="atualizadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Atualizado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Apagado Por"
                   formControlName="apagadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apagado Em</mat-label>
            <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>
    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
