<div class="page-layout left-sidebar" fxFlex>

    <!-- SIDEBAR -->
    <cdk-sidebar [lockedOpen]="(mode === 'search') ? 'gt-xs' : ''" class="sidebar" name="cdk-pessoa-filter"
                 position="left">
                <cdk-xxx-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-xxx-filter>pessoa-filter (selected)="setFilter($event)" [mode]="this.mode"
                                     [@animate]="{value:'*'}"></cdk-pessoa-filter>
        </div>
        <!-- / SIDEBAR CONTENT -->
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CONTENT -->
    <div class="content responsive-grid" [ngClass]="{'search': (this.mode == 'search')}" fxFlex fxLayout="column">

        <div class="actions" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center">

            <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deletePessoas(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button
                    [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>

            <div fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>
                <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

                    <!-- Selection Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (click)="toggleSelectAll($event)"
                                          [checked]="hasSelected"
                                          [indeterminate]="isIndeterminate">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let pessoa">
                            <mat-checkbox [checked]="selectedIds.indexOf(pessoa.id) > -1"
                                          (change)="toggleInSelected(pessoa.id)"
                                          (click)="$event.stopPropagation();"
                                          [disabled]="deletedIds?.indexOf(pessoa.id) > -1">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;Id
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Id: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> &nbsp;{{pessoa.id}} </td>
                    </ng-container>

                    <!-- Nome Column -->
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nome
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Nome: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.nome}} </td>
                    </ng-container>

                    <!-- NumeroDocumentoPrincipal Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('numeroDocumentoPrincipal') > -1"
                                  matColumnDef="numeroDocumentoPrincipal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Número do Documento Principal
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile'
                            data-label='Número do Documento Principal: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.numeroDocumentoPrincipal}} </td>
                    </ng-container>

                    <!-- Contato Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('contato') > -1" matColumnDef="contato">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Contato
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Contato: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.contato}} </td>
                    </ng-container>

                    <!-- PessoaValidada Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('pessoaValidada') > -1" matColumnDef="pessoaValidada">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Pessoa Validada
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Pessoa Validada: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.pessoaValidada}} </td>
                    </ng-container>

                    <!-- DataNascimento Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('dataNascimento') > -1" matColumnDef="dataNascimento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Data do Nascimento
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Data do Nascimento: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.dataNascimento | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- dataObito Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('dataObito') > -1" matColumnDef="dataObito">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Data do Obito
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Data do Obito: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.dataObito}} </td>
                    </ng-container>

                    <!-- NomeGenitor Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('nomeGenitor') > -1" matColumnDef="nomeGenitor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nome do Genitor
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Nome do Genitor: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.nomeGenitor}} </td>
                    </ng-container>

                    <!-- NomeGenitora Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('nomeGenitora') > -1" matColumnDef="nomeGenitora">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nome da Genitora
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Nome da Genitora: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.nomeGenitora}} </td>
                    </ng-container>

                    <!-- Profissao Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('profissao') > -1" matColumnDef="profissao">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Profissão
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Profissão: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.profissao}} </td>
                    </ng-container>

                    <!-- Nacionalidade Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('nacionalidade.nome') > -1"
                                  matColumnDef="nacionalidade.nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nacionalidade
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Nacionalidade: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.nacionalidade.nome}} </td>
                    </ng-container>

                    <!-- ModalidadeGeneroPessoa.valor Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('modalidadeGeneroPessoa.valor') > -1"
                                  matColumnDef="modalidadeGeneroPessoa.valor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Modalidade Genêro Pessoa
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile'
                            data-label='Modalidade Genêro Pessoa: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.modalidadeGeneroPessoa.valor}} </td>
                    </ng-container>

                    <!-- Naturalidade Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('naturalidade.nome') > -1"
                                  matColumnDef="naturalidade.nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Naturalidade
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Naturalidade: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.naturalidade?.nome}} </td>
                    </ng-container>

                    <!-- OrigemDados Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('origemDados.fonteDados') > -1"
                                  matColumnDef="origemDados.fonteDados">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Origem de Dados
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Origem de Dados: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.origemDados?.fonteDados}} </td>
                    </ng-container>

                    <!-- CriadoPor Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Criado Por
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Criado Por: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.criadoPor?.nome}} </td>
                    </ng-container>

                    <!-- CriadoEm Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Criado Em
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Criado Em: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.criadoEm | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- AtualizadoPor Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                                  matColumnDef="atualizadoPor.nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Atualizado Por
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Atualizado Por: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.atualizadoPor?.nome}} </td>
                    </ng-container>

                    <!-- AtualizadoEm Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Atualizado Em
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Atualizado Em: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.atualizadoEm | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- ApagadoPor Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Apagado Por
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Apagado Por: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.apagadoPor?.nome}} </td>
                    </ng-container>

                    <!-- ApagadoEm Column -->
                    <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Apagado Em
                        </th>
                        <td mat-cell *matCellDef="let pessoa" class='has_label_on_mobile' data-label='Apagado Em: '
                            [ngClass]="{'deleted':deletedIds?.indexOf(pessoa.id) > -1}"> {{pessoa.apagadoEm | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let pessoa">

                            <button mat-icon-button
                                    *ngIf="actions.indexOf('select') > -1"
                                    (click)="selectPessoa(pessoa)"
                                    aria-label="selecionar"
                                    matTooltip="Selecionar">
                                <mat-icon>keyboard_return</mat-icon>
                            </button>

                            <button mat-icon-button
                                    *ngIf="actions.indexOf('edit') > -1"
                                    [disabled]="deletedIds?.indexOf(pessoa.id) > -1"
                                    (click)="editPessoa(pessoa.id)"
                                    aria-label="editar"
                                    matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(pessoa.id) > -1">
                                <mat-spinner diameter="24"></mat-spinner>
                            </div>

                            <button mat-icon-button
                                    *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(pessoa.id) === -1"
                                    [disabled]="deletedIds?.indexOf(pessoa.id) > -1"
                                    (click)="deletePessoa(pessoa.id)"
                                    aria-label="remover"
                                    matTooltip="Remover">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let pessoa; columns: displayedColumns;">
                    </tr>
                </table>
            </div>

        </div>

        <div class="actions" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
