<div id="remessas" fxLayout="column">

    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="column">

        <div class="actions m-16" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button
                    class="mat-accent"
                    [routerLink]="'editar/criar'"
                    *ngIf="action === 'listar'"
                    aria-label="novo"
                    matTooltip="Novo Tramitacao">
                Novo
            </button>
            <button mat-icon-button
                    (click)="goBack()"
                    *ngIf="action !== 'listar'"
                    aria-label="voltar"
                    matTooltip="Voltar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT -->
    <div class="content pl-24 pr-24 altura">
        <router-outlet></router-outlet>
    </div>
</div>
