<!-- CONTENT HEADER -->
<div class="header" fxLayout="column" *ngIf="showFilter">
    <div class="filters">
        <cdk-modalidade-documento-identificador-grid-filter (selected)="setGridFilter($event)"></cdk-modalidade-documento-identificador-grid-filter>
    </div>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT -->
<div class="content" fxLayoutAlign="center start">

    <div class="mb-16 p-16" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center">

        <div class="actions m-8" fxFlex fxLayout="row" fxLayoutAlign="end center">

            <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>cancel</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteModalidadeDocumentoIdentificador(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (click)="toggleSelectAll($event)"
                                  [checked]="hasSelected"
                                  [indeterminate]="isIndeterminate">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let modalidadedocumentoIdentificador">
                    <mat-checkbox [checked]="selectedIds.indexOf(modalidadedocumentoIdentificador.id) > -1"
                                  (change)="toggleInSelected(modalidadedocumentoIdentificador.id)"
                                  (click)="$event.stopPropagation();"
                                  [disabled]="deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; Id
                </th>
                <td mat-cell *matCellDef="let modalidadedocumentoIdentificador" class='has_label_on_mobile' data-label='Id: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1}"> &nbsp;{{modalidadedocumentoIdentificador.id}} </td>
            </ng-container>

            <!-- Valor Column -->
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Valor
                </th>
                <td mat-cell *matCellDef="let modalidadedocumentoIdentificador" class='has_label_on_mobile' data-label='Valor: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1}"> {{modalidadedocumentoIdentificador.valor}} </td>
            </ng-container>

            <!-- Descrição Column -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Descrição
                </th>
                <td mat-cell *matCellDef="let modalidadedocumentoIdentificador" class='has_label_on_mobile' data-label='Descrição: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1}"> {{modalidadedocumentoIdentificador.descricao}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let modalidadedocumentoIdentificador">

                    <button mat-icon-button
                            *ngIf="actions.indexOf('select') > -1"
                            (click)="selectModalidadeDocumentoIdentificador(modalidadedocumentoIdentificador)"
                            aria-label="selecionar"
                            matTooltip="Selecionar">
                        <mat-icon>keyboard_return</mat-icon>
                    </button>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('edit') > -1"
                            [disabled]="deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1"
                            (click)="editModalidadeDocumentoIdentificador(modalidadedocumentoIdentificador.id)"
                            aria-label="editar"
                            matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(modalidadedocumentoIdentificador.id) > -1">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(modalidadedocumentoIdentificador.id) === -1"
                            [disabled]="deletedIds?.indexOf(modalidadedocumentoIdentificador.id) > -1"
                            (click)="deleteModalidadeDocumentoIdentificador(modalidadedocumentoIdentificador.id)"
                            aria-label="remover"
                            matTooltip="Remover">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let modalidadedocumentoIdentificador; columns: displayedColumns;">
            </tr>
        </table>

        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
