<!-- WIDGET Alerta -->
<cdk-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
            fxFlex="100">

    <!-- Front -->
    <div class="cdk-widget-front p-16">

        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="h4 font-weight-800">
                Avisos
            </div>
        </div>

        <div class="p-8 pb-32" fxLayout="column" fxLayoutAlign="start start">
            <div class="h3 font-weight-500">
                Bem-vindo ao SUPP, versão 1.0.3-beta!
            </div>
        </div>

        <div class="p-8 pb-32" fxLayout="column" fxLayoutAlign="start start">
            <div class="h3 font-weight-500">
                Os problemas encontrados devem ser enviados para sapiens@agu.gov.br
            </div>
        </div>
    </div>
    <!-- / Front -->

</cdk-widget>
<!-- / WIDGET 4 -->
