cdk-tarefa-list {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    border-right: 1px solid rgba(0, 0, 0, 0.12);

    > .page-layout {

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        > .header {

            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 8px;
            padding-right: 8px;

            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .drag-n-drop-ref {
                display: flex;
                flex: 1 1 auto;
                flex-direction: row;
                background-color: transparent;

                > div {
                    border-radius: 6px;
                    padding-top: 6px;
                    padding-bottom: 6px;

                    > span {
                        margin: 10px;
                        font-weight: normal;
                    }
                }
            }

            > .toolbar-separator {
                height: 32px;
                width: 1px;
                margin: 0 12px;
            }

            > .tarefa-list-control {
                margin-left: auto;

                .colunas {
                    width: 20px !important;
                    .mat-select-value {
                        display: none !important;
                    }
                }
            }

            > .botao-novo {
                margin-left: 15px;
            }
        }

        > .content {

            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            height: 0;
            overflow-y: auto;

            > .loading-wrapper {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > .loading {
                    z-index: 9999;
                    margin-top: 355px;
                    display: flex;
                    position: fixed;
                    transform: translate(-50%, -50%);
                }
            }

            > .nova-tarefa {
                cursor: pointer;
            }

            > .no-tarefas-text {
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
                align-items: center;

                > .hint-text {
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
}

.cdk-white-bg {
    background: white !important;
    color: black !important;
}
