<!-- SIDEBAR -->
<fuse-sidebar class="sidebar" name="cdk-tarefa-list-main-sidebar" position="left">
    <!-- SIDEBAR CONTENT -->
    <div class="content" fusePerfectScrollbar>
        <cdk-tarefa-list-main-sidebar (selected)="setListFilter($event)" [@animate]="{value:'*'}"></cdk-tarefa-list-main-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
</fuse-sidebar>
<!-- / SIDEBAR -->


<div [@animateStagger]="{value:'50'}" fxLayout="column">

    <div class="toolbar pt-8 pb-8 pl-16 pr-8" fxFlex fxLayout="row" fxLayoutAlign="start center">

        <mat-checkbox (click)="toggleSelectAll($event)"
                      [checked]="selectedIds.length"
                      [indeterminate]="isIndeterminate">
        </mat-checkbox>

        <div class="toolbar-separator" *ngIf="selectedIds.length"></div>

        <div *ngIf="selectedIds.length">
            {{selectedIds.length}}
        </div>

        <div class="toolbar-separator" *ngIf="selectedIds.length && folders.length"></div>

        <button mat-icon-button [matMenuTriggerFor]="folderMenu" *ngIf="selectedIds.length">
            <mat-icon class="secondary-text">folder</mat-icon>
        </button>
        <mat-menu #folderMenu="matMenu">
            <button mat-menu-item
                    (click)="setFolder(null)">ENTRADA
            </button>
            <button mat-menu-item *ngFor="let folder of folders"
                    (click)="setFolder(folder)">{{folder.nome}}
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                aria-label="Ferramentas" (click)="$event.stopPropagation()"
                *ngIf="selectedIds.length > 1">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">

            <button mat-menu-item aria-label="remover"
                    (click)="deleteTarefas()">
                <ng-container>
                    <mat-icon>delete</mat-icon>
                    <span>Remover</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="criar tarefa"
                    (click)="doCreateTarefa()">
                <ng-container>
                    <mat-icon>check_box</mat-icon>
                    <span>Criar Tarefa</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="enviar ofício"
                    (click)="doCreateDocumentosAvulsos()">
                <ng-container>
                    <mat-icon>mail</mat-icon>
                    <span>Enviar Ofício</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="etiquetar"
                    (click)="doEtiquetar()">
                <ng-container>
                    <mat-icon>label</mat-icon>
                    <span>Etiquetar</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="compartilhar"
                    (click)="doCompartilhar()">
                <ng-container>
                    <mat-icon>share</mat-icon>
                    <span>Compartilhar</span>
                </ng-container>
            </button>

        </mat-menu>

        <div class="tarefa-list-control" fxLayout="row" fxLayoutAlign="start center">

            <button class="toggle-filter" [ngClass]="{'warn': (listFilter | json) != '{}'}" mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                <mat-icon>sort</mat-icon>
            </button>
            <mat-menu fxHide #selectMenu="matMenu">
                <button mat-menu-item (click)="doSort({'dataHoraFinalPrazo': 'DESC'})">Final do
                    Prazo
                </button>
                <button mat-menu-item (click)="doSort({'id': 'DESC'})">Mais Recente</button>
            </mat-menu>

            <div class="toolbar-separator" *ngIf="pagination.total"></div>

            <div>
                {{tarefas.length}}/{{pagination.total}}
            </div>
        </div>
    </div>

    <div fxLayout="column" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner class="tarefa-list-loading" *ngIf="loading" diameter="24"></mat-spinner>
    </div>

    <cdk-tarefa-list-item matRipple *ngFor="let tarefa of tarefas" [tarefa]="tarefa" (click)="selectTarefa(tarefa)"
                          [selected]="selectedIds.length > 0 && selectedIds.indexOf(tarefa.id) > -1"
                          [deleting]="deletingIds.length > 0 && deletingIds.indexOf(tarefa.id) > -1"
                          (toggleInSelectedTarefas)="toggleInSelected($event)"
                          (delete)="deleteTarefa($event)"
                          (createDocumentoAvulso)="doCreateDocumentoAvulso($event)"
                          [ngClass]="{'selected':tarefa.id === currentTarefaId}"
                          [@animate]="{value:'*',params:{y:'100%'}}">
    </cdk-tarefa-list-item>

</div>

<div *ngIf="tarefas.length === 0 && !loading" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-tarefas-text hint-text">{{ 'TAREFA.NO_MESSAGES' | translate }}</span>
</div>

