<form class="p-24 mb-16" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field *showIfRole="'ROLE_USER'" fxFlex="100">
            <mat-label>Número do Processo</mat-label>
            <input matInput #NUP
                   name="NUP"
                   formControlName="NUP"
                   maxlength="255">
            <mat-hint align="end">{{NUP.value.length}} / 255</mat-hint>
        </mat-form-field>
        <mat-form-field *showIfRole="'ROLE_CONVENIADO'" fxFlex="100">
            <mat-label>Nome</mat-label>
            <input matInput #nome
                   name="nome"
                   [required]="this.mode === 'search'"
                   formControlName="nome"
                   maxlength="255">
            <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        </mat-form-field>
        <mat-form-field *showIfRole="'ROLE_CONVENIADO'" fxFlex="100">
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput #cpfCnpj
                   name="cpfCnpj"
                   [required]="this.mode === 'search'"
                   formControlName="cpfCnpj"
                   maxlength="255">
            <mat-hint align="end">{{cpfCnpj.value.length}} / 19</mat-hint>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Setor Responsável"
                       formControlName="setorAtual"
                       [matAutocomplete]="setor.autocomplete">
            </div>
            <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorAtual')">
            </cdk-setor-autocomplete>
        </mat-form-field>

        <mat-checkbox *showIfRole="'ROLE_COLABORADOR'" formControlName="novo" class="mr-16 mb-16" fxFlex="0 1 auto">
            Novo
        </mat-checkbox>

        <mat-checkbox *showIfRole="'ROLE_COLABORADOR'" formControlName="semValorEconomico" class="mr-16 mb-16" fxFlex="0 1 auto">
            Sem Valor Ecônomico
        </mat-checkbox>

        <mat-checkbox *showIfRole="'ROLE_COLABORADOR'" formControlName="visibilidadeExterna" class="mr-16 mb-16" fxFlex="0 1 auto">
            Visibilidade Externa
        </mat-checkbox>

        <mat-checkbox *showIfRole="'ROLE_COLABORADOR'" formControlName="acessoNegado" class="mr-16 mb-16" fxFlex="0 1 auto">
            Acesso Negado
        </mat-checkbox>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <mat-label>Título</mat-label>
            <input matInput #titulo
                   name="titulo"
                   formControlName="titulo"
                   maxlength="255">
            <mat-hint align="end">{{titulo.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <mat-label>Descrição</mat-label>
            <input matInput #descricao
                   name="descricao"
                   formControlName="descricao"
                   maxlength="255">
            <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <mat-label>Outro Número</mat-label>
            <input matInput #outroNumero
                   name="outroNumero"
                   formControlName="outroNumero"
                   maxlength="255">
            <mat-hint align="end">{{outroNumero.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <mat-label>Valor Ecônomico</mat-label>
            <input matInput #valorEconomico
                   name="valorEconomico"
                   formControlName="valorEconomico">
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Classificacao"
                       formControlName="classificacao"
                       [matAutocomplete]="classificacao.autocomplete">
            </div>
            <cdk-classificacao-autocomplete #classificacao="classificacaoAutocomplete"
                                            [control]="form.get('classificacao')">
            </cdk-classificacao-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem de Dados"
                       formControlName="origemDados"
                       [matAutocomplete]="origemDados.autocomplete">
            </div>
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete" [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Documento Avulso"
                       formControlName="documentoAvulsoOrigem"
                       [matAutocomplete]="documentoAvulso.autocomplete">
            </div>
            <cdk-documento-avulso-autocomplete #documentoAvulso="documentoAvulsoAutocomplete"
                                               [control]="form.get('documentoAvulsoOrigem')">
            </cdk-documento-avulso-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Procedência"
                       formControlName="procedencia"
                       [matAutocomplete]="pessoa.autocomplete">
            </div>
            <cdk-pessoa-autocomplete #pessoa="pessoaAutocomplete" [control]="form.get('procedencia')">
            </cdk-pessoa-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Localizador"
                       formControlName="localizador"
                       [matAutocomplete]="localizador.autocomplete">
            </div>
            <cdk-localizador-autocomplete #localizador="localizadorAutocomplete" [control]="form.get('localizador')">
            </cdk-localizador-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" class="mr-sm-12">
            <mat-label>Data da Abertura</mat-label>
            <input matInput formControlName="dataHoraAbertura" [matDatetimepicker]="dataHoraAbertura">
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraAbertura"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraAbertura type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" class="mr-sm-12">
            <mat-label>Data da Próxima Transição</mat-label>
            <input matInput formControlName="dataHoraProximaTransicao" [matDatetimepicker]="dataHoraProximaTransicao">
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraProximaTransicao"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraProximaTransicao type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modalidade da Fase"
                       formControlName="modalidadeFase"
                       [matAutocomplete]="modalidadeFase.autocomplete">
            </div>
            <cdk-modalidade-fase-autocomplete #modalidadeFase="modalidadeFaseAutocomplete"
                                              [control]="form.get('modalidadeFase')">
            </cdk-modalidade-fase-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modalidade Meio"
                       formControlName="modalidadeMeio"
                       [matAutocomplete]="modalidadeMeio.autocomplete">
            </div>
            <cdk-modalidade-meio-autocomplete #modalidadeMeio="modalidadeMeioAutocomplete"
                                              [control]="form.get('modalidadeMeio')">
            </cdk-modalidade-meio-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Espécie Processo"
                       formControlName="especieProcesso"
                       [matAutocomplete]="especieProcesso.autocomplete">
            </div>
            <cdk-especie-processo-autocomplete #especieProcesso="especieProcessoAutocomplete"
                                               [control]="form.get('especieProcesso')">
            </cdk-especie-processo-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" class="mr-sm-12">
            <mat-label>Criado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Atualizado Por"
                       formControlName="atualizadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" class="mr-sm-12">
            <mat-label>Atualizado Em</mat-label>
            <input matInput formControlName="atualizadoEm" [matDatetimepicker]="atualizadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Apagado Por"
                       formControlName="apagadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field *showIfRole="'ROLE_COLABORADOR'" class="mr-sm-12">
            <mat-label>Apagado Em</mat-label>
            <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mr-sm-12" (click)="buscar()"
                [disabled]="!this.validaBusca()"
                *ngIf="this.mode === 'search'">
            Buscar
        </button>

        <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()" *ngIf="this.mode === 'list'">
            Limpar
        </button>

    </div>
</form>
