cdk-processo-grid-filter {

    height: 100%;


    .altura {
        height: 100%;
    }

    .content {
        min-height: 0px;
        //background-color: white;
        padding: 6%;
    }
    .x {
        padding: 6%;
    }

    .y {
        padding-bottom: 8%;
    }
}