<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field>
            <input matInput placeholder="Assunto Administrativo"
                   formControlName="assuntoAdministrativo"
                   [matAutocomplete]="assuntoAdministrativo.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-assunto-administrativo-autocomplete #assuntoAdministrativo="assuntoAdministrativoAutocomplete"
                                                     [control]="form.get('assuntoAdministrativo')">
            </cdk-assunto-administrativo-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Processo"
                   formControlName="processo"
                   [matAutocomplete]="processo.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
            </cdk-processo-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Origem de Dados"
                   formControlName="origemDados"
                   [matAutocomplete]="origemDados.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete"
                                           [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
