

    <div class="header">
            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                search
            </mat-icon>
            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                  *ngIf="this.mode === 'list'">Filtro</span>
        </div>

        <div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Assunto Administrativo"
                           formControlName="assuntoAdministrativo"
                           [matAutocomplete]="assuntoAdministrativo.autocomplete">
                </div>
                <cdk-assunto-administrativo-autocomplete #assuntoAdministrativo="assuntoAdministrativoAutocomplete"
                                                         [control]="form.get('assuntoAdministrativo')">
                </cdk-assunto-administrativo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Processo"
                           formControlName="processo"
                           [matAutocomplete]="processo.autocomplete">
                </div>
                <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
                </cdk-processo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Origem de Dados"
                           formControlName="origemDados"
                           [matAutocomplete]="origemDados.autocomplete">
                </div>
                <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete"
                                               [control]="form.get('origemDados')">
                </cdk-origem-dados-autocomplete>
            </mat-form-field>

            <mat-checkbox formControlName="principal" class="mr-16 mb-16" fxFlex="0 1 auto">
                Principal
            </mat-checkbox>

        </div>

        <div class="padd" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="buscar()">
                Buscar
            </button>
            <button mat-raised-button color="warn" (click)="limpar()" *ngIf="this.mode === 'list'">
                Limpar
            </button>
        </div>
    </div>
</form>
