<div class="header">
    <mat-icon class="mr-8 s-16">business</mat-icon>
    <span>modalidades orgão central</span>
</div>
<cdk-modalidade-orgao-central-grid
    [loading]="(loading$ | async)"
    [modalidadeOrgaoCentralList]="(modalidadeOrgaoCentralList$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'valor', 'descricao', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-modalidade-orgao-central-grid>