<!-- CONTENT HEADER -->
<div class="header" fxLayout="column" *ngIf="showFilter">
    <div class="filters">
        <cdk-vinculacao-repositorio-grid-filter (selected)="setGridFilter($event)"></cdk-vinculacao-repositorio-grid-filter>
    </div>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT -->
<div class="content" fxLayoutAlign="center start">

    <div class="mb-16 p-16" fxFlex fxLayout="column" fxLayoutAlign="center center">

        <div class="actions m-8" fxFlex fxLayout="row" fxLayoutAlign="end center">

             <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteVinculacaoRepositorios(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>
<button class="toggle-filter" mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (click)="toggleSelectAll($event)"
                                  [checked]="hasSelected"
                                  [indeterminate]="isIndeterminate">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let vinculacaoRepositorio">
                    <mat-checkbox [checked]="selectedIds.indexOf(vinculacaoRepositorio.id) > -1"
                                  (change)="toggleInSelected(vinculacaoRepositorio.id)"
                                  (click)="$event.stopPropagation();"
                                  [disabled]="deletedIds?.indexOf(vinculacaoRepositorio.id) > -1">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                </th>
                <td mat-cell *matCellDef="let vinculacaoRepositorio" class='has_label_on_mobile' data-label='Id: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoRepositorio.id) > -1}"> {{vinculacaoRepositorio.id}} </td>
            </ng-container>

            <!-- Repositorio Column -->
            <ng-container matColumnDef="modelo.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nome do Repositorio
                </th>
                <td mat-cell *matCellDef="let vinculacaoModelo" class='has_label_on_mobile' data-label='Nome do Repositorio: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoModelo.id) > -1}"> {{vinculacaoModelo.modelo?.nome}} </td>
            </ng-container>

            <!-- EspecieSetor Column -->
            <ng-container matColumnDef="especieSetor.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Espécie do Setor
                </th>
                <td mat-cell *matCellDef="let vinculacaoModelo" class='has_label_on_mobile' data-label='Espécie do Setor: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoModelo.id) > -1}"> {{vinculacaoModelo.especieSetor?.nome}} </td>
            </ng-container>

            <!-- Setor Column -->
            <ng-container matColumnDef="setor.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Setor
                </th>
                <td mat-cell *matCellDef="let vinculacaoModelo" class='has_label_on_mobile' data-label='Setor: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoModelo.id) > -1}"> {{vinculacaoModelo.setor?.nome}} </td>
            </ng-container>

            <!-- Usuario Column -->
            <ng-container matColumnDef="usuario.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Usuário
                </th>
                <td mat-cell *matCellDef="let vinculacaoModelo" class='has_label_on_mobile' data-label='Usuário: '
                    [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoModelo.id) > -1}"> {{vinculacaoModelo.usuario?.nome}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let vinculacaoRepositorio">

                    <button mat-icon-button
                            *ngIf="actions.indexOf('select') > -1"
                            (click)="selectVinculacaoRepositorio(vinculacaoRepositorio)"
                            aria-label="selecionar"
                            matTooltip="Selecionar">
                        <mat-icon>keyboard_return</mat-icon>
                    </button>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('edit') > -1"
                            [disabled]="deletedIds?.indexOf(vinculacaoRepositorio.id) > -1"
                            (click)="editVinculacaoRepositorio(vinculacaoRepositorio.id)"
                            aria-label="editar"
                            matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(vinculacaoRepositorio.id) > -1">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(vinculacaoRepositorio.id) === -1"
                            [disabled]="deletedIds?.indexOf(vinculacaoRepositorio.id) > -1"
                            (click)="deleteVinculacaoRepositorio(vinculacaoRepositorio.id)"
                            aria-label="remover"
                            matTooltip="Remover">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let vinculacaoRepositorio; columns: displayedColumns;">
            </tr>
        </table>

        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
