chat-list {
    display: flex;

    .loading {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .chat-list-item {
        display: flex;
        flex: 1 1 auto;

        .avatar {
            margin: 5px;
        }

        .chat-info {
            display: flex;
            flex-direction: column;
            margin: 5px;

            .chat-mensagem {
                color: rgba(0, 0, 0, 0.54);
                font-size: 10px;
                text-rendering: optimizeLegibility;
                -o-text-rendering: optimizeLegibility;
                -ms-text-rendering: optimizeLegibility;
                -moz-text-rendering: optimizeLegibility;
                -webkit-text-rendering: optimizeLegibility;
                -webkit-tap-highlight-color: transparent;
                box-sizing: border-box;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 150px;
            }
        }
    }
}
