cdk-documento-card-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    > .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
