cdk-documento-form {

  form {
    width: 100%;
  }

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  cdk-tipo-documento-gridsearch {
    width: 100%;
  }

  cdk-setor-gridsearch {
    width: 100%;
  }

  cdk-pessoa-gridsearch {
    width: 100%;
  }
}
