<form *ngIf="activeCard === 'form'" class="p-24 mr-24" fxLayoutGap="16px"
      fxLayout="column"
      fxLayoutAlign="start"
      name="form" [formGroup]="form" (submit)="submit()">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="NUP"
                       formControlName="processo"
                       [matAutocomplete]="processo.autocomplete" required
                       (blur)="checkProcesso()">
            </div>
            <cdk-processo-autocomplete
                #processo="processoAutocomplete"
                [control]="form.get('processo')"
                [pagination]="processoPagination">
            </cdk-processo-autocomplete>
            <button *ngIf="form.get('processo').enabled" matSuffix mat-button mat-icon-button
                    (click)="showProcessoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('processo').hasError('formError')">
                {{form.get('processo').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Tipo de Documento"
                       formControlName="tipoDocumento"
                       [matAutocomplete]="tipoDocumento.autocomplete"
                       (blur)="checkTipoDocumento()">
            </div>
            <cdk-tipo-documento-autocomplete
                #tipoDocumento="tipoDocumentoAutocomplete"
                [control]="form.get('tipoDocumento')"
                [pagination]="tipoDocumentoPagination">
            </cdk-tipo-documento-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showTipoDocumentoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                {{form.get('tipoDocumento').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Outro Número</mat-label>
            <input matInput #outroNumero
                   name="outroNumero"
                   formControlName="outroNumero"
                   maxlength="255">
        </mat-form-field>

        <mat-radio-group class="mr-16 mb-16" fxFlex="0 1 auto">
            <mat-radio-button #radioOriginal value="0" (click)="selectCopiaParam(radioOriginal.value)" checked>
                Original
            </mat-radio-button>
            <mat-radio-button #radioCopia value="1" (click)="selectCopiaParam(radioCopia.value)">
                Cópia/Digitalização
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field fxFlex="100">
            <mat-label>Número de Folhas</mat-label>
            <input matInput #numeroFolhas
                   name="numeroFolhas"
                   formControlName="numeroFolhas"
                   maxlength="255">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Tarefa Vinculada"
                       formControlName="tarefaOrigem"
                       [matAutocomplete]="tarefaOrigem.autocomplete"
                       (blur)="checkTarefaOrigem()">
            </div>
            <cdk-tarefa-autocomplete
                #tarefaOrigem="tarefaAutocomplete"
                [control]="form.get('tarefaOrigem')"
                [pagination]="tarefaOrigemPagination">
            </cdk-tarefa-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showTarefaOrigemGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('tarefaOrigem').hasError('formError')">
                {{form.get('tarefaOrigem').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Autor</mat-label>
            <input matInput #autor
                   name="autor"
                   formControlName="autor"
                   maxlength="255">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Redator</mat-label>
            <input matInput #redator
                   name="redator"
                   formControlName="redator"
                   maxlength="255">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Procedência"
                       formControlName="procedencia"
                       [matAutocomplete]="procedencia.autocomplete" required
                       (blur)="checkProcedencia()">
            </div>
            <cdk-pessoa-autocomplete
                #procedencia="pessoaAutocomplete"
                [control]="form.get('procedencia')"
                [pagination]="procedenciaPagination">
            </cdk-pessoa-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showProcedenciaGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('procedencia').hasError('formError')">
                {{form.get('procedencia').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Localizador Original</mat-label>
            <input matInput #localizadorOriginal
                   name="localizadorOriginal"
                   formControlName="redator"
                   maxlength="255">
        </mat-form-field>


        <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                <mat-label>Data da Produção</mat-label>
                <input matInput [matDatepicker]="dataHoraProducao" placeholder="Data da Producao"
                       formControlName="dataHoraProducao">
                <mat-datepicker-toggle matSuffix [for]="dataHoraProducao"></mat-datepicker-toggle>
                <mat-datepicker #dataHoraProducao></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Setor de Origem"
                       formControlName="setorOrigem"
                       [matAutocomplete]="setorOrigem.autocomplete" required
                       (blur)="checkSetorOrigem()">
            </div>
            <cdk-setor-autocomplete
                #setorOrigem="setorAutocomplete"
                [control]="form.get('setorOrigem')"
                [pagination]="setorOrigemPagination">
            </cdk-setor-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showSetorOrigemGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('setorOrigem').hasError('formError')">
                {{form.get('setorOrigem').errors.formError}}
            </mat-error>
        </mat-form-field>

        <!-- Observacao Column -->
        <ng-container matColumnDef="observacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30" fxLayoutAlign="start center">
                Observação
            </th>
        </ng-container>

    </div>


    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <button mat-raised-button color="accent" class="mr-sm-12"
                [disabled]="form.invalid">
            SALVAR
        </button>
    </div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-tipo-documento-gridsearch
        fxFlex="1 0 auto"
        *ngIf="activeCard === 'tipo-documento-gridsearch'"
        (selected)="selectTipoDocumento($event)"
        (cancel)="cancel()">
</cdk-tipo-documento-gridsearch>

<cdk-processo-gridsearch
        fxFlex="1 0 auto"
        *ngIf="activeCard === 'processo-gridsearch'"
        [filter]="processoPagination.filter"
        (selected)="selectProcesso($event)"
        (cancel)="cancel()">
</cdk-processo-gridsearch>

<cdk-setor-gridsearch
        fxFlex="1 0 auto"
        *ngIf="activeCard === 'setor-origem-gridsearch'"
        [filter]="setorOrigemPagination.filter"
        (selected)="selectSetorOrigem($event)"
        (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-pessoa-gridsearch
        fxFlex="1 0 auto"
        *ngIf="activeCard === 'procedencia-gridsearch'"
        [filter]="procedenciaPagination.filter"
        (selected)="selectProcedencia($event)"
        (cancel)="cancel()">
</cdk-pessoa-gridsearch>

<cdk-tarefa-gridsearch
        fxFlex="1 0 auto"
        [filter]="tarefaOrigemPagination.filter"
        *ngIf="activeCard === 'tarefa-origem-gridsearch'"
        (selected)="selectTarefaOrigem($event)"
        (cancel)="cancel()">
</cdk-tarefa-gridsearch>
