<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <mat-form-field>
        <input matInput placeholder="Garantia"
               formControlName="modalidadeGarantia"
               [matAutocomplete]="modalidadeGarantia.autocomplete"
               (blur)="checkModalidadeGarantia()" required>
        <cdk-modalidade-garantia-autocomplete
            #modalidadeGarantia="modalidadeGarantiaAutocomplete"
            [control]="form.get('modalidadeGarantia')"
            [pagination]="modalidadeGarantiaPagination">
        </cdk-modalidade-garantia-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeGarantiaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeGarantia').hasError('formError')">
            {{form.get('modalidadeGarantia').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <div>
            <input #descricao matInput placeholder="Descrição" formControlName="descricao" maxlength="255"
                   required upperCase>
        </div>
        <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <div>
            <input matInput placeholder="Valor (R$)" formControlName="valor" required>
        </div>
        <mat-error *ngIf="form.get('valor').hasError('formError')">
            {{form.get('valor').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data Valor</mat-label>
        <input matInput formControlName="dataValor" [matDatepicker]="dataValor" required>
        <mat-datepicker-toggle matSuffix [for]="dataValor"></mat-datepicker-toggle>
        <mat-datepicker #dataValor></mat-datepicker>
        <mat-error *ngIf="form.get('dataValor').hasError('formError')">
            {{form.get('dataValor').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <div>
            <input formControlName="observacao" #observacao
                   matInput placeholder="Observação" maxlength="255" upperCase>
        </div>
        <mat-hint align="end">{{observacao.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-garantia-gridsearch
    *ngIf="activeCard === 'modalidade-garantia-gridsearch'"
    (selected)="selectModalidadeGarantia($event)"
    (cancel)="cancel()">
</cdk-modalidade-garantia-gridsearch>
