unidades-orgao-central-main-sidebar {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  height: 100%;

  .header {

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .toolbar-separator {
      margin-left: auto;
      height: 32px;
      width: 1px;
    }
  }
}
