<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header accent p-24 pb-4">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32">
            settings
        </mat-icon>
        <span class="logo-text">{{(this.orgaoCentral$ | async)?.valor}}</span>
    </div>
    <div class="logo">
        <span class="logo-text">{{(this.unidade$ | async)?.nome}}</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<div class="content mt-16" cdkPerfectScrollbar *ngIf="this.routerState.params.unidadeHandle !== 'default'">
    <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_ORGAO_CENTRAL'">
        <div class="nav-subheader pl-8 mt-0">
            <mat-icon>language</mat-icon>
            <span>COORDENAÇÃO DE UNIDADE</span>
        </div>
        <div>
            <div class="nav-item" *ngFor="let link of links">
                <a class="nav-link" matRipple
                   [routerLink]="'/apps/coordenador/nacional/' + this.routerState.params.entidadeHandle + '/unidades/'
                   + this.routerState.params.unidadeHandle + '/' + link.link"
                   [routerLinkActive]="['active', 'accent']">
                    <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                    <span>{{link.nome | titlecase}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
