<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 pb-4">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Pesquisa</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content mt-8" cdkPerfectScrollbar>

    <div class="nav material2">

        <div class="nav-item" *ngFor="let link of links">
            <a class="nav-link" matRipple [routerLink]="link.link"
               [routerLinkActive]="['active', 'accent']" *showIfRole="link.role" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span>{{link.nome | titlecase}}</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
