<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput #nome
                   name="nome"
                   formControlName="nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Pais</mat-label>
            <input matInput #pais
                   name="pais"
                   formControlName="pais">
        </mat-form-field>

        <mat-checkbox formControlName="ativo">
            Ativo
        </mat-checkbox>

        <mat-form-field>
            <mat-label>Criado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Atualizado Por"
                   formControlName="atualizadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Atualizado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Apagado Por"
                   formControlName="apagadoPor"
                   [matAutocomplete]="usuario.autocomplete">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apagado Em</mat-label>
            <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>