<cdk-favorito-form
    [showEspecieAtividade]="showEspecieAtividade"
    [saving]="(isSaving$ | async)"
    [errors]="(errors$ | async)"
    [templatePagination]="templatePagination"
    (save)="submit($event)">
</cdk-favorito-form>

<cdk-favorito-grid
        [displayedColumns]="['id', 'especieAtividade.nome','actions']"
        [loading]="(loading$ | async)"
        [favoritos]="(favoritos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'favorito']"
        (reload)="reload($event)"
        (create)="create()"
        (toggleFavorito)="doToggleFavorito($event)">
</cdk-favorito-grid>
