<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput #descricaoOutros
                   name="descricaoOutros"
                   formControlName="descricaoOutros">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Número de Folhas</mat-label>
            <input matInput #numeroFolhas
                   name="numeroFolhas"
                   formControlName="numeroFolhas">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Outro Número</mat-label>
            <input matInput #outroNumero
                   name="outroNumero"
                   formControlName="outroNumero">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Redator</mat-label>
            <input matInput #redator
                   name="redator"
                   formControlName="redator">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Destinatário</mat-label>
            <input matInput #destinatario
                   name="destinatario"
                   formControlName="destinatario">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Localizador Original</mat-label>
            <input matInput #localizadorOriginal
                   name="localizadorOriginal"
                   formControlName="localizadorOriginal">
        </mat-form-field>

        <mat-form-field>
            <mat-label>local da Produção</mat-label>
            <input matInput #localProducao
                   name="localProducao"
                   formControlName="localProducao">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Autor</mat-label>
            <input matInput #autor
                   name="autor"
                   formControlName="autor">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Observação</mat-label>
            <input matInput #observacao
                   name="observacao"
                   formControlName="observacao">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Processo (digite o número pelo início)"
                   formControlName="processoOrigem"
                   [matAutocomplete]="processo.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processoOrigem')">
            </cdk-processo-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Origem Documento"
                   formControlName="documentoOrigem"
                   [matAutocomplete]="documento.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-documento-autocomplete #documento="documentoAutocomplete" [control]="form.get('documentoOrigem')">
            </cdk-documento-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Procedência"
                   formControlName="procedencia"
                   [matAutocomplete]="pessoa.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-pessoa-autocomplete #pessoa="pessoaAutocomplete" [control]="form.get('procedencia')">
            </cdk-pessoa-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Tipo de Documento"
                   formControlName="tipoDocumento"
                   [matAutocomplete]="tipoDocumento.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-tipo-documento-autocomplete #tipoDocumento="tipoDocumentoAutocomplete"
                                             [control]="form.get('tipoDocumento')">
            </cdk-tipo-documento-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Setor de Origem"
                   formControlName="setorOrigem"
                   [matAutocomplete]="setor.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorOrigem')">
            </cdk-setor-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Tarefa de Origem"
                   formControlName="tarefaOrigem"
                   [matAutocomplete]="tarefa.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-tarefa-autocomplete #tarefa="tarefaAutocomplete" [control]="form.get('tarefaOrigem')">
            </cdk-tarefa-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Juntada Atual"
                   formControlName="juntadaAtual"
                   [matAutocomplete]="juntada.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-juntada-autocomplete #juntada="juntadaAutocomplete" [control]="form.get('juntadaAtual')">
            </cdk-juntada-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Origem de Dados"
                   formControlName="origemDados"
                   [matAutocomplete]="origemDados.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete"
                                           [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Remessa de Documento Avulso"
                   formControlName="documentoAvulsoRemessa"
                   [matAutocomplete]="documentoAvulso.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-documento-avulso-autocomplete #documentoAvulso="documentoAvulsoAutocomplete"
                                               [control]="form.get('documentoAvulsoRemessa')">
            </cdk-documento-avulso-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Modelo"
                   formControlName="modelo"
                   [matAutocomplete]="modelo.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-modelo-autocomplete #modelo="modeloAutocomplete" [control]="form.get('modelo')">
            </cdk-modelo-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Tese"
                   formControlName="repositorio"
                   [matAutocomplete]="repositorio.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-repositorio-autocomplete #repositorio="repositorioAutocomplete"
                                          [control]="form.get('repositorio')">
            </cdk-repositorio-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Criado Por"
                   formControlName="criadoPor"
                   [matAutocomplete]="usuario.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('criadoPor')"
                [pagination]="pagination">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Atualizado Por"
                   formControlName="atualizadoPor"
                   [matAutocomplete]="usuario.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <div class="filtro-data">
            <span [ngClass]="{'filtrado': filterDataProducao?.length}">Data da Produção</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataProducao"
                    [ngClass]="{'filtrado': filterDataProducao?.length}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroDataProducao="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="dataProducao"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraDataProducao($event)">
            </cdk-date-filter>
        </mat-menu>

        <div class="filtro-data">
            <span [ngClass]="{'filtrado': filterCriadoEm?.length}">Criado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroCriadoEm"
                    [ngClass]="{'filtrado': filterCriadoEm?.length}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroCriadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="criadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraCriadoEm($event)">
            </cdk-date-filter>
        </mat-menu>

        <div class="filtro-data">
            <span [ngClass]="{'filtrado': filterAtualizadoEm?.length}">Atualizado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroAtualizadoEm"
                    [ngClass]="{'filtrado': filterAtualizadoEm?.length}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroAtualizadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="atualizadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraAtualizadoEm($event)">
            </cdk-date-filter>
        </mat-menu>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
