<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form">

        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dados Administrativos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput placeholder="Processo"
                       formControlName="processo"
                       [matAutocomplete]="processo.autocomplete">
                <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
                </cdk-processo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Espécie de Tarefa"
                       formControlName="especieTarefa"
                       [matAutocomplete]="especieTarefa.autocomplete">
                <cdk-especie-tarefa-autocomplete #especieTarefa="especieTarefaAutocomplete"
                                                 [control]="form.get('especieTarefa')">
                </cdk-especie-tarefa-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuário Responsável"
                       formControlName="usuarioResponsavel"
                       [matAutocomplete]="usuario.autocomplete">
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete"
                                          [control]="form.get('usuarioResponsavel')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuário da Conclusão do Prazo"
                       formControlName="usuarioConclusaoPrazo"
                       [matAutocomplete]="usuario.autocomplete">
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete"
                                          [control]="form.get('usuarioResponsavel')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Setor de Origem"
                       formControlName="setorOrigem"
                       [matAutocomplete]="setor.autocomplete">
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorOrigem')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Unidade Responsável"
                       formControlName="unidadeResponsavel"
                       [matAutocomplete]="setor.autocomplete">
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('unidadeResponsavel')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data da Leitura</mat-label>
                <input matInput formControlName="dataHoraLeitura" [matDatetimepicker]="dataHoraLeitura">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraLeitura"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraLeitura type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data do Início do Prazo</mat-label>
                <input matInput formControlName="dataHoraInicioPrazo" [matDatetimepicker]="dataHoraInicioPrazo">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraInicioPrazo"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraInicioPrazo type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data do Final do Prazo</mat-label>
                <input matInput formControlName="dataHoraFinalPrazo" [matDatetimepicker]="dataHoraFinalPrazo">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraFinalPrazo"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraFinalPrazo type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data da Conclusão do Prazo</mat-label>
                <input matInput formControlName="dataHoraConclusaoPrazo"
                       [matDatetimepicker]="dataHoraConclusaoPrazo">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraConclusaoPrazo"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraConclusaoPrazo type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Observação</mat-label>
                <input matInput #observacao
                       name="observacao"
                       formControlName="observacao">
            </mat-form-field>

            <mat-checkbox formControlName="urgente">
                Urgente
            </mat-checkbox>

            <mat-checkbox formControlName="redistribuida">
                Redistribuída
            </mat-checkbox>

            <mat-form-field>
                <mat-label>Criado Em</mat-label>
                <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
                <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
                <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true"
                                    timeInterval="5"></mat-datetimepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Atualizado Por"
                       formControlName="atualizadoPor"
                       [matAutocomplete]="usuario.autocomplete">
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Atualizado Em</mat-label>
                <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
                <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
                <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>
        </mat-expansion-panel>
    </form>
    <ng-template #dynamicComponent></ng-template>

</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>