cdk-tarefa-filter {
    height: 100%;

    .altura {
        height: 100%;
    }

    .content {
        min-height: 0px;
        //background-color: white;
        padding: 6%;
    }

    .padd {
        padding: 6%;
    }
}
