<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dados Administrativos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput placeholder="Processo"
                       formControlName="processo"
                       [matAutocomplete]="processo.autocomplete">
                <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processo')">
                </cdk-processo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Espécie de Tarefa"
                       formControlName="especieTarefa"
                       [matAutocomplete]="especieTarefa.autocomplete">
                <cdk-especie-tarefa-autocomplete #especieTarefa="especieTarefaAutocomplete"
                                                 [control]="form.get('especieTarefa')">
                </cdk-especie-tarefa-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Interessado"
                       formControlName="interessado"
                       [matAutocomplete]="interessado.autocomplete">
                <cdk-pessoa-autocomplete #interessado="pessoaAutocomplete"
                                         [control]="form.get('interessado')">
                </cdk-pessoa-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Assunto"
                       formControlName="assunto"
                       [matAutocomplete]="assunto.autocomplete">
                <cdk-assunto-administrativo-autocomplete #assunto="assuntoAdministrativoAutocomplete"
                                                         [control]="form.get('assunto')">
                </cdk-assunto-administrativo-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuário Responsável"
                       formControlName="usuarioResponsavel"
                       [matAutocomplete]="usuario.autocomplete">
                <cdk-usuario-autocomplete #usuario="usuarioAutocomplete"
                                          [control]="form.get('usuarioResponsavel')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuário da Conclusão do Prazo"
                       formControlName="usuarioConclusaoPrazo"
                       [matAutocomplete]="usuarioConclusao.autocomplete">
                <cdk-usuario-autocomplete #usuarioConclusao="usuarioAutocomplete"
                                          [control]="form.get('usuarioResponsavel')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Setor de Origem"
                       formControlName="setorOrigem"
                       [matAutocomplete]="setor.autocomplete">
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorOrigem')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Unidade Responsável"
                       formControlName="unidadeResponsavel"
                       [matAutocomplete]="unidade.autocomplete">
                <cdk-setor-autocomplete #unidade="setorAutocomplete" [control]="form.get('unidadeResponsavel')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <div class="filtro-data">
                <span>Data da Leitura</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataHoraLeitura">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroDataHoraLeitura="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="dataHoraLeitura">
                </cdk-date-filter>
            </mat-menu>

            <div class="filtro-data">
                <span>Data do Início do Prazo</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataHoraInicioPrazo">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroDataHoraInicioPrazo="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="dataHoraInicioPrazo">
                </cdk-date-filter>
            </mat-menu>

            <div class="filtro-data">
                <span>Data do Final do Prazo</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataHoraFinalPrazo">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroDataHoraFinalPrazo="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="dataHoraFinalPrazo">
                </cdk-date-filter>
            </mat-menu>

            <div class="filtro-data">
                <span>Data da Conclusão do Prazo</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataHoraConclusaoPrazo">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroDataHoraConclusaoPrazo="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="dataHoraConclusaoPrazo">
                </cdk-date-filter>
            </mat-menu>

            <mat-form-field>
                <mat-label>Observação</mat-label>
                <input matInput #observacao
                       name="observacao"
                       formControlName="observacao">
            </mat-form-field>

            <mat-checkbox formControlName="urgente">
                Urgente
            </mat-checkbox>

            <mat-checkbox formControlName="redistribuida">
                Redistribuída
            </mat-checkbox>

            <mat-form-field>
                <input matInput placeholder="Criado Por"
                       formControlName="criadoPor"
                       [matAutocomplete]="usuarioCriadoPor.autocomplete">
                <cdk-usuario-autocomplete #usuarioCriadoPor="usuarioAutocomplete" [control]="form.get('criadoPor')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <div class="filtro-data">
                <span [ngClass]="{'filtrado': filterCriadoEm.length}">Criado Em</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroCriadoEm" [ngClass]="{'filtrado': filterCriadoEm.length}">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroCriadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="criadoEm"
                                 [limparForm]="this.limparFormFiltroDatas$"
                                 (filtra)="this.filtraCriadoEm($event)">
                </cdk-date-filter>
            </mat-menu>

            <mat-form-field>
                <input matInput placeholder="Atualizado Por"
                       formControlName="atualizadoPor"
                       [matAutocomplete]="usuarioAtualizadoPor.autocomplete">
                <cdk-usuario-autocomplete #usuarioAtualizadoPor="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
                </cdk-usuario-autocomplete>
            </mat-form-field>

            <div class="filtro-data">
                <span [ngClass]="{'filtrado': filterAtualizadoEm.length}">Atualizado Em</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroAtualizadoEm" [ngClass]="{'filtrado': filterAtualizadoEm.length}">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroAtualizadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="atualizadoEm"
                                 [limparForm]="this.limparFormFiltroDatas$"
                                 (filtra)="this.filtraAtualizadoEm($event)">
                </cdk-date-filter>
            </mat-menu>
        </mat-expansion-panel>
    </form>
    <ng-template #dynamicComponent></ng-template>

</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
