<!-- SIDEBAR HEADER -->
<div class="header p-8">
    <div class="juntada-list-control" fxLayout="row" fxLayoutAlign="start center">

        <button class="toggle-filter" [ngClass]="{'warn': (listFilter | json) != '{}'}" mat-icon-button
                (click)="toggleFilter()"
                aria-label="filtrar"
                matTooltip="Filtrar">
            <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="selectMenu">
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu fxHide #selectMenu="matMenu">
            <button mat-menu-item
                    (click)="doSort({'volume.numeracaoSequencial': 'DESC', 'numeracaoSequencial': 'DESC'})">
                Decrescente
            </button>
            <button mat-menu-item (click)="doSort({'volume.numeracaoSequencial': 'ASC', 'numeracaoSequencial': 'ASC'})">
                Crescente
            </button>
        </mat-menu>

        <div class="toolbar-separator" *ngIf="pagination.total"></div>

        <div>
            {{juntadas.length}}/{{pagination.total}}
        </div>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<div class="m-8" *ngIf="showListFilter" fxLayout="column" fxLayoutAlign="start center">
    <h3>Filtros</h3>

    <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="form">

        <div fxFlex="1 0 auto" fxLayout="column">

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Volume"
                           formControlName="volume"
                           [matAutocomplete]="volume.autocomplete">
                </div>
                <cdk-volume-autocomplete
                    #volume="volumeAutocomplete"
                    [pagination]="volumePaginaton"
                    [control]="form.get('volume')">
                </cdk-volume-autocomplete>
            </mat-form-field>


            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Documento"
                           formControlName="tipoDocumento"
                           [matAutocomplete]="tipoDocumento.autocomplete">
                </div>
                <cdk-tipo-documento-autocomplete
                    #tipoDocumento="tipoDocumentoAutocomplete"
                    [control]="form.get('tipoDocumento')">
                </cdk-tipo-documento-autocomplete>
            </mat-form-field>

        </div>

        <div fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
             fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12"
                    [disabled]="(listFilter | json) == '{}'" (click)="pesquisar()">
                Pesquisar
            </button>
            <button mat-raised-button color="warn" class="mr-sm-12"
                    (click)="limpar()">
                Limpar
            </button>
        </div>
    </form>
</div>

<div *ngIf="(isLoading$ | async)" fxLayout="column" fxFlex
     fxLayoutAlign="center center">
    <mat-spinner class="juntada-list-loading" diameter="24"></mat-spinner>
</div>

<div class="juntadas" cdkPerfectScrollbar infiniteScroll
     [scrollWindow]="false"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">

    <div class="juntada capa" matRipple *ngIf="!(isLoading$ | async) && capaProcesso"
         (click)="goToCapaProcesso()"
         [ngClass]="{'current': capa}">
        <div class="index">
            <span>
                <mat-icon>insert_drive_file</mat-icon>
            </span>
        </div>
        <div [ngClass]="{'current-tipo-documento': capa}" fxFlex fxLayout="column">
            <div class="descricao">CAPA</div>
            <div class="criado-em">{{processo?.dataHoraAbertura | date: 'dd/MM/yyyy'}}</div>
            <div class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="s-14">picture_as_pdf</mat-icon>
                <span class="ml-4"
                      [ngClass]="{'current-tipo-documento': true}">{{processo?.especieProcesso.nome}}</span>
            </div>
        </div>
    </div>

    <div class="juntada" matRipple
         *ngFor="let juntada of (juntadas); let i = index; let last = last; let first = first"
         (click)="gotoStep(i, juntada.ativo)"
         [ngClass]="{'current': !capa && (currentStep.step === i), 'completed': currentStep.step > i, 'last': last, 'first': first}">
        <div class="index">
            <span>{{juntada.numeracaoSequencial}}</span>
        </div>
        <div fxFlex fxLayout="column">
            <div *ngIf="!juntada.ativo">
                <div class="desentranhado">DESENTRANHADO</div>
            </div>
            <div *ngIf="juntada.ativo">
                <div class="descricao">{{juntada.descricao}}</div>
                <div class="criado-em">{{juntada.criadoEm | date: 'dd/MM/yyyy'}}</div>
                <div *ngIf="juntada.documento.origemDados !== undefined && juntada.documento.origemDados.status === 0">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>
                </div>
                <div
                    *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status > 1) && (juntada.documento.origemDados.status !== 11)">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>error_outline</mat-icon>
                        ERRO!
                    </div>
                </div>
                <div
                    *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status === 11)">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>lock</mat-icon>
                        PENDENTE DE CIÊNCIA
                    </div>
                </div>
                <div *ngFor="let componenteDigital of (juntada.documento.componentesDigitais); let j = index;"
                     class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-14">picture_as_pdf</mat-icon>
                    <span class="ml-4"
                          [ngClass]="{'current-tipo-documento': index[currentStep.step][currentStep.subStep] === componenteDigital.id}">{{juntada.documento.tipoDocumento.nome}}</span>
                    <div *ngIf="j>0">{{j + 1}}</div>
                    <mat-icon class="ml-4 s-24"
                              *ngIf="index[currentStep.step][currentStep.subStep] === componenteDigital.id">arrow_left
                    </mat-icon>
                </div>
                <div *ngFor="let vinculacaoDocumento of (juntada.documento.vinculacoesDocumentos); let k = index;"
                     class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                    <div
                        *ngFor="let componenteDigital of (vinculacaoDocumento.documentoVinculado.componentesDigitais); let z = index;"
                        class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="ml-16 s-14">attach_file</mat-icon>
                        <mat-icon class="ml-4 s-14">picture_as_pdf</mat-icon>
                        <span class="ml-4"
                              [ngClass]="{'current-tipo-documento': !capa && index[currentStep.step][currentStep.subStep] === componenteDigital.id}">{{vinculacaoDocumento.documentoVinculado.tipoDocumento.nome}}</span>
                        <div *ngIf="z>0">{{z + 1}}</div>
                        <mat-icon class="ml-4 s-24"
                                  *ngIf="index[currentStep.step][currentStep.subStep] === componenteDigital.id">
                            arrow_left
                        </mat-icon>
                    </div>
                </div>
                <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                    <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of juntada.documento.vinculacoesEtiquetas"
                         fxLayout="row" fxLayoutAlign="start center" [matTooltip]="vinculacaoEtiqueta.label">
                        <div class="etiqueta-color"
                             [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                        <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
