<!-- SIDEBAR HEADER -->
<div class="header p-8">
    <div class="actions">
        <button mat-mini-fab
                [matTooltip]="'Criar Minuta'"
                *ngIf="tarefa"
                class="m-8 active accent"
                [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                #menuTriggerList="matMenuTrigger"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">attach_file</mat-icon>
        </button>

        <button class="toggle-filter" mat-icon-button *ngIf="!(expandir$ | async)"
                aria-label="Expandir Tela"
                matTooltip="Expandir Tela"
                (click)="expandirTela(true)">
            <mat-icon>fullscreen</mat-icon>
        </button>

        <button class="toggle-filter" mat-icon-button *ngIf="(expandir$ | async)"
                aria-label="Minimizar Tela"
                matTooltip="Minimizar Tela"
                (click)="expandirTela(false)">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="upload"
                    (click)="upload()">
                <ng-container>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Upload</span>
                </ng-container>
            </button>

            <button fxLayout="row" aria-label="editor de textos" fxLayoutAlign="start center"
                    [matMenuTriggerFor]="modeloMenu" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Editor</span>
            </button>

            <button mat-menu-item aria-label="criar ofício"
                    (click)="criarOficio()">
                <ng-container>
                    <mat-icon>mail</mat-icon>
                    <span>Ofício</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="upload"
                    (click)="minutasExcluidas()">
                <ng-container>
                    <mat-icon>delete</mat-icon>
                    <span>Lixeira</span>
                </ng-container>
            </button>

            <ng-template #dynamicComponent></ng-template>
        </mat-menu>

        <mat-menu #modeloMenu="matMenu">
            <form class="p-8 mb-8" style="width: 400px !important" fxLayoutGap="16px" fxLayout="column"
                  fxLayoutAlign="start"
                  fxFlex="1 0 auto" [formGroup]="formEditor" (click)="$event.stopPropagation()">
                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                        <input matInput placeholder="Modelo"
                               formControlName="modelo"
                               [matAutocomplete]="modelo.autocomplete"
                               (blur)="checkModelo()">
                    </div>
                    <cdk-modelo-autocomplete
                        #modelo="modeloAutocomplete"
                        [control]="formEditor.get('modelo')"
                        [pagination]="modeloPagination">
                    </cdk-modelo-autocomplete>
                    <button matSuffix mat-button mat-icon-button
                            (click)="showModelosGrid()">
                        <mat-icon matTooltip="Procurar">search</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="accent" [disabled]="!formEditor.valid" (click)="doEditor()">
                    EDITAR
                </button>
            </form>
        </mat-menu>

        <button mat-mini-fab *ngIf="!(loadingDocumentosExcluidos$ | async) && (lixeiraMinutas$ | async)"
                class="m-4 active accent" aria-label="Sair da lixeira"
                (click)="doSairLixeiraMinutas()" matTooltip="Sair da lixeira">
            <mat-icon class="secondary-text">exit_to_app</mat-icon>
        </button>

        <button class="toggle-filter" [ngClass]="{'warn': (listFilter | json) != '{}'}" mat-icon-button
                (click)="toggleFilter()"
                aria-label="filtrar"
                matTooltip="Filtrar">
            <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="selectMenu">
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu fxHide #selectMenu="matMenu">
            <button mat-menu-item
                    (click)="doSort({'volume.numeracaoSequencial': 'DESC', 'numeracaoSequencial': 'DESC'})">
                Decrescente
            </button>
            <button mat-menu-item (click)="doSort({'volume.numeracaoSequencial': 'ASC', 'numeracaoSequencial': 'ASC'})">
                Crescente
            </button>
        </mat-menu>

        <div class="toolbar-separator" *ngIf="pagination.total"></div>

        <div>
            {{juntadas.length}}/{{pagination.total}}
        </div>

    </div>

    <div class="filters" *ngIf="showListFilter">
        <h3>Filtros</h3>

        <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div fxFlex="1 0 auto" fxLayout="column">

                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Volume"
                               formControlName="volume"
                               [matAutocomplete]="volume.autocomplete">
                    </div>
                    <cdk-volume-autocomplete
                        #volume="volumeAutocomplete"
                        [pagination]="volumePaginaton"
                        [control]="form.get('volume')">
                    </cdk-volume-autocomplete>
                </mat-form-field>


                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Documento"
                               formControlName="tipoDocumento"
                               [matAutocomplete]="tipoDocumento.autocomplete">
                    </div>
                    <cdk-tipo-documento-autocomplete
                        #tipoDocumento="tipoDocumentoAutocomplete"
                        [control]="form.get('tipoDocumento')">
                    </cdk-tipo-documento-autocomplete>
                </mat-form-field>

            </div>

            <div fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
                 fxLayoutAlign="center center">
                <button mat-raised-button color="accent" class="mr-sm-12"
                        [disabled]="(listFilter | json) == '{}'" (click)="pesquisar()">
                    Pesquisar
                </button>
                <button mat-raised-button color="warn" class="mr-sm-12"
                        (click)="limpar()">
                    Limpar
                </button>
            </div>
        </form>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<div class="content">

    <div class="loading-minutas" *ngIf="((minutasSaving$ | async)) && tarefa">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>

    <div *ngIf="tarefa">
        <mat-expansion-panel class="mat-elevation-z0" expanded="true" (closed)="onCloseMinutas()" (opened)="onOpenMinutas()">
            <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" style="background-color: whitesmoke;">
                <mat-panel-title>
                    Minutas da Tarefa
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="minutas" *ngIf="(!(minutasLoading$ | async) && !(minutasSaving$ | async) && !(loadingDocumentosExcluidos$ | async)) && tarefa">

                <cdk-componente-digital-card-list #ckdUpload
                                                  [tarefaOrigem]="tarefaOrigem"
                                                  (completed)="onComplete()">
                </cdk-componente-digital-card-list>

                <div class="sem-minutas" *ngIf="(!minutas || !minutas.length) && (!oficios || !oficios.length)">
                    <div class="m-16" style="font-style: italic;">Não há minutas<span *ngIf="(lixeiraMinutas$ | async)"> na lixeira</span>.</div>
                </div>

                <div class="minuta" matRipple
                     *ngFor="let minuta of (minutas); let i = index; let last = last; let first = first"
                     (click)="onClickedMinuta(minuta)">
                    <div class="index">
                    <span>
                        <mat-icon>{{minuta.apagadoEm ? 'delete' : 'edit'}}</mat-icon>
                    </span>
                    </div>
                    <div fxFlex fxLayout="column">
                        <div>
                            <div class="descricao">{{minuta.tipoDocumento.nome}}</div>
                            <div class="criado-em">{{minuta.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                            <div
                                *ngIf="minuta.origemDados !== undefined && minuta.origemDados.status === 0">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                            </div>
                            <div
                                *ngIf="minuta.origemDados !== undefined && (minuta.origemDados.status > 1) && (minuta.origemDados.status !== 11)">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon>error_outline</mat-icon>
                                    ERRO!
                                </div>
                            </div>
                            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of minuta.vinculacoesEtiquetas"
                                     fxLayout="row" fxLayoutAlign="start center"
                                     [matTooltip]="vinculacaoEtiqueta.label">
                                    <div class="etiqueta-color"
                                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-icon *ngIf="minuta.assinado" class="ml-8 mr-8">lock</mat-icon>
                    <div class="actions">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                                aria-label="Ferramentas" (click)="$event.stopPropagation()"
                                *ngIf="!((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(minuta.id) > -1)">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <div *ngIf="((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(minuta.id) > -1)"
                             class="spinner-container m-8">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <mat-menu #moreMenu="matMenu">

                            <button
                                *ngIf="(!minuta.documentoAvulsoRemessa || !minuta.documentoAvulsoRemessa.dataHoraRemessa) && !minuta.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center" (click)="doDelete(minuta.id)" mat-menu-item>
                                <mat-icon color="accent">delete</mat-icon>
                                <span>Apagar Minuta</span>
                            </button>
                            <button
                                *ngIf="minuta.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center" (click)="doRestaurar(minuta.id)" mat-menu-item>
                                <mat-icon color="accent">undo</mat-icon>
                                <span>Restaurar</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center"
                                    *ngIf="!minuta.apagadoEm"
                                    (click)="doAssinatura(minuta)"
                                    mat-menu-item>
                                <mat-icon color="accent">lock</mat-icon>
                                <span>Assinar</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center" (click)="doRemoveAssinatura(minuta.id)"
                                    mat-menu-item
                                    *ngIf="minuta.assinado && !minuta.apagadoEm">
                                <mat-icon color="accent">lock_open</mat-icon>
                                <span>Remover Assinatura</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center"
                                    *ngIf="!minuta.apagadoEm"
                                    (click)="doConverte(minuta.id)"
                                    mat-menu-item>
                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                <span>Converter em PDF</span>
                            </button>
                            <button
                                *ngIf="minuta.documentoAvulsoRemessa && minuta.documentoAvulsoRemessa.dataHoraResposta && !minuta.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center"
                                (click)="doVerResposta(minuta.documentoAvulsoRemessa.documentoResposta)" mat-menu-item>
                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                <span>Ver Resposta</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center"
                                    *ngIf="!minuta.apagadoEm && _loginService.isGranted('ROLE_COLABORADOR')"
                                    [matMenuTriggerFor]="tipoDocumentoMenu" mat-menu-item>
                                <mat-icon color="accent">edit</mat-icon>
                                <span>Alterar Tipo de Documento</span>
                            </button>
                        </mat-menu>
                    </div>

                    <mat-menu #tipoDocumentoMenu="matMenu" class="menuTipoDocumento" id="testeMenu">
                        <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
                              fxFlex="1 0 auto" name="form" [formGroup]="form" (click)="$event.stopPropagation()">
                            <mat-form-field fxFlex="100">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <input mat-menu-item matInput placeholder="Tipo de Documento"
                                           formControlName="tipoDocumento"
                                           [matAutocomplete]="tipoDocumento.autocomplete"
                                           (blur)="checkTipoDocumento()">
                                </div>
                                <cdk-tipo-documento-autocomplete
                                    #tipoDocumento="tipoDocumentoAutocomplete"
                                    [control]="form.get('tipoDocumento')"
                                    [pagination]="tipoDocumentoPagination">
                                </cdk-tipo-documento-autocomplete>
                                <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                                    {{form.get('tipoDocumento').errors.formError}}
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="accent" (click)="salvarTipoDocumento(minuta)">
                                SALVAR
                            </button>
                        </form>
                    </mat-menu>
                </div>

                <div class="oficio" matRipple
                     *ngFor="let oficio of (oficios); let i = index; let last = last; let first = first"
                     (click)="onClickedMinuta(oficio)">
                    <div class="index">
                    <span>
                        <mat-icon>{{oficio.apagadoEm ? 'delete' : 'edit'}}</mat-icon>
                    </span>
                    </div>
                    <div fxFlex fxLayout="column">
                        <div>
                            <div class="descricao">{{oficio.tipoDocumento.nome}}</div>
                            <div class="criado-em">{{oficio.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                            <div
                                *ngIf="oficio.origemDados !== undefined && oficio.origemDados.status === 0">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                            </div>
                            <div
                                *ngIf="oficio.origemDados !== undefined && (oficio.origemDados.status > 1) && (oficio.origemDados.status !== 11)">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon>error_outline</mat-icon>
                                    ERRO!
                                </div>
                            </div>
                            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of oficio.vinculacoesEtiquetas"
                                     fxLayout="row" fxLayoutAlign="start center"
                                     [matTooltip]="vinculacaoEtiqueta.label">
                                    <div class="etiqueta-color"
                                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-icon *ngIf="oficio.assinado" class="ml-8 mr-8">lock</mat-icon>
                    <div class="actions">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                                aria-label="Ferramentas" (click)="$event.stopPropagation()"
                                *ngIf="!((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(oficio.id) > -1) &&
                            !((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(oficio.id) > -1) &&
                            !((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(oficio.id) > -1) &&
                            !((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(oficio.id) > -1) &&
                            !((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(oficio.id) > -1)">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <div *ngIf="((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(oficio.id) > -1) ||
                            ((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(oficio.id) > -1) ||
                            ((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(oficio.id) > -1) ||
                            ((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(oficio.id) > -1) ||
                            ((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(oficio.id) > -1)"
                             class="spinner-container m-8">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <mat-menu #moreMenu="matMenu">
                            <button
                                *ngIf="(!oficio.documentoAvulsoRemessa || !oficio.documentoAvulsoRemessa.dataHoraRemessa) && !oficio.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center" (click)="doDelete(oficio.id)" mat-menu-item>
                                <mat-icon color="accent">delete</mat-icon>
                                <span>Apagar Ofício</span>
                            </button>
                            <button
                                *ngIf="oficio.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center" (click)="doRestaurar(oficio.id)" mat-menu-item>
                                <mat-icon color="accent">undo</mat-icon>
                                <span>Restaurar</span>
                            </button>

                            <button fxLayout="row" fxLayoutAlign="start center"
                                    *ngIf="!oficio.apagadoEm"
                                    (click)="doAssinatura(oficio)"
                                    mat-menu-item>
                                <mat-icon color="accent">lock</mat-icon>
                                <span>Assinar</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center" (click)="doRemoveAssinatura(oficio.id)"
                                    mat-menu-item
                                    *ngIf="oficio.assinado && !oficio.apagadoEm">
                                <mat-icon color="accent">lock_open</mat-icon>
                                <span>Remover Assinatura</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center" (click)="doConverte(oficio.id)"
                                    mat-menu-item>
                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                <span>Converter em PDF</span>
                            </button>
                            <button
                                *ngIf="oficio.documentoAvulsoRemessa && oficio.documentoAvulsoRemessa.dataHoraResposta && !oficio.apagadoEm"
                                fxLayout="row" fxLayoutAlign="start center"
                                (click)="doVerResposta(oficio.documentoAvulsoRemessa.documentoResposta)" mat-menu-item>
                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                <span>Ver Resposta</span>
                            </button>
                            <button fxLayout="row" fxLayoutAlign="start center"
                                    *ngIf="!oficio.apagadoEm && _loginService.isGranted('ROLE_COLABORADOR')"
                                    [matMenuTriggerFor]="tipoDocumentoMenu" mat-menu-item>
                                <mat-icon color="accent">edit</mat-icon>
                                <span>Alterar Tipo de Documento</span>
                            </button>
                        </mat-menu>
                    </div>

                    <mat-menu #tipoDocumentoMenu="matMenu" class="menuTipoDocumento" id="testeMenu2">
                        <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
                              fxFlex="1 0 auto" name="form" [formGroup]="form" (click)="$event.stopPropagation()">
                            <mat-form-field fxFlex="100">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <input mat-menu-item matInput placeholder="Tipo de Documento"
                                           formControlName="tipoDocumento"
                                           [matAutocomplete]="tipoDocumento.autocomplete"
                                           (blur)="checkTipoDocumento()">
                                </div>
                                <cdk-tipo-documento-autocomplete
                                    #tipoDocumento="tipoDocumentoAutocomplete"
                                    [control]="form.get('tipoDocumento')"
                                    [pagination]="tipoDocumentoPagination">
                                </cdk-tipo-documento-autocomplete>
                                <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                                    {{form.get('tipoDocumento').errors.formError}}
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="accent" (click)="salvarTipoDocumento(oficio)">
                                SALVAR
                            </button>
                        </form>
                    </mat-menu>
                </div>
            </div>
            <div class="minutas" *ngIf="(minutasLoading$ | async) || (loadingDocumentosExcluidos$ | async)">
                <div class="loading">
                    <mat-spinner class="minuta-list-loading" diameter="24"></mat-spinner>
                </div>
            </div>
        </mat-expansion-panel>
    </div>

    <div class="documentos-juntados-title" style="background-color: whitesmoke;" fxFlex="0 0 auto"
         fxLayoutAlign="start center">
        <div class="ml-24">Documentos Juntados</div>
    </div>

    <div class="loading" *ngIf="(isLoading$ | async)">
        <mat-spinner class="juntada-list-loading" diameter="24"></mat-spinner>
    </div>

    <div class="juntadas" cdkPerfectScrollbar infiniteScroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
        <div class="juntada capa" matRipple *ngIf="!(isLoading$ | async) && capaProcesso"
             (click)="goToCapaProcesso()"
             [ngClass]="{'current': capa}">
            <div class="index">
                <span>
                    <mat-icon>insert_drive_file</mat-icon>
                </span>
            </div>
            <div [ngClass]="{'current-tipo-documento': capa}" fxFlex fxLayout="column">
                <div class="descricao">CAPA</div>
                <div class="criado-em">{{processo?.dataHoraAbertura?.toDate() | date: 'dd/MM/yyyy'}}</div>
                <div class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-14">picture_as_pdf</mat-icon>
                    <span class="ml-4"
                          [ngClass]="{'current-tipo-documento': true}">{{processo?.especieProcesso.nome}}</span>
                </div>
            </div>
        </div>

        <div class="juntada" matRipple
             *ngFor="let juntada of (juntadas); let i = index; let last = last; let first = first"
             (click)="gotoStep(i, juntada.ativo)"
             [ngClass]="{'current': !capa && (currentStep.step === i), 'completed': currentStep.step > i, 'last': last, 'first': first}">
            <div class="index">
                <span>{{juntada.numeracaoSequencial}}</span>
            </div>
            <div fxFlex fxLayout="column">
                <div *ngIf="!juntada.ativo">
                    <div class="desentranhado">DESENTRANHADO</div>
                </div>
                <div *ngIf="juntada.ativo">
                    <div class="descricao">{{juntada.descricao}}</div>
                    <div class="criado-em">{{juntada.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                    <div
                        *ngIf="juntada.documento.origemDados !== undefined && juntada.documento.origemDados.status === 0">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>
                    </div>
                    <div
                        *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status > 1) && (juntada.documento.origemDados.status !== 11)">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>error_outline</mat-icon>
                            ERRO!
                        </div>
                    </div>
                    <div
                        *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status === 11)">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>lock</mat-icon>
                            PENDENTE DE CIÊNCIA
                        </div>
                    </div>
                    <div *ngFor="let componenteDigital of (juntada.documento.componentesDigitais); let j = index;"
                         class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="s-14">picture_as_pdf</mat-icon>
                        <span class="ml-4"
                              [ngClass]="{'current-tipo-documento': !capa && index[currentStep.step][currentStep.subStep] === componenteDigital.id}">{{juntada.documento.tipoDocumento.nome}}</span>
                        <div *ngIf="j>0">{{j + 1}}</div>
                        <mat-icon class="ml-4 s-24"
                                  *ngIf="!capa && index[currentStep.step][currentStep.subStep] === componenteDigital.id">
                            arrow_left
                        </mat-icon>
                    </div>
                    <div
                        *ngFor="let vinculacaoDocumento of (juntada.documento.vinculacoesDocumentos); let k = index;"
                        class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                        <div
                            *ngFor="let componenteDigital of (vinculacaoDocumento.documentoVinculado.componentesDigitais); let z = index;"
                            class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="ml-16 s-14">attach_file</mat-icon>
                            <mat-icon class="ml-4 s-14">picture_as_pdf</mat-icon>
                            <span class="ml-4"
                                  [ngClass]="{'current-tipo-documento': !capa && index[currentStep.step][currentStep.subStep] === componenteDigital.id}">{{vinculacaoDocumento.documentoVinculado.tipoDocumento.nome}}</span>
                            <div *ngIf="z>0">{{z + 1}}</div>
                            <mat-icon class="ml-4 s-24"
                                      *ngIf="!capa && index[currentStep.step][currentStep.subStep] === componenteDigital.id">
                                arrow_left
                            </mat-icon>
                        </div>
                    </div>
                    <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                        <div class="etiqueta"
                             *ngFor="let vinculacaoEtiqueta of juntada.documento.vinculacoesEtiquetas"
                             fxLayout="row" fxLayoutAlign="start center" [matTooltip]="vinculacaoEtiqueta.label">
                            <div class="etiqueta-color"
                                 [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                            <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                        aria-label="Ferramentas" (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">

                    <button mat-menu-item aria-label="enviar por email" (click)="enviarDocumentoEmail(juntada.id)">
                        <ng-container>
                            <mat-icon>send</mat-icon>
                            <span>Enviar por email</span>
                        </ng-container>
                    </button>

                    <button mat-menu-item aria-label="editar"
                            *showIfNotRole="'ROLE_USUARIO_EXTERNO'"
                            (click)="onClickedMinuta(juntada.documento)">
                        <ng-container>
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </ng-container>
                    </button>

                    <button mat-menu-item aria-label="assinar juntada"
                            (click)="doAssinaturaJuntada(juntada.documento)">
                        <ng-container>
                            <mat-icon>lock</mat-icon>
                            <span>Assinar</span>
                        </ng-container>
                    </button>

                    <button mat-menu-item aria-label="adicionar vinculação"
                            *showIfNotRole="'ROLE_USUARIO_EXTERNO'"
                            (click)="doAdicionarVinculacao(juntada.id)">
                        <ng-container>
                            <mat-icon>link</mat-icon>
                            <span>Adicionar vinculação</span>
                        </ng-container>
                    </button>

                    <button mat-menu-item aria-label="remover vinculações" (click)="doRemoverVinculacoes(juntada)"
                            *ngIf="juntada.documento.vinculacoesDocumentos.length > 0 && _loginService.isGranted('ROLE_COLABORADOR')">
                        <ng-container>
                            <mat-icon>lock</mat-icon>
                            <span>Desvincular</span>
                        </ng-container>
                    </button>

                </mat-menu>
            </div>
        </div>
    </div>
</div>
