<!-- SIDEBAR HEADER -->
<div class="header p-8">
    <div class="actions">
        <button mat-mini-fab
                [matTooltip]="'Criar Minuta'"
                *ngIf="tarefa"
                class="m-8 active accent"
                [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                #menuTriggerList="matMenuTrigger"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">attach_file</mat-icon>
        </button>

        <button class="toggle-filter" mat-icon-button *ngIf="(expandir$ | async) === false"
                aria-label="Maximizar Tela"
                matTooltip="Maximizar Tela"
                (click)="expandirTela(true)">
            <mat-icon>fullscreen</mat-icon>
        </button>

        <button class="toggle-filter" mat-icon-button *ngIf="(expandir$ | async)"
                aria-label="Minimizar Tela"
                matTooltip="Minimizar Tela"
                (click)="expandirTela(false)">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="upload"
                    (click)="upload()">
                <ng-container>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Upload</span>
                </ng-container>
            </button>

            <button fxLayout="row" aria-label="editor de textos" fxLayoutAlign="start center"
                    [matMenuTriggerFor]="modeloMenu" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Editor</span>
            </button>

            <button mat-menu-item aria-label="criar ofício"
                    (click)="criarOficio()">
                <ng-container>
                    <mat-icon>mail</mat-icon>
                    <span>Ofício</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="upload"
                    (click)="minutasExcluidas()">
                <ng-container>
                    <mat-icon>delete</mat-icon>
                    <span>Lixeira</span>
                </ng-container>
            </button>

            <ng-template #dynamicComponent></ng-template>
        </mat-menu>

        <mat-menu #modeloMenu="matMenu">
            <h4 class="p-8">Modelos Individuais e em Branco (Outros na Lupa)</h4>
            <form class="p-8 mb-8" style="width: 400px !important" fxLayoutGap="16px" fxLayout="column"
                  fxLayoutAlign="start"
                  (submit)="doEditor()"
                  fxFlex="1 0 auto" [formGroup]="formEditor" (click)="$event.stopPropagation()">
                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                        <input matInput placeholder="Nome ou Id"
                               formControlName="modelo"
                               #autoCompleteModelos
                               [matAutocomplete]="modelo.autocomplete"
                               (blur)="checkModelo()">
                    </div>
                    <cdk-modelo-autocomplete
                        #modelo="modeloAutocomplete"
                        [control]="formEditor.get('modelo')"
                        [pagination]="modeloPagination">
                    </cdk-modelo-autocomplete>
                    <button matSuffix mat-button mat-icon-button type="button"
                            (click)="$event.stopPropagation(); doVisualizarModelo()" [disabled]="!formEditorValid">
                        <mat-icon matTooltip="Prévia do modelo">remove_red_eye</mat-icon>
                    </button>
                    <button matSuffix mat-button mat-icon-button type="button"
                            (click)="$event.stopPropagation(); showModelosGrid()">
                        <mat-icon matTooltip="Procurar em todos os modelos">search</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" [disabled]="!formEditorValid">
                    CRIAR MINUTA
                </button>
            </form>
        </mat-menu>

        <button mat-mini-fab *ngIf="(loadingDocumentosExcluidos$ | async) === false && (lixeiraMinutas$ | async)"
                class="m-4 active accent" aria-label="Sair da lixeira"
                (click)="doSairLixeiraMinutas()" matTooltip="Sair da lixeira">
            <mat-icon class="secondary-text">exit_to_app</mat-icon>
        </button>

        <button class="refresh" mat-icon-button
                (click)="reloadJuntadas()"
                aria-label="recarregar juntadas"
                matTooltip="Recarregar Juntadas">
            <mat-icon>refresh</mat-icon>
        </button>

        <button class="toggle-filter" [ngClass]="{'warn': (listFilter | json) !== '{}'}" mat-icon-button
                (click)="toggleFilter()"
                aria-label="filtrar"
                matTooltip="Filtrar">
            <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="selectMenu">
            <mat-icon *ngIf="sort === 'DESC'">sort</mat-icon>
            <mat-icon class="sort-asc" *ngIf="sort === 'ASC'">sort</mat-icon>
        </button>
        <mat-menu fxHide #selectMenu="matMenu">
            <button mat-menu-item class="sort-menu-button"
                    (click)="doSort('DESC')">
                <mat-icon>{{sort === 'DESC' ? 'check' : ''}}</mat-icon>
                <span>Decrescente</span>
            </button>
            <button mat-menu-item class="sort-menu-button"
                    (click)="doSort('ASC')">
                <mat-icon>{{sort === 'ASC' ? 'check' : ''}}</mat-icon>
                <span>Crescente</span>
            </button>
        </mat-menu>

        <div class="toolbar-separator" *ngIf="pagination.total"></div>

        <div>
            {{juntadas?.length}}/{{pagination.total}}
        </div>

    </div>

    <div class="filters" *ngIf="showListFilter">
        <h3>Filtros</h3>

        <form class="p-8 mb-8" name="form" [formGroup]="form">

            <div class="grupo">
                <div class="volumes-filter">
                    <mat-label>Volume:</mat-label>
                    <div class="volumes">
                        <div *ngFor="let volume of (volumes$ | async)">
                            <div class="index-volume" [ngClass]="{'current': volume.id === selectedVolume}"
                                 (click)="filtraVolume(volume)">
                                <span>{{volume.numeracaoSequencial}}</span>
                            </div>
                        </div>
                        <div class="loading" *ngIf="loadingVolumes$ | async">
                            <mat-spinner class="volumes-loading" diameter="22"></mat-spinner>
                        </div>
                        <div class="index-volume" (click)="paginaVolumes()"
                             *ngIf="this.volumes && this.volumes?.length < this.volumesPagination.total">
                            <span>+</span>
                        </div>
                    </div>
                </div>

                <mat-form-field>
                    <mat-label>Numeração Sequencial</mat-label>
                    <input matInput #numeracaoSequencial
                           name="numeracaoSequencial"
                           formControlName="numeracaoSequencial">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <input matInput #descricao
                           name="descricao"
                           formControlName="descricao">
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input matInput placeholder="Tipo de Documento"
                               formControlName="tipoDocumento"
                               [matAutocomplete]="tipoDocumento.autocomplete">
                    </div>
                    <cdk-tipo-documento-autocomplete
                        #tipoDocumento="tipoDocumentoAutocomplete"
                        [control]="form.get('tipoDocumento')">
                    </cdk-tipo-documento-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Juntador Por"
                           formControlName="criadoPor"
                           [matAutocomplete]="usuarioCriadoPor.autocomplete">
                    <cdk-usuario-autocomplete
                        #usuarioCriadoPor="usuarioAutocomplete"
                        [control]="form.get('criadoPor')">
                    </cdk-usuario-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Unidade Origem"
                           formControlName="unidade"
                           [matAutocomplete]="setor.autocomplete">
                    <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('unidade')">
                    </cdk-setor-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Origem</mat-label>
                    <mat-select formControlName="origemDados">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="administrativo">Administrativo</mat-option>
                        <mat-option value="integracao">Integração</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
                 fxLayoutAlign="center center">
                <button mat-raised-button color="accent" class="mr-sm-12" (click)="pesquisar()">
                    Pesquisar
                </button>
                <button mat-raised-button color="warn" class="mr-sm-12"
                        (click)="limpar()">
                    Limpar
                </button>
            </div>
        </form>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<div class="content">

    <div class="loading-minutas" *ngIf="((minutasSaving$ | async)) && tarefa">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>

    <div *ngIf="tarefa">
        <mat-expansion-panel class="mat-elevation-z0" expanded="true" (closed)="onCloseMinutas()"
                             (opened)="onOpenMinutas()">
            <mat-expansion-panel-header class="minutas-tarefa" [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                <mat-panel-title>
                    Minutas da Tarefa <span class="warn badge">{{minutas?.length + oficios?.length}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="minutas" cdkPerfectScrollbar
                 *ngIf="((minutasLoading$ | async) === false && (minutasSaving$ | async) === false && (loadingDocumentosExcluidos$ | async) === false) && tarefa">

                <cdk-componente-digital-card-list #ckdUpload
                                                  [mode]="'processo'"
                                                  [tarefaOrigem]="tarefaOrigem"
                                                  (completed)="onComplete()">
                </cdk-componente-digital-card-list>

                <div class="sem-minutas" *ngIf="(!minutas || !minutas?.length) && (!oficios || !oficios?.length)">
                    <div class="m-16" style="font-style: italic;">Não há minutas<span *ngIf="(lixeiraMinutas$ | async)"> na lixeira</span>.
                    </div>
                </div>

                <div class="minuta" matRipple
                     *ngFor="let minuta of (minutas); let i = index; let last = last; let first = first"
                     (click)="onClickedMinuta(minuta)">
                    <div class="index">
                        <span>
                            <mat-icon>{{(minuta.apagadoEm ? 'delete' : (minuta.numeroUnicoDocumentoFormatado ? 'edit' : 'picture_as_pdf'))}}</mat-icon>
                        </span>
                    </div>
                    <div fxFlex fxLayout="column">
                        <div fxFlex fxLayout="column">
                            <div fxFlex fxLayout="row">
                                <div class="descricao">{{minuta.tipoDocumento.nome}}</div>
                                <mat-icon *ngIf="minuta.temAnexos" [matTooltip]="'Possui Anexos'"
                                          class="mt-10 ml-4 mr-4"
                                          (click)="uploadAnexo(minuta); $event.stopPropagation();">attach_file
                                </mat-icon>
                                <mat-icon *ngIf="minuta.assinado" [matTooltip]="'Assinado'" class="mt-10 ml-4 mr-4">
                                    lock
                                </mat-icon>
                                <div class="actions">
                                    <button mat-icon-button [matMenuTriggerFor]="minutasMenu"
                                            aria-label="Ferramentas" (click)="$event.stopPropagation()"
                                            *ngIf="!((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((assinandoTarefaDocumentosId$ | async) !== undefined && (assinandoTarefaDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((assinandoTarefaEletronicamenteDocumentosId$ | async) !== undefined && (assinandoTarefaEletronicamenteDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((downloadP7SDocumentoIds$ | async) !== undefined && (downloadP7SDocumentoIds$ | async).indexOf(minuta.id) > -1) &&
                            !((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(minuta.id) > -1) &&
                            !((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(minuta.id) > -1)">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>

                                    <div *ngIf="((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((assinandoTarefaDocumentosId$ | async) !== undefined && (assinandoTarefaDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((assinandoTarefaEletronicamenteDocumentosId$ | async) !== undefined && (assinandoTarefaEletronicamenteDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((downloadP7SDocumentoIds$ | async) !== undefined && (downloadP7SDocumentoIds$ | async).indexOf(minuta.id) > -1) ||
                            ((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async).indexOf(minuta.id) > -1) ||
                            ((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async).indexOf(minuta.id) > -1)"
                                         class="spinner-container m-8">
                                        <mat-spinner diameter="24"></mat-spinner>
                                    </div>

                                    <mat-menu #minutasMenu="matMenu">

                                        <button
                                            *ngIf="(!minuta.documentoAvulsoRemessa || !minuta.documentoAvulsoRemessa.dataHoraRemessa) && !minuta.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center" (click)="doDelete(minuta)"
                                            mat-menu-item>
                                            <mat-icon color="accent">delete</mat-icon>
                                            <span>Apagar Minuta</span>
                                        </button>
                                        <button
                                            *ngIf="minuta.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center" (click)="doRestaurar(minuta)"
                                            mat-menu-item>
                                            <mat-icon color="accent">undo</mat-icon>
                                            <span>Restaurar</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!minuta.apagadoEm"
                                                (click)="doAssinatura(minuta)"
                                                mat-menu-item>
                                            <mat-icon color="accent">lock</mat-icon>
                                            <span>Assinar</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                (click)="doRemoveAssinatura(minuta.id)"
                                                mat-menu-item
                                                *ngIf="minuta.assinado && !minuta.apagadoEm">
                                            <mat-icon color="accent">lock_open</mat-icon>
                                            <span>Remover Assinatura</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!minuta.apagadoEm && _loginService.isGranted('ROLE_COLABORADOR')"
                                                (click)="doAbreMinutaOutraAba(minuta)"
                                                mat-menu-item>
                                            <mat-icon color="accent">open_in_new</mat-icon>
                                            <span>Abrir em outra aba</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!minuta.apagadoEm && (minuta?.componentesDigitais[0]?.extensao === 'html' || minuta?.componentesDigitais[0]?.extensao === 'HTML')"
                                                (click)="doConverte(minuta.id)"
                                                mat-menu-item>
                                            <mat-icon color="accent">picture_as_pdf</mat-icon>
                                            <span>Converter em PDF</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!minuta.apagadoEm && minuta?.componentesDigitais[0]?.convertidoPdf"
                                                (click)="doConverteHtml(minuta.id)"
                                                mat-menu-item>
                                            <mat-icon color="accent">restore_page</mat-icon>
                                            <span>Converter em HTML</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="minuta.assinado"
                                                (click)="doDownloadP7S(minuta)"
                                                mat-menu-item>
                                            <mat-icon color="accent">get_app</mat-icon>
                                            <span>Exportar como P7S</span>
                                        </button>
                                        <button
                                            *ngIf="minuta.documentoAvulsoRemessa && minuta.documentoAvulsoRemessa.dataHoraResposta && !minuta.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center"
                                            (click)="doVerResposta(minuta.documentoAvulsoRemessa.documentoResposta)"
                                            mat-menu-item>
                                            <mat-icon color="accent">picture_as_pdf</mat-icon>
                                            <span>Ver Resposta</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!minuta.apagadoEm && _loginService.isGranted('ROLE_COLABORADOR')"
                                                [matMenuTriggerFor]="tipoDocumentoMenu" #menuTrigger="matMenuTrigger"
                                                mat-menu-item>
                                            <mat-icon color="accent">edit</mat-icon>
                                            <span>Alterar Tipo de Documento</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                mat-menu-item aria-label="upload anexo"
                                                (click)="uploadAnexo(minuta)">
                                            <ng-container>
                                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                                <span>Anexos</span>
                                            </ng-container>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                mat-menu-item aria-label="aprovar"
                                                (click)="aprovar(minuta)">
                                            <ng-container>
                                                <mat-icon color="accent">check_circle_outline</mat-icon>
                                                <span>Aprovar</span>
                                            </ng-container>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="criado-em">{{minuta.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                            <div class="numero"
                                 *ngIf="minuta.numeroUnicoDocumentoFormatado">
                                {{minuta.numeroUnicoDocumentoFormatado}}
                            </div>
                            <div
                                *ngIf="minuta.origemDados !== undefined && minuta.origemDados.status === 0">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                            </div>
                            <div
                                *ngIf="minuta.origemDados !== undefined && (minuta.origemDados.status > 1) && (minuta.origemDados.status !== 11)">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon>error_outline</mat-icon>
                                    ERRO!
                                </div>
                            </div>
                            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of minuta.vinculacoesEtiquetas"
                                     fxLayout="row" fxLayoutAlign="start center"
                                     [matTooltip]="vinculacaoEtiqueta.label">
                                    <div class="etiqueta-color"
                                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-menu #tipoDocumentoMenu="matMenu" class="menuTipoDocumento" id="testeMenu">
                        <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
                              fxFlex="1 0 auto" name="form" [formGroup]="form" (click)="$event.stopPropagation()">
                            <mat-form-field fxFlex="100">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <input mat-menu-item matInput placeholder="Tipo de Documento"
                                           formControlName="tipoDocumentoMinutas"
                                           [matAutocomplete]="tipoDocumentoMinuta.autocomplete"
                                           (blur)="checkTipoDocumento()">
                                </div>
                                <cdk-tipo-documento-autocomplete
                                    #tipoDocumentoMinuta="tipoDocumentoAutocomplete"
                                    [control]="form.get('tipoDocumentoMinutas')"
                                    [pagination]="tipoDocumentoPagination">
                                </cdk-tipo-documento-autocomplete>
                                <mat-error *ngIf="form.get('tipoDocumentoMinutas').hasError('formError')">
                                    {{form.get('tipoDocumentoMinuta').errors.formError}}
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="accent" (click)="salvarTipoDocumento(minuta)">
                                SALVAR
                            </button>
                        </form>
                    </mat-menu>
                </div>

                <div class="oficio" matRipple
                     *ngFor="let oficio of (oficios); let i = index; let last = last; let first = first"
                     (click)="onClickedMinuta(oficio)">
                    <div class="index">
                    <span>
                        <mat-icon>{{oficio.apagadoEm ? 'delete' : 'edit'}}</mat-icon>
                    </span>
                    </div>
                    <div fxFlex fxLayout="column">
                        <div fxFlex fxLayout="column">
                            <div fxFlex fxLayout="row">
                                <div class="descricao">{{oficio.tipoDocumento.nome}}</div>
                                <mat-icon *ngIf="oficio.temAnexos" [matTooltip]="'Possui Anexos'"
                                          class="mt-10 ml-4 mr-4"
                                          (click)="uploadAnexo(oficio); $event.stopPropagation();">attach_file
                                </mat-icon>
                                <mat-icon *ngIf="oficio.assinado" class="mt-10 ml-4 mr-4">lock</mat-icon>
                                <div class="actions">
                                    <button mat-icon-button [matMenuTriggerFor]="oficiosMenu"
                                            aria-label="Ferramentas" (click)="$event.stopPropagation()"
                                            *ngIf="!((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((assinandoTarefaDocumentosId$ | async) !== undefined && (assinandoTarefaDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((assinandoTarefaEletronicamenteDocumentosId$ | async) !== undefined && (assinandoTarefaEletronicamenteDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((downloadP7SDocumentoIds$ | async) !== undefined && (downloadP7SDocumentoIds$ | async)?.indexOf(oficio.id) > -1) &&
                            !((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            !((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async)?.indexOf(oficio.id) > -1)">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>

                                    <div *ngIf="((deletingDocumentosId$ | async) !== undefined && (deletingDocumentosId$ | async)?.indexOf(oficio.id) > -1) ||
                            ((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async)?.indexOf(oficio.id) > -1) ||
                            ((assinandoTarefaDocumentosId$ | async) !== undefined && (assinandoTarefaDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            ((assinandoTarefaEletronicamenteDocumentosId$ | async) !== undefined && (assinandoTarefaEletronicamenteDocumentosId$ | async)?.indexOf(oficio.id) > -1) &&
                            ((convertendoDocumentosId$ | async) !== undefined && (convertendoDocumentosId$ | async)?.indexOf(oficio.id) > -1) ||
                            ((downloadP7SDocumentoIds$ | async) !== undefined && (downloadP7SDocumentoIds$ | async)?.indexOf(oficio.id) > -1) ||
                            ((removendoAssinaturaDocumentosId$ | async) !== undefined && (removendoAssinaturaDocumentosId$ | async)?.indexOf(oficio.id) > -1) ||
                            ((alterandoDocumentosId$ | async) !== undefined && (alterandoDocumentosId$ | async)?.indexOf(oficio.id) > -1)"
                                         class="spinner-container m-8">
                                        <mat-spinner diameter="24"></mat-spinner>
                                    </div>

                                    <mat-menu #oficiosMenu="matMenu">
                                        <button
                                            *ngIf="(!oficio.documentoAvulsoRemessa || !oficio.documentoAvulsoRemessa.dataHoraRemessa) && !oficio.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center" (click)="doDelete(oficio)"
                                            mat-menu-item>
                                            <mat-icon color="accent">delete</mat-icon>
                                            <span>Apagar Ofício</span>
                                        </button>
                                        <button
                                            *ngIf="oficio.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center" (click)="doRestaurar(oficio)"
                                            mat-menu-item>
                                            <mat-icon color="accent">undo</mat-icon>
                                            <span>Restaurar</span>
                                        </button>

                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!oficio.apagadoEm"
                                                (click)="doAssinatura(oficio)"
                                                mat-menu-item>
                                            <mat-icon color="accent">lock</mat-icon>
                                            <span>Assinar</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                (click)="doRemoveAssinatura(oficio.id)"
                                                mat-menu-item
                                                *ngIf="oficio.assinado && !oficio.apagadoEm">
                                            <mat-icon color="accent">lock_open</mat-icon>
                                            <span>Remover Assinatura</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                (click)="doConverte(oficio.id)"
                                                *ngIf="oficio?.componentesDigitais[0]?.extensao === 'pdf' || oficio?.componentesDigitais[0]?.extensao === 'PDF'"
                                                mat-menu-item>
                                            <mat-icon color="accent">picture_as_pdf</mat-icon>
                                            <span>Converter em PDF</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                (click)="doConverteHtml(oficio.id)"
                                                *ngIf="oficio?.componentesDigitais[0]?.convertidoPdf" mat-menu-item>
                                            <mat-icon color="accent">restore_page</mat-icon>
                                            <span>Converter em HTML</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="oficio.assinado"
                                                (click)="doDownloadP7S(oficio)"
                                                mat-menu-item>
                                            <mat-icon color="accent">get_app</mat-icon>
                                            <span>Converter em P7S</span>
                                        </button>
                                        <button
                                            *ngIf="oficio.documentoAvulsoRemessa && oficio.documentoAvulsoRemessa.dataHoraResposta && !oficio.apagadoEm"
                                            fxLayout="row" fxLayoutAlign="start center"
                                            (click)="doVerResposta(oficio.documentoAvulsoRemessa.documentoResposta)"
                                            mat-menu-item>
                                            <mat-icon color="accent">picture_as_pdf</mat-icon>
                                            <span>Ver Resposta</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                *ngIf="!oficio.apagadoEm && _loginService.isGranted('ROLE_COLABORADOR')"
                                                [matMenuTriggerFor]="tipoDocumentoMenu2"
                                                #menuTriggerOficios="matMenuTrigger"
                                                mat-menu-item>
                                            <mat-icon color="accent">edit</mat-icon>
                                            <span>Alterar Tipo de Documento</span>
                                        </button>
                                        <button fxLayout="row" fxLayoutAlign="start center"
                                                mat-menu-item aria-label="upload anexo"
                                                (click)="uploadAnexo(oficio)">
                                            <ng-container>
                                                <mat-icon color="accent">picture_as_pdf</mat-icon>
                                                <span>Upload de Anexo</span>
                                            </ng-container>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="criado-em">{{oficio.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                            <div
                                *ngIf="oficio.origemDados !== undefined && oficio.origemDados.status === 0">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                            </div>
                            <div
                                *ngIf="oficio.origemDados !== undefined && (oficio.origemDados.status > 1) && (oficio.origemDados.status !== 11)">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon>error_outline</mat-icon>
                                    ERRO!
                                </div>
                            </div>
                            <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                                <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of oficio.vinculacoesEtiquetas"
                                     fxLayout="row" fxLayoutAlign="start center"
                                     [matTooltip]="vinculacaoEtiqueta.label">
                                    <div class="etiqueta-color"
                                         [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                                    <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-menu #tipoDocumentoMenu2="matMenu" class="menuTipoDocumento" id="testeMenu2">
                        <form class="p-8 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
                              fxFlex="1 0 auto" name="form" [formGroup]="form" (click)="$event.stopPropagation()">
                            <mat-form-field fxFlex="100">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <input mat-menu-item matInput placeholder="Tipo de Documento"
                                           formControlName="tipoDocumentoMinutas"
                                           [matAutocomplete]="tipoDocumentoOficio.autocomplete"
                                           (blur)="checkTipoDocumento()">
                                </div>
                                <cdk-tipo-documento-autocomplete
                                    #tipoDocumentoOficio="tipoDocumentoAutocomplete"
                                    [control]="form.get('tipoDocumentoMinutas')"
                                    [pagination]="tipoDocumentoPagination">
                                </cdk-tipo-documento-autocomplete>
                                <mat-error *ngIf="form.get('tipoDocumentoMinutas').hasError('formError')">
                                    {{form.get('tipoDocumentoMinutas').errors.formError}}
                                </mat-error>
                            </mat-form-field>
                            <button type="button" mat-raised-button color="accent"
                                    (click)="salvarTipoDocumento(oficio)">
                                SALVAR
                            </button>
                        </form>
                    </mat-menu>
                </div>
            </div>
            <div class="minutas" *ngIf="(minutasLoading$ | async) || (loadingDocumentosExcluidos$ | async)">
                <div class="loading">
                    <mat-spinner class="minuta-list-loading" diameter="24"></mat-spinner>
                </div>
            </div>
        </mat-expansion-panel>
    </div>

    <div class="documentos-juntados-title" fxFlex="0 0 auto"
         fxLayoutAlign="start center">
        <div class="ml-24">Documentos Juntados</div>
    </div>

    <div class="loading" *ngIf="(isLoading$ | async)">
        <mat-spinner class="juntada-list-loading" diameter="24"></mat-spinner>
    </div>

    <div class="juntadas" cdkPerfectScrollbar infiniteScroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="5"
         [infiniteScrollThrottle]="150"
         (scrolled)="onScroll()">

        <div class="nova-juntada accent" matRipple (click)="reloadJuntadas()" *ngIf="novaJuntada">
            <span class="mat-body">Nova juntada recebida... recarregue a lista!</span>
        </div>

        <div class="juntada capa" matRipple *ngIf="(isLoading$ | async) === false && capaProcesso"
             (click)="goToCapaProcesso()"
             [ngClass]="{'current': capa}">
            <div class="index">
                <span>
                    <mat-icon>insert_drive_file</mat-icon>
                </span>
            </div>
            <div [ngClass]="{'current-tipo-documento': capa}" fxFlex fxLayout="column">
                <div class="descricao">CAPA</div>
                <div class="criado-em">{{processo?.dataHoraAbertura?.toDate() | date: 'dd/MM/yyyy'}}</div>
                <div class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-14">picture_as_pdf</mat-icon>
                    <span class="ml-4"
                          [ngClass]="{'current-tipo-documento': true}">{{processo?.especieProcesso?.nome}}</span>
                </div>
            </div>
        </div>

        <div class="volume" id="juntada_{{juntada.id}}" #element
             *ngFor="let juntada of (juntadas); let i = index; let last = last; let first = first;"
             [dndDisableDropIf]="!juntada.ativo" dndDragoverClass="custom-drag-over"
             dndDropzone dndDropzoneDisabledClass="custom-drag-over-disabled"
             (dndDragover)="dragOver($event, element, dropzoneEnabledJuntada($event, juntada))"
             (dndDrop)="onDrop([$event, juntada], dropEnabledJuntada($event, juntada))">
            {{contador.reset()}}
            <div class="juntada drag-juntada" matRipple
                 (click)="gotoStep(i, juntada.documento.acessoNegado)"
                 [ngClass]="{'current': !capa && (currentStep.step === i), 'completed': !capa && currentStep.step > i, 'last': last, 'first': first}"
                 [dndDraggable]="juntada.id" [dndEffectAllowed]="'copy'"
                 [dndDragImageOffsetFunction]="this.offsetFunction"
                 [dndDisableDragIf]="!juntada.ativo || juntada.documento?.vinculacoesDocumentos?.length > 0 || !!juntada.documento.vinculacaoDocumentoPrincipal?.id"
                 (dndEnd)="onCancelDrag($event)"
                 (dndCopied)="onCopied($event, juntada)"
                 (dndStart)="onStartDrag($event, juntada)">
                <div class="index">
                    <span dndDragImageRef>{{juntada.numeracaoSequencial}}</span>
                </div>
                <div fxFlex fxLayout="column">
                    <div *ngIf="!juntada.ativo">
                        <div class="desentranhado">DESENTRANHADO</div>
                    </div>
                    <div *ngIf="!!juntada.documento.acessoRestrito">
                        <mat-icon matTooltip="Acesso restrito!" class="red-fg">block
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayout="column" *ngIf="juntada.ativo">
                        <div fxFlex fxLayout="row">
                            <div class="descricao">
                                {{juntada.descricao.split('/').join(' ')}}
                                <mat-icon class="mb-4" (click)="doTogglePanel(juntada.id); $event.stopPropagation();"
                                          *ngIf="!isOpen[juntada.id]">keyboard_arrow_down
                                </mat-icon>
                                <mat-icon class="mb-4" (click)="doTogglePanel(juntada.id); $event.stopPropagation();"
                                          *ngIf="isOpen[juntada.id]">keyboard_arrow_up
                                </mat-icon>
                            </div>
                            <div class="actions">
                                <mat-icon *ngIf="juntada.ativo && juntada.documento.assinado" class="mt-4 ml-4 mr-4">lock
                                </mat-icon>
                                <mat-icon class="mt-4 ml-4 mr-4 place-holder">move_to_inbox</mat-icon>
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                                        *ngIf="juntada.ativo && routerState?.url?.indexOf('anexar-copia') === -1 &&
                            !((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(juntada.documento.id) > -1)"
                                        aria-label="Ferramentas" (click)="$event.stopPropagation()">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <div
                                    *ngIf="((assinandoDocumentosId$ | async) !== undefined && (assinandoDocumentosId$ | async).indexOf(juntada.documento.id) > -1)"
                                    class="spinner-container m-8">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>

                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="enviar por email"
                                            (click)="enviarDocumentoEmail(juntada.id)">
                                        <ng-container>
                                            <mat-icon>send</mat-icon>
                                            <span>Enviar por email</span>
                                        </ng-container>
                                    </button>

                                    <button mat-menu-item aria-label="editar"
                                            *ngIf="!juntada.documento.acessoNegado && !_loginService.isGranted('ROLE_USUARIO_EXTERNO')"
                                            (click)="onClickedMinuta(juntada.documento)">
                                        <ng-container>
                                            <mat-icon>edit</mat-icon>
                                            <span>Editar</span>
                                        </ng-container>
                                    </button>

                                    <button mat-menu-item aria-label="assinar juntada"
                                            (click)="doAssinaturaJuntada(juntada.documento)">
                                        <ng-container>
                                            <mat-icon>lock</mat-icon>
                                            <span>Assinar</span>
                                        </ng-container>
                                    </button>

                                    <button mat-menu-item aria-label="abrir em outra aba"
                                            *ngIf="!juntada.documento.acessoNegado"
                                            (click)="doJuntadaOutraAba(juntada.documento)">
                                        <ng-container>
                                            <mat-icon>open_in_new</mat-icon>
                                            <span>Abrir em outra aba</span>
                                        </ng-container>
                                    </button>

                                    <button fxLayout="row" fxLayoutAlign="start center"
                                            *ngIf="juntada.documento.assinado && !juntada.documento.acessoNegado"
                                            (click)="doDownloadP7S(juntada.documento)"
                                            mat-menu-item>
                                        <mat-icon color="accent">get_app</mat-icon>
                                        <span>Exportar como P7S</span>
                                    </button>

                                    <button mat-menu-item aria-label="adicionar vinculação"
                                            *showIfNotRole="'ROLE_USUARIO_EXTERNO'"
                                            (click)="doAdicionarVinculacao(juntada.id)">
                                        <ng-container>
                                            <mat-icon>link</mat-icon>
                                            <span>Adicionar vinculação</span>
                                        </ng-container>
                                    </button>

                                    <button mat-menu-item aria-label="remover vinculações"
                                            (click)="doRemoverVinculacoes(juntada)"
                                            *ngIf="juntada.documento?.vinculacoesDocumentos?.length > 0 && _loginService.isGranted('ROLE_COLABORADOR') && !juntada.documento.acessoNegado">
                                        <ng-container>
                                            <mat-icon>lock</mat-icon>
                                            <span>Desvincular</span>
                                        </ng-container>
                                    </button>

                                    <button mat-menu-item aria-label="desentranhar"
                                            (click)="doDesentranharSimples(juntada.id)"
                                            *ngIf="juntada.ativo && _loginService.isGranted('ROLE_COLABORADOR') && !juntada.documento.acessoNegado">
                                        <ng-container>
                                            <mat-icon>low_priority</mat-icon>
                                            <span>Desentranhar</span>
                                        </ng-container>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="criado-em" *ngIf="juntada.documento?.id && isOpen[juntada.id]">ID {{juntada.documento?.id}}</div>
                        <div class="criado-em" *ngIf="juntada.criadoPor?.nome && isOpen[juntada.id]" >{{juntada.criadoPor?.nome.split('/').join(' ')}}</div>
                        <div class="criado-em" *ngIf="juntada.documento?.criadoPor && !juntada.criadoPor?.nome && isOpen[juntada.id]">
                            {{juntada.documento.criadoPor?.nome.split('/').join(' ')}}</div>
                        <div class="criado-em">{{juntada.criadoEm?.toDate() | date: 'dd/MM/yyyy'}}</div>
                        <div class="criado-em" *ngIf="juntada.documento?.setorOrigem?.unidade?.sigla && juntada.documento?.setorOrigem?.sigla">
                            {{juntada.documento?.setorOrigem?.unidade?.sigla}}({{juntada.documento?.setorOrigem?.sigla}})
                        </div>
                        <div
                            *ngIf="juntada.documento.origemDados !== undefined && juntada.documento.origemDados.status === 0">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-spinner diameter="24"></mat-spinner>
                            </div>
                        </div>
                        <div
                            *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status > 1) && (juntada.documento.origemDados.status !== 11)">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>error_outline</mat-icon>
                                ERRO!
                            </div>
                        </div>
                        <div
                            *ngIf="juntada.documento.origemDados !== undefined && (juntada.documento.origemDados.status === 11)">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>lock</mat-icon>
                                PENDENTE DE CIÊNCIA
                            </div>
                        </div>
                        <div *ngFor="let componenteDigital of (juntada.documento.componentesDigitais); index as j;"
                             class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-14">picture_as_pdf</mat-icon>
                            <a class="ml-4"
                               (click)="$event.stopPropagation(); gotoStep(i, juntada.documento.acessoNegado, componenteDigital.id)"
                               [ngClass]="{'current-tipo-documento': !capa && !!index && index[currentStep.step] && index[currentStep.step][currentStep.subStep] === componenteDigital.id}">
                                {{juntada.documento.tipoDocumento.nome}}{{ contador.inc() }}
                            </a>
                            <mat-icon class="ml-4 s-24"
                                      *ngIf="!capa && !!index && index[currentStep.step] && index[currentStep.step][currentStep.subStep] === componenteDigital.id">
                                arrow_left
                            </mat-icon>
                        </div>
                        <div
                            *ngFor="let vinculacaoDocumento of (juntada.documento.vinculacoesDocumentos); index as k;"
                            class="tipo-documento" fxLayout="column" fxLayoutAlign="start">
                            <div
                                *ngFor="let componenteDigital of (vinculacaoDocumento.documentoVinculado.componentesDigitais); index as z;"
                                class="tipo-documento" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="ml-16 s-14">attach_file</mat-icon>
                                <mat-icon class="ml-4 s-14">picture_as_pdf</mat-icon>
                                <a class="ml-4"
                                   (click)="$event.stopPropagation(); gotoStep(i, juntada.documento.acessoNegado, componenteDigital.id)"
                                   [ngClass]="{'current-tipo-documento': !capa && !!index && index[currentStep.step] && index[currentStep.step][currentStep.subStep] === componenteDigital.id}">
                                    {{vinculacaoDocumento.documentoVinculado.tipoDocumento.nome}}{{ contador.inc() }}
                                </a>
                                <mat-icon class="ml-4 s-24"
                                          *ngIf="!capa && !!index && index[currentStep.step] && index[currentStep.step][currentStep.subStep] === componenteDigital.id">
                                    arrow_left
                                </mat-icon>
                            </div>
                        </div>
                        <div class="numero"
                             *ngIf="juntada.documento.numeroUnicoDocumentoFormatado">
                            {{juntada.documento.numeroUnicoDocumentoFormatado}}
                        </div>
                        <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
                            <div class="etiqueta"
                                 *ngFor="let vinculacaoEtiqueta of juntada.documento.vinculacoesEtiquetas"
                                 fxLayout="row" fxLayoutAlign="start center" [matTooltip]="vinculacaoEtiqueta.label">
                                <div class="etiqueta-color"
                                     [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                                <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separador-volume"
                 *ngIf="juntadasByVolume.get(juntada?.volume?.numeracaoSequencial)[juntadasByVolume.get(juntada?.volume?.numeracaoSequencial).length - 1].id === juntada.id">
                <div class="documentos-juntados-title" fxFlex="0 0 auto"
                     fxLayoutAlign="start center" aria-label="Volume">
                    <div class="ml-24">Volume {{juntada.volume.numeracaoSequencial}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
