<form fxLayoutGap="16px" name="form" [formGroup]="form">

    <label id="acoes-rg">Selecione a ação</label>
    <mat-radio-group class="poderes-rg"
                     *ngIf="this.form.get('etiqueta').value.modalidadeEtiqueta?.valor === 'TAREFA'"
                     formControlName="trigger" aria-labelledby="acoes-rg" required>
        <mat-radio-button
            [value]="'SuppCore\\AdministrativoBackend\\Api\\V1\\Triggers\\VinculacaoEtiqueta\\Trigger0001'">
            Gera automaticamente uma minuta na tarefa etiquetada de acordo com o modelo pré-selecionado
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field fxFlex="100"
                    *ngIf="this.form.get('trigger').value === 'SuppCore\\AdministrativoBackend\\Api\\V1\\Triggers\\VinculacaoEtiqueta\\Trigger0001'">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Modelo"
                   formControlName="modelo"
                   [matAutocomplete]="modelo.autocomplete" required
                   (blur)="checkModelo()">
        </div>
        <cdk-modelo-autocomplete
            #modelo="modeloAutocomplete"
            [control]="form.get('modelo')"
            [pagination]="modeloPagination">
        </cdk-modelo-autocomplete>
        <button *ngIf="form.get('modelo').enabled" matSuffix mat-button mat-icon-button
                (click)="showModeloGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modelo').hasError('formError')">
            {{form.get('modelo').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-radio-group class="poderes-rg"
                     *ngIf="this.form.get('etiqueta').value.modalidadeEtiqueta?.valor === 'PROCESSO'"
                     formControlName="trigger" aria-labelledby="acoes-rg" required>
        <mat-radio-button
            [value]="'SuppCore\\AdministrativoBackend\\Api\\V1\\Triggers\\VinculacaoEtiqueta\\Trigger0002'">
            Gera uma notificação sempre que o processo tiver uma juntada
        </mat-radio-button>
    </mat-radio-group>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions" *ngIf="!saving">
        <button mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="form.invalid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" class="mr-sm-12" (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div>{{form.errors}}</div>

    <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-16 mb-16" fxFlex
         fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
</form>

<cdk-modelo-gridsearch
    fxFlex="1 0 auto"
    *ngIf="activeCard === 'modelo-gridsearch'"
    [pagination]="modeloPagination"
    (selected)="selectModelo($event)"
    (cancel)="cancel()">
</cdk-modelo-gridsearch>
