visualizar-processo {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .actions {
        .visualizar-processo {
            margin-left: auto;
            margin-right: 32px;
        }
    }
}
