visualizar-processo {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    > .actions {
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
        place-content: flex-start center;

        > .visualizar-processo {
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
        }
    }
}
