<div class="header">
    <path icone="person"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="afastamentos">
    </path>
</div>
<cdk-afastamento-grid
        [loading]="(loading$ | async)"
        [afastamentos]="(afastamentos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [displayedColumns]="['select', 'id', 'dataInicio', 'dataInicioBloqueio', 'dataFim', 'dataFimBloqueio', 'modalidadeAfastamento.valor', 'actions']"
        [actions]="['create', 'edit', 'delete']"
        [colaboradorPagination]="this.colaboradorPagination"
        (reload)="reload($event)"
        (create)="create()"
        (edit)="edit($event)"
        (delete)="delete($event)">
</cdk-afastamento-grid>
