// Import Cdk core library
@import "@cdk/scss/core";

// Import app.theme.scss
@import "app/app.theme";

content {
    &.full-screen {
        z-index: 1001 !important;

        .ps > .ps__rail-y {
            z-index: 0;
        }
    }
}

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}

mat-option.mat-option-text {
    > span {
        white-space: normal;
    }
}

mat-option.mat-option {
    height: unset;
    line-height: 24px;
}

.mat-option-text.mat-option-text {
    white-space: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

.mat-tooltip-trigger {
    touch-action: auto !important;
}

.mat-expansion-panel-body {
    display: flex !important;
    flex: 1 1 auto !important;
    flex-direction: column !important;
    padding: 0 3px !important;
}

.danger-snackbar {
    background: #ff4444 !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
        font-weight: bold !important;
    }
}

.notificacao-snackbar {
    background: whitesmoke !important;
    color: black !important;

    .mat-simple-snackbar-action {
        color: white !important;
        font-weight: bold !important;
    }
}

.mat-datetimepicker-calendar-body-selected {
    background-color: #039BE5;
}

.mat-datetimepicker-calendar {
    width: 350px !important;
    height: 355px !important;
}

.mat-datetimepicker-calendar-header {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
}

.mat-datetimepicker-calendar-content {
    width: 100% !important;
}

.mat-menu-panel {
    max-width: 400px !important;
}

mat-cell, .mat-cell,
mat-footer-cell, .mat-footer-cell,
mat-header-cell, .mat-header-cell {
    padding: 0.75rem !important;
}

div.menuNotificacao {
    max-width: 880px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    top: 64px !important;
}

div.menuTipoDocumento {
    width: 400px;
}

.mat-list-base .mat-list-item {
    height: auto !important;
}
