// Import Cdk core library
@import "@cdk/scss/core";

// Import app.theme.scss
@import "app/app.theme";

content {
  &.full-screen {
    z-index: 1001 !important;
  }
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.danger-snackbar {
  background: #ff4444 !important;
}

.mat-datetimepicker-calendar-body-selected {
  background-color: #039BE5;
}

.mat-datetimepicker-calendar {
  width: 350px !important;
  height: 355px !important;
}

.mat-datetimepicker-calendar-header{
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}

.mat-datetimepicker-calendar-content {
  width: 100% !important;
}

.mat-menu-panel {
    max-width: 300px !important;
}

mat-cell, .mat-cell,
mat-footer-cell, .mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: 0.75rem !important;
}

div.menuNotificacao {
    max-width:880px !important;
    padding-bottom: 0px !important;
    padding-top:  0px !important;
    top: 64px !important;
}

div.menuTipoDocumento {
    width: 300px;
}

.mat-list-base .mat-list-item {
    height: auto !important;
}