<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para <strong>compartilhamento em bloco de tarefas</strong>, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias opera&ccedil;&otilde;es. <br><br>
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Ao clicar em <strong>Compartilhar</strong>, a página de <strong>Compartilhamento em bloco de tarefas</strong> é aberta.<br><br>
    </p>
    <p style="text-align: justify;">
        4. Logo na parte superior, aparecem quantas <strong>tarefas</strong> foram selecionadas.
    </p>
    <p style="text-align: justify;">
        5. Aparece também um campo onde é possível escolher o <strong>Nome do Usuário</strong> com quem se deseja compartilhar as tarefas.
    </p>
    <p style="text-align: justify;">
        6. Após <strong>SALVAR</strong>, o <strong>Resultado do Bloco</strong> aparece na parte inferior da tela, mostrando o <strong>Compartilhamento criado com sucesso</strong>.
    </p>
    <hr>
    <p><br></p>
</div>