<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar name="cdk-documento-avulso-filter" position="left">
        <cdk-documento-avulso-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-documento-avulso-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid" [ngClass]="{'search': (this.mode === 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteDocumentoAvulsos(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('responder') > -1"
                    (click)="responderDocumentosAvulsos(selectedIds)"
                    aria-label="responder ofícios"
                    matTooltip="Responder ofícios">
                <mat-icon>reply</mat-icon>
            </button>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [ngStyle]="loading ? {'display': 'none'} : {}">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso">
                        <mat-checkbox [checked]="selectedIds.indexOf(documentoAvulso.id) > -1"
                                      (change)="toggleInSelected(documentoAvulso.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(documentoAvulso.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.id}} </td>
                </ng-container>

                <!-- EspecieDocumentoAvulso Column -->
                <ng-container matColumnDef="especieDocumentoAvulso.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Espécie de Documento Avulso
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Espécie de Documento Avulso: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.especieDocumentoAvulso?.nome}} </td>
                </ng-container>

                <!-- SetorOrigem Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setorOrigem.nome') > -1" matColumnDef="setorOrigem.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor de Origem
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Setor de Origem: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.setorOrigem?.nome}} </td>
                </ng-container>

                <!-- Observacao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('observacao') > -1" matColumnDef="observacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Observação
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Observação: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.observacao}} </td>
                </ng-container>

                <!-- Urgente Column -->
                <ng-container *ngIf="displayedColumns.indexOf('urgente') > -1" matColumnDef="urgente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Urgente
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Urgente: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}">
                        <mat-checkbox [disabled]="true" [checked]="documentoAvulso.urgente"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- Modelo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('modelo.nome') > -1" matColumnDef="modelo.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Modelo
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Modelo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.modelo?.nome}} </td>
                </ng-container>

                <!-- DataHoraEncerramento Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraEncerramento') > -1"
                              matColumnDef="dataHoraEncerramento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Encerramento
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data Encerramento: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraEncerramento?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraInicioPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraInicioPrazo') > -1"
                              matColumnDef="dataHoraInicioPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data do Início Prazo
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data do Início Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraInicioPrazo?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraFinalPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraFinalPrazo') > -1"
                              matColumnDef="dataHoraFinalPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data do Final do Prazo
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data do Final do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraFinalPrazo?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraConclusaoPrazo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraConclusaoPrazo') > -1"
                              matColumnDef="dataHoraConclusaoPrazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data da Conclusão do Prazo
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data da Conclusão do Prazo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraConclusaoPrazo?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- PessoaDestino Column -->
                <ng-container *ngIf="displayedColumns.indexOf('pessoaDestino.nome') > -1"
                              matColumnDef="pessoaDestino.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Pessoa de Destino
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Pessoa de Destino: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.pessoaDestino?.nome}} </td>
                </ng-container>

                <!-- SetorDestino.nome Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setorDestino.nome') > -1"
                              matColumnDef="setorDestino.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor de Destino
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Setor de Destino: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.setorDestino?.nome}} </td>
                </ng-container>

                <!-- DataHoraRemessa Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraRemessa') > -1" matColumnDef="dataHoraRemessa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Remessa
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data Remessa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraRemessa?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraResposta Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraResposta') > -1" matColumnDef="dataHoraResposta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Resposta
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data Resposta: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraResposta?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DataHoraReiteracao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraReiteracao') > -1"
                              matColumnDef="dataHoraReiteracao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Reiteracao
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Data Reiteracao: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.dataHoraReiteracao?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- DocumentoResposta Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documentoResposta.tipoDocumento.nome') > -1"
                              matColumnDef="documentoResposta.tipoDocumento.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Documento de Resposta
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Documento de Resposta: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.documentoResposta?.tipoDocumento?.nome}} </td>
                </ng-container>

                <!-- DocumentoRemessa Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documentoRemessa.tipoDocumento.nome') > -1"
                              matColumnDef="documentoRemessa.tipoDocumento.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Documento de Remessa
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Documento de Remessa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.documentoRemessa?.tipoDocumento?.nome}} </td>
                </ng-container>

                <!-- UsuarioResponsavel Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuarioResponsavel.nome') > -1"
                              matColumnDef="usuarioResponsavel.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário Responsável
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Usuário Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.usuarioResponsavel?.nome}} </td>
                </ng-container>

                <!-- UsuarioResposta Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuarioResposta.nome') > -1"
                              matColumnDef="usuarioResposta.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário Resposta
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Usuário Resposta: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.usuarioResposta?.nome}} </td>
                </ng-container>

                <!-- UsuarioRemessa Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuarioRemessa.nome') > -1"
                              matColumnDef="usuarioRemessa.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário Remessa
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Usuário Remessa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.usuarioRemessa?.nome}} </td>
                </ng-container>

                <!-- SetorResponsavel Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setorResponsavel.nome') > -1"
                              matColumnDef="setorResponsavel.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor de Responsável
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Setor de Responsável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.setorResponsavel?.nome}} </td>
                </ng-container>

                <!-- Processo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('processo') > -1" matColumnDef="processo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        NUP
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='NUP: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.processo?.NUP}} </td>
                </ng-container>

                <!-- DocumentoAvulsoOrigem Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documentoAvulsoOrigem.especieDocumentoAvulso.nome') > -1"
                              matColumnDef="documentoAvulsoOrigem.especieDocumentoAvulso.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Documento Avulso de Origem
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Documento Avulso de Origem: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.documentoAvulsoOrigem?.especieDocumentoAvulso?.nome}} </td>
                </ng-container>

                <!-- Tarefa Column -->
                <ng-container *ngIf="displayedColumns.indexOf('tarefaOrigem.especieTarefa.nome') > -1"
                              matColumnDef="tarefaOrigem.especieTarefa.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tarefa
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Tarefa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.tarefaOrigem?.especieTarefa?.nome}} </td>
                </ng-container>

                <!-- PostIt Column -->
                <ng-container *ngIf="displayedColumns.indexOf('postIt') > -1" matColumnDef="postIt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Post It
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Post It: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.postIt}} </td>
                </ng-container>

                <!-- DistribuicaoAutomatica Column -->
                <ng-container *ngIf="displayedColumns.indexOf('distribuicaoAutomatica') > -1"
                              matColumnDef="distribuicaoAutomatica">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Distribuição Automática
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Distribuição Automática: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}">
                        <mat-checkbox [disabled]="true"
                                      [checked]="documentoAvulso.distribuicaoAutomatica"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- LivreBalanceamento Column -->
                <ng-container *ngIf="displayedColumns.indexOf('livreBalanceamento') > -1"
                              matColumnDef="livreBalanceamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Livre Balanceamento
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Livre Balanceamento: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}">
                        <mat-checkbox [disabled]="true" [checked]="documentoAvulso.livreBalanceamento"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- AuditoriaDistribuicao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('auditoriaDistribuicao') > -1"
                              matColumnDef="auditoriaDistribuicao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Auditoria de Distribuição
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Auditoria de Distribuição: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.auditoriaDistribuicao}} </td>
                </ng-container>

                <!-- TipoDistribuicao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('tipoDistribuicao') > -1" matColumnDef="tipoDistribuicao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tipo de Distribuição
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Tipo de Distribuição: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.tipoDistribuicao}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.criadoPor?.nome}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.criadoEm?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                              matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Atualizado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.atualizadoPor?.nome}} </td>
                </ng-container>

                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Atualizado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.atualizadoEm?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- ApagadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Por
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile'
                        data-label='Apagado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.apagadoPor?.nome}} </td>
                </ng-container>

                <!-- ApagadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Em
                    </th>
                    <td mat-cell *matCellDef="let documentoAvulso" class='has_label_on_mobile' data-label='Apagado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(documentoAvulso.id) > -1 || documentoAvulso.apagadoEm}"> {{documentoAvulso.apagadoEm?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let documentoAvulso">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectDocumentoAvulso(documentoAvulso)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1"
                                [disabled]="deletedIds?.indexOf(documentoAvulso.id) > -1 && !hasExcluded"
                                (click)="editDocumentoAvulso(documentoAvulso.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(documentoAvulso.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('responder') > -1 && deletingIds?.indexOf(documentoAvulso.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(documentoAvulso.id) > -1"
                                (click)="responderDocumentosAvulsos([documentoAvulso.id])"
                                aria-label="responder ofício"
                                matTooltip="Responder Ofício">
                            <mat-icon>reply</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(documentoAvulso.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(documentoAvulso.id) > -1"
                                (click)="deleteDocumentoAvulso(documentoAvulso.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <mat-error *ngIf="getProp(deletingErrors, documentoAvulso.id)">
                            {{ getProp(deletingErrors, documentoAvulso.id) }}
                        </mat-error>

                        <button mat-icon-button *ngIf="_cdkConfigService.barramento === '1' &&
                        documentoAvulso.mecanismoRemessa === 'barramento'"
                                [disabled]="deletedIds?.indexOf(documentoAvulso.id) > -1"
                                aria-label="status"
                                matTooltip="Status Barramento"
                                (click)="verificaStatusBarramento(documentoAvulso.id)">
                            <mat-icon>backup</mat-icon>
                        </button>

                        <ng-template #buttonModule></ng-template>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let documentoAvulso; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]"></mat-paginator>
        </div>

    </div>

</div>
