processo {

  .processo-content {
    height: 100%;
  }

  .sidebar {

    &:not(.locked-open) {
      background: white;
    }
  }

  .center {

    .actions {
      margin-left: auto;
      margin-right: 16px;
    }

    cdk-vinculacao-etiqueta-chips {
      width: 100%;
    }

  }
}

