<div class="processo-content page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="processo-main-sidebar" position="left"
                 [lockedOpen]="routerState.url.indexOf('apps/processo') > -1 ? 'gt-md' : 'gt-xl'">

        <processo-main-sidebar [@animate]="{value:'*'}"></processo-main-sidebar>
    </cdk-sidebar>

    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center"
                 *ngIf="!this._loginService.isGranted('ROLE_COLABORADOR') && (processo$ | async)?.id">
                <button class="sidebar-toggle" mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') > -1"
                        (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
                <button class="sidebar-toggle" mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') === -1"
                        (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-xl>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center"
                 *ngIf="this._loginService.isGranted('ROLE_COLABORADOR') && (processo$ | async)?.id">

                <button class="sidebar-toggle" mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') > -1"
                        (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
                <button class="sidebar-toggle" mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') === -1"
                        (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-xl>
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">label</mat-icon>
                    <cdk-vinculacao-etiqueta-chips
                        [placeholder]="'Coloque etiquetas para o processo'"
                        [vinculacoesEtiquetas]="(processo$ | async)?.vinculacoesEtiquetas"
                        (create)="onEtiquetaCreate($event)"
                        (edit)="onEtiquetaEdit($event)"
                        [savingVinculacaoEtiquetaId]="(savingVinculacaoEtiquetaId$ | async)"
                        [errors]="(errors$ | async)"
                        [pagination]="vinculacaoEtiquetaPagination"
                        (delete)="onEtiquetaDelete($event)"></cdk-vinculacao-etiqueta-chips>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="Mais Ferramentas"
                        (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button (click)="imprimir()"mat-menu-item aria-label="imprimir etiqueta"
                            >
                        <ng-container>
                            <mat-icon>video_label</mat-icon>
                            <span>Imprimir Etiqueta</span>
                        </ng-container>
                    </button>
                    <button mat-menu-item aria-label="Autuar"
                            *ngIf="this._loginService.isGranted('ROLE_COLABORADOR') && (processo$ | async)?.id && (processo$ | async)?.unidadeArquivistica !== 1"
                            (click)="doAutuar()">
                        <ng-container>
                            <mat-icon>check</mat-icon>
                            <span>Autuar</span>
                        </ng-container>
                    </button>
                    <ng-template #dynamicComponent> </ng-template>

                </mat-menu>



            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
