@import "../../../../@cdk/scss/cdk";

processo {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .page-layout {

        > .center {

            > .header {

                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                align-items: center;

                height: 72px !important;
                min-height: 72px !important;
                max-height: 72px !important;

                > .search-wrapper {

                    flex: 1 1 auto;
                    display: flex;
                    height: 56px;
                    flex-direction: row;
                    align-items: center;

                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    > .sidebar-toggle {
                        margin: 0 0 0 6px;
                        width: 56px;
                        height: 56px;
                        border-radius: 0;
                        border-right: 1px solid;
                    }

                    > .search {
                        flex: 1 1 auto;
                        display: flex;
                        height: 46px;
                        line-height: 46px;
                        flex-direction: row;
                        align-items: center;

                        padding: 0 8px;

                        > cdk-vinculacao-etiqueta-chips {
                            margin-left: 16px;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}

