<div id="processo" class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="processo-main-sidebar" position="left"
                  [lockedOpen]="routerState.url.indexOf('apps/processo') > -1 ? 'gt-md' : 'gt-xl'">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>
            <processo-main-sidebar [@animate]="{value:'*'}"></processo-main-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="sidebar-toggle">
                    <button mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') > -1"
                            (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="routerState.url.indexOf('apps/processo') === -1"
                            (click)="toggleSidebar('processo-main-sidebar')" fxHide.gt-xl>
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

            </div>

            <cdk-vinculacao-etiqueta-chips *ngIf="(processo$ | async)?.id" class="mr-24 ml-24"
                                           placeholderEtiq="Etiquetas do processo"
                                           [vinculacoesEtiquetas]="(processo$ | async)?.vinculacoesEtiquetas"
                                           (create)="onEtiquetaCreate($event)"
                                           (edit)="onEtiquetaEdit($event)"
                                           [savingVincEtiquetaId]="(savingVincEtiquetaId$ | async)"
                                           [errors]="(errors$ | async)"
                                           [pagination]="vinculacaoEtiquetaPagination"
                                           (delete)="onEtiquetaDelete($event)"></cdk-vinculacao-etiqueta-chips>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
             <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
