<div class="page-layout left-sidebar" fxFlex>

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="cdk-assinatura-filter" position="left">
        <cdk-assinatura-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-assinatura-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CONTENT -->
    <div class="content responsive-grid" fxFlex fxLayout="column">

        <div class="actions" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center">

            <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteAssinatura(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div fxFlex="1 1 auto" fxLayout="column" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let assinatura">
                        <mat-checkbox [checked]="selectedIds.indexOf(assinatura.id) > -1"
                                      (change)="toggleInSelected(assinatura.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(assinatura.id) > -1">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let assinatura" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(assinatura.id) > -1}"> {{assinatura.id}} </td>
                </ng-container>

                <!-- DataHoraAssinatura Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraAssinatura') > -1" matColumnDef="dataHoraAssinatura">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Hora Assinatura
                    </th>
                    <td mat-cell *matCellDef="let assinatura" class='has_label_on_mobile' data-label='Data Hora Assinatura: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(assinatura.id) > -1}"> {{assinatura.dataHoraAssinatura | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                </ng-container>

                <!-- OrigemDados Column -->
                <ng-container *ngIf="displayedColumns.indexOf('origemDados') > -1" matColumnDef="origemDados">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Origem dos Dados
                    </th>
                    <td mat-cell *matCellDef="let assinatura" class='has_label_on_mobile' data-label='Origem dos Dados: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(assinatura.id) > -1}"> {{assinatura.origemDados?.fonteDados}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let assinatura" class='has_label_on_mobile' data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(assinatura.id) > -1}"> {{assinatura.criadoPor?.nome}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let assinatura" class='has_label_on_mobile' data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(assinatura.id) > -1}"> {{assinatura.criadoEm | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let assinatura">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1"
                                (click)="selectAssinatura(assinatura)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1"
                                [disabled]="deletedIds?.indexOf(assinatura.id) > -1"
                                (click)="editAssinatura(assinatura.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(assinatura.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(assinatura.id) === -1"
                                [disabled]="deletedIds?.indexOf(assinatura.id) > -1"
                                (click)="deleteAssinatura(assinatura.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let assinatura; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="actions" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>

    </div>

</div>
