templates {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    > .templates-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow-y: auto;
            height: 0;
        }
    }
}
