<div class="header">
    <mat-icon class="mr-8 s-16">class</mat-icon>
    <span>tipos de documentos</span>
</div>
<cdk-tipo-documento-grid
    [loading]="(loading$ | async)"
    [tiposDocumentos]="(tipoDocumentos$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'sigla', 'descricao', 'especieDocumento.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-tipo-documento-grid>
