cdk-processo-form {

  form {
    width: 100%;
  }

  height: 100%;
  width: 100%;

  .form-card {
    border-radius: 8px;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  cdk-especie-processo-grid {
    height: 100%;
  }

  cdk-especie-processo-gridsearch {
    width: 100%;
  }

  cdk-modalidade-fase-gridsearch {
    width: 100%;
  }

  cdk-modalidade-meio-gridsearch {
    width: 100%;
  }

  cdk-classificacao-gridsearch {
    width: 100%;
  }

  cdk-setor-gridsearch {
    width: 100%;
  }
}
