<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. No menu lateral esquerdo, para <strong>criar minuta para um bloco de tarefas administrativas</strong>, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias opera&ccedil;&otilde;es. <br><br>
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Ao clicar em <strong>Minutas</strong> aparecem as opções de upload ou de editor.<br><br>
    </p>
    <p style="text-align: justify;">
        4. Ao escolher a opção de upload, o menu de <strong>Upload em bloco de minutas</strong> aparece, 
        com o botão de <strong>Upload</strong> <img src="assets/images/ajuda/upload.png" class="fr-fic fr-dii">
    </p>
    <p style="text-align: justify;">
        5. Ao escolher a opção de editor, o menu de <strong>Criação de minutas em bloco de tarefas</strong> é aberto, onde é possível 
        escolher um modelo para a minuta. Após escolher o modelo, componentes digitais vinculados a cada tarefa são criados. "O resultado é mostrada na parte inferior da tela" 
    </p>
    <hr>
    <p><br></p>
</div>