<form fxLayoutGap="16px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <label id="acoes-rg">Selecione a regra</label>
    <mat-radio-group class="poderes-rg" aria-labelledby="validacoes-rg" required>
        <mat-radio-button value="selecionandoTipoDocumento" (click)="escolheOpcaoRadioButton('selecionandoTipoDocumento')">Tipo de documento</mat-radio-button>
        <mat-radio-button value="selecionandoSetorOrigem" (click)="escolheOpcaoRadioButton('selecionandoSetorOrigem')">Setor de Origem</mat-radio-button>
        <mat-radio-button value="selecionandoCriadoPor" (click)="escolheOpcaoRadioButton('selecionandoCriadoPor')">Criado Por</mat-radio-button>
        <mat-radio-button value="selecionandoAtribuidoPara" (click)="escolheOpcaoRadioButton('selecionandoAtribuidoPara')">Atribuido Para</mat-radio-button>
        <mat-radio-button value="selecionandoUnidade" (click)="escolheOpcaoRadioButton('selecionandoUnidade')">Unidade</mat-radio-button>
    </mat-radio-group>
         <mat-form-field *ngIf="selecionadoTipoDocumento">
             
            <input matInput placeholder="Tipo Documento"
                formControlName="tipoDocumento"
                [matAutocomplete]="tipoDocumento.autocomplete"
                (blur)="checkTipoDocumento()" required>
            <cdk-tipo-documento-autocomplete
                #tipoDocumento="tipoDocumentoAutocomplete"
                [control]="form.get('tipoDocumento')"
                [pagination]="tipoDocumentoPagination">
            </cdk-tipo-documento-autocomplete>

            <button matSuffix mat-button mat-icon-button
                    (click)="showTipoDocumentoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                {{form.get('tipoDocumento').errors.formError}}
            </mat-error>
        </mat-form-field>
    <mat-form-field *ngIf="selecionadoSetorOrigem">
        <input matInput placeholder="Setor de Origem"
               formControlName="setorOrigem"
               [matAutocomplete]="setorOrigem.autocomplete"
               [readonly]="form.get('id').value"
               (blur)="checkSetorOrigem()">
        <cdk-setor-autocomplete
            #setorOrigem="setorAutocomplete"
            [control]="form.get('setorOrigem')"
            [pagination]="setorOrigemPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                [disabled]="form.get('id').value"
                (click)="showSetorOrigemGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setorOrigem').hasError('formError')">
            {{form.get('setorOrigem').errors.formError}}
        </mat-error>
    </mat-form-field>


    <mat-form-field *ngIf="selecionadoCriadoPor">
        <input matInput placeholder="Criado Por"
               formControlName="criadoPor"
               [matAutocomplete]="usuario.autocomplete">
        <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('criadoPor')">
        </cdk-usuario-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="selecionadoAtribuidoPara">
        <input matInput placeholder="Atribuido Para"
               formControlName="atribuidoPara"
               [matAutocomplete]="usuario.autocomplete">
        <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atribuidoPara')">
        </cdk-usuario-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="selecionadoUnidade">
        <input matInput placeholder="Unidade"
               formControlName="unidade"
               [matAutocomplete]="unidade.autocomplete" required
               (blur)="checkUnidadeRecebido()">
        <cdk-setor-autocomplete
            #unidade="setorAutocomplete"
            [control]="form.get('unidade')"
            [pagination]="unidadeRecebidoPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showUnidadeRecebidoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('unidade').hasError('formError')">
            {{form.get('unidade').errors.formError}}
        </mat-error>
    </mat-form-field>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

    <div>{{form.errors}}</div>
</form>

<cdk-tipo-documento-gridsearch
    *ngIf="activeCard === 'tipo-documento-gridsearch'"
    (selected)="selectTipoDocumento($event)"
    (cancel)="cancel()">
</cdk-tipo-documento-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-origem-gridsearch'"
    [pagination]="setorOrigemPagination"
    (selected)="selectSetorOrigem($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'unidade-recebido-gridsearch'"
    [pagination]="unidadeRecebidoPagination"
    (selected)="selectUnidadeOrigem($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>