cdk-setor-autocomplete {

}

.mat-option {
    &.multiline {
        height: auto !important;
        line-height: 30px !important;
        .strong {
            font-weight: bold;
        }
    };
}
