<cdk-modelo-grid
        [loading]="(loading$ | async)"
        [modelos]="(modelos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [displayedColumns]="['select', 'id', 'nome', 'template.nome','ativo','actions']"
        [actions]="['edit', 'editConteudo','anexo', 'delete']"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (anexo)="anexoModelo($event)"
        (delete)="delete($event)">
</cdk-modelo-grid>