documento-edit {
    height: 100%;
    width: 100%;

    cdk-vinculacao-etiqueta-chips {
        width: 92% !important;
    }

    .documento-edit-content {
        height: 100%;
        width: 100%;

    }
}
