documento-edit {
    cdk-vinculacao-etiqueta-chips {
        width: 92% !important;
    }

    .documento-edit-content {
        flex: 0.7 1 auto;
        flex-direction: column;
    }

    .sidebar {
        flex: 0.3 1 auto;
        flex-direction: column;
    }
}
