<div fxFlex fxLayout="row">
    <div fxLayout="column" fxFlex="25" *showIfRole="'ROLE_COLABORADOR'">

        <div class="actions p-16" fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="(tarefa$ | async)" mat-icon-button aria-label="movimentar"
                    matTooltip="Movimentar" (click)="showAtividade()"
                    [ngClass]="{'active accent': activeCard === 'atividade'}">
                <mat-icon class="black-fg">send</mat-icon>
            </button>

            <button *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal" mat-icon-button aria-label="Visualizar Processo"
                    matTooltip="Gerir Anexos" (click)="showAnexos()"
                    [ngClass]="{'active accent': activeCard === 'anexos'}">
                <mat-icon class="black-fg">attachment</mat-icon>
            </button>

            <button mat-icon-button aria-label="editar o documento"
                    matTooltip="Editar o Documento" (click)="showForm()"
                    [ngClass]="{'active accent': activeCard === 'form'}">
                <mat-icon class="black-fg">edit</mat-icon>
            </button>

            <button *ngIf="!juntadaRoute && routerState.url.indexOf('/editor')  > -1" mat-icon-button aria-label="inteligência jurídica"
                    matTooltip="Inteligência Jurídica" (click)="showInteligencia()"
                    [ngClass]="{'active accent': activeCard === 'inteligencia'}">
                <mat-icon class="black-fg">gavel</mat-icon>
            </button>

            <div fxLayoutAlign="start center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                        aria-label="Ferramentas" (click)="$event.stopPropagation()"
                        fxHide.xs>
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">

                    <button  mat-menu-item aria-label="acesso restrito"
                            matTooltip="Restrições de Acesso" (click)="showAcessoRestrito()"
                            [ngClass]="{'active accent': activeCard === 'acesso-restrito'}">
                            <ng-container>
                                <mat-icon class="black-fg">block</mat-icon>
                                <span>Acesso Restrito</span>
                            </ng-container>
                    </button>

                    <button mat-menu-item aria-label="sigilos"
                            matTooltip="Sigilos" (click)="showSigilo()"
                            [ngClass]="{'active accent': activeCard === 'sigilos'}">
                            <ng-container>
                                <mat-icon class="black-fg">remove_red_eye</mat-icon>
                                <span>Sigilos</span>
                            </ng-container>
                    </button>

                    <button mat-menu-item aria-label="assinaturas"
                            matTooltip="Assinaturas" (click)="showAssinaturas()"
                            [ngClass]="{'active accent': activeCard === 'assinaturas'}">
                        <ng-container>
                            <mat-icon class="black-fg">lock</mat-icon>
                            <span>Assinaturas</span>
                        </ng-container>
                    </button>

                    <ng-template #dynamicComponent></ng-template>
                </mat-menu>

            </div>

        </div>

        <div *ngIf="(documento$ | async)?.vinculacaoDocumentoPrincipal">
            <button class="back" mat-icon-button
                    (click)="onClickedDocumentoVinculado(documentoPrincipal)"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <div class="documentos-vinculados m-16" fxFlex fxLayout="column"
             *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal && activeCard === 'anexos'">

            <h3 style="font-weight: bold">Anexos</h3>

            <button mat-mini-fab
                    class="ml-8 mb-16 active accent add-file-button"
                    [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                    (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">attach_file</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="upload de anexo"
                        (click)="upload()">
                    <ng-container>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Upload</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="anexar uma cópia de um documento"
                        (click)="anexarCopia()">
                    <ng-container>
                        <mat-icon>file_copy</mat-icon>
                        <span>Por Cópia</span>
                    </ng-container>
                </button>

                <button *ngIf="!(isSaving$ | async)" mat-menu-item aria-label="aprova um documento"
                        (click)="aprovar()">
                    <ng-container>
                        <mat-icon>file_copy</mat-icon>
                        <span>Aprovar</span>
                    </ng-container>
                </button>

                <ng-template #dynamicComponent></ng-template>
            </mat-menu>

            <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                                     [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                                     [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                                     (delete)="doDeleteDocumentoVinculado($event)"
                                     (assinatura)="doAssinaturaDocumentoVinculado($event)"
                                     (clicked)="onClickedDocumentoVinculado($event)"
                                     (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
            </cdk-documento-card-list>

            <cdk-componente-digital-card-list #ckdUpload
                                              [documentoOrigem]="documento$ | async"
                                              (complete)="onCompleteDocumentoVinculado()">
            </cdk-componente-digital-card-list>


        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'atividade'">

            <cdk-atividade-form
                [atividade]="atividade"
                [documentoAvulsoVinculado]="(tarefa$ | async)?.processo?.documentoAvulsoOrigem"
                [temMinutas]="true"
                [mode]="'vertical'"
                [saving]="(atividadeIsSaving$ | async)"
                [errors]="(atividadeErrors$ | async)"
                (save)="submitAtividade($event)"
                (favorito)="getFavoritos($event)"
                [favoritosList]="(favoritos$ | async)">
            </cdk-atividade-form>

        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'form'">

            <h3 *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Documento Principal</h3>
            <h3 *ngIf="(documento$ | async)?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Anexo</h3>

            <cdk-documento-form fxFlex cdkPerfectScrollbar [documento]="(documento$ | async)"
                                [saving]="(isSaving$ | async)"
                                [errors]="(errors$ | async)"
                                (save)="submit($event)">
            </cdk-documento-form>

        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'inteligencia'">
            <cdk-repositorio-grid
                [layout]="'vertical'"
                [loading]="(loading$ | async)"
                [repositorios]="(repositorios$ | async)"
                [total]="(pagination$ | async)?.total"
                [mode]="'search'"
                [actions]="['download']"
                (download)="doDownload($event)"
                [downloadingId]="(repositorioIdLoadind$ | async)"
                [downloadedId]="(repositorioIdLoaded$ | async)"
                (reload)="reload($event)">
            </cdk-repositorio-grid>

        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'acesso-restrito'">

            <h3 style="font-weight: bold">Acesso Restrito</h3>

            <div class="actions m-16" fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button
                        class="mat-accent"
                        aria-label="novo"
                        (click)="showFormAcessoRestrito()"
                        *ngIf="!formAcessoRestrito"
                        matTooltip="Novo">
                    Novo
                </button>
                <button mat-icon-button
                        (click)="showFormAcessoRestrito()"
                        *ngIf="formAcessoRestrito"
                        aria-label="voltar"
                        matTooltip="Voltar">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>

            <cdk-visibilidade-form cdkPerfectScrollbar *ngIf="formAcessoRestrito"
                [visibilidade]="visibilidade"
                [saving]="(visibilidadeIsSaving$ | async)"
                [errors]="(errors$ | async)"
                [unidadePagination]="unidadePagination"
                [setorPagination]="setorPagination"
                [usuarioPagination]="usuarioPagination"
                (save)="submitVisibilidade($event)">
            </cdk-visibilidade-form>

            <cdk-visibilidade-list class="mr-8" *ngIf="!formAcessoRestrito"
                [loading]="(loadingAcessoRestrito$ | async)"
                [visibilidades]="(visibilidades$ | async)"
                [deletingIds]="(deletingVisibilidadeIds$ | async)"
                [deletedIds]="(deletedVisibilidadeIds$ | async)"
                [actions]="['delete']"
                (delete)="deleteVisibilidade($event)">
            </cdk-visibilidade-list>

        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'sigilos'">

            <h3 style="font-weight: bold">Sigilos</h3>

            <div class="actions m-16" fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button
                        class="mat-accent"
                        aria-label="novo"
                        (click)="showFormSigilos()"
                        *ngIf="!formSigilos"
                        matTooltip="Novo">
                    Novo
                </button>
                <button mat-icon-button
                        (click)="showFormSigilos()"
                        *ngIf="formSigilos"
                        aria-label="voltar"
                        matTooltip="Voltar">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>

            <cdk-sigilo-form class="mr-8" *ngIf="formSigilos"
               [sigilo]="sigilo"
               [loading]="(sigiloLoading$ | async)"
               [saving]="(sigiloIsSaving$ | async)"
               [errors]="(sigiloErrors$ | async)"
               (save)="submitSigilo($event)"
            ></cdk-sigilo-form>

            <cdk-sigilo-grid
                *ngIf="!formSigilos"
                [loading]="(sigiloLoading$ | async)"
                [sigilos]="(sigilos$ | async)"
                [total]="(paginationSigilo$ | async)?.total"
                [actions]="['edit','delete']"
                [displayedColumns]="['id', 'tipoSigilo.nome','desclassificado',  'actions']"
                [deletingIds]="(deletingSigiloIds$ | async)"
                [deletedIds]="(deletedSigiloIds$ | async)"
                (delete)="deleteSigilo($event)"
                (reload)="reloadSigilos($event)"
                (edit)="editSigilo($event)"
            >
            </cdk-sigilo-grid>

        </div>

        <div class="m-16" fxFlex fxLayout="column" *ngIf="activeCard === 'assinaturas'">

            <h3 style="font-weight: bold">Assinaturas</h3>

            <cdk-assinatura-grid
                *ngIf="!formAssinaturas"
                [loading]="(assinaturaLoading$ | async)"
                [assinaturas]="(assinaturas$ | async)"
                [total]="(paginationAssinatura$ | async)?.total"
                [actions]="['delete']"
                [displayedColumns]="['id', 'dataHoraAssinatura', 'criadoPor.nome', 'actions']"
                [deletingIds]="(deletingAssinaturaIds$ | async)"
                [deletedIds]="(deletedAssinaturaIds$ | async)"
                (delete)="deleteAssinatura($event)"
                (reload)="reloadAssinaturas($event)"
            >
            </cdk-assinatura-grid>

        </div>

    </div>
    <div class="documento-edit-content" fxLayout="column">
        <router-outlet></router-outlet>
    </div>
</div>
