<div fxFlex fxLayout="row">
    <div fxLayout="column" fxFlex="25">

        <div class="actions p-16" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button aria-label="movimentar"
                    matTooltip="Movimentar" (click)="showAtividade()"
                    [ngClass]="{'active accent': activeCard === 'atividade'}">
                <mat-icon class="black-fg">send</mat-icon>
            </button>

            <button *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal" mat-icon-button aria-label="Visualizar Processo"
                    matTooltip="Gerir Anexos" (click)="showAnexos()"
                    [ngClass]="{'active accent': activeCard === 'anexos'}">
                <mat-icon class="black-fg">attachment</mat-icon>
            </button>

            <button mat-icon-button aria-label="editar o documento"
                    matTooltip="Editar o Documento" (click)="showForm()"
                    [ngClass]="{'active accent': activeCard === 'form'}">
                <mat-icon class="black-fg">edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="inteligência jurídica"
                    matTooltip="Inteligência Jurídica" (click)="showInteligencia()"
                    [ngClass]="{'active accent': activeCard === 'inteligencia'}">
                <mat-icon class="black-fg">gavel</mat-icon>
            </button>
        </div>

        <div *ngIf="(documento$ | async)?.vinculacaoDocumentoPrincipal">
            <button class="back" mat-icon-button
                    (click)="onClickedDocumentoVinculado(documentoPrincipal)"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <div class="documentos-vinculados mb-48" fxFlex fxLayout="column"
             *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal && activeCard === 'anexos'">

            <h3 style="font-weight: bold">Anexos</h3>

            <button mat-mini-fab
                    class="ml-8 mb-16 active accent add-file-button"
                    [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                    (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">attach_file</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="upload de anexo"
                        (click)="upload()">
                    <ng-container>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Upload</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="anexar uma cópia de um documento"
                        (click)="anexarCopia()">
                    <ng-container>
                        <mat-icon>file_copy</mat-icon>
                        <span>Por Cópia</span>
                    </ng-container>
                </button>
            </mat-menu>

            <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                                     [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                                     [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                                     (delete)="doDeleteDocumentoVinculado($event)"
                                     (assinatura)="doAssinaturaDocumentoVinculado($event)"
                                     (clicked)="onClickedDocumentoVinculado($event)"
                                     (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
            </cdk-documento-card-list>

            <cdk-componente-digital-card-list #ckdUpload
                                              [documentoOrigem]="documento$ | async"
                                              (complete)="onCompleteDocumentoVinculado()">
            </cdk-componente-digital-card-list>


        </div>

        <div class="mb-16 pr-16" fxFlex fxLayout="column" *ngIf="activeCard === 'atividade'">

            <cdk-atividade-form
                [atividade]="atividade"
                [temMinutas]="true"
                [saving]="(atividadeIsSaving$ | async)"
                [errors]="(atividadeErrors$ | async)"
                (save)="submitAtividade($event)">
            </cdk-atividade-form>

        </div>

        <div class="mb-16" fxFlex fxLayout="column" *ngIf="activeCard === 'form'">

            <h3 *ngIf="!(documento$ | async)?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Documento Principal</h3>
            <h3 *ngIf="(documento$ | async)?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Anexo</h3>

            <cdk-documento-form fxFlex [documento]="(documento$ | async)"
                                [saving]="(isSaving$ | async)"
                                [errors]="(errors$ | async)"
                                (save)="submit($event)">
            </cdk-documento-form>

        </div>

        <div class="mb-16" fxFlex fxLayout="column" *ngIf="activeCard === 'inteligencia'">
            <cdk-repositorio-grid
                [layout]="'vertical'"
                [loading]="(loading$ | async)"
                [repositorios]="(repositorios$ | async)"
                [total]="(pagination$ | async)?.total"
                [mode]="'search'"
                [actions]="['download']"
                (download)="doDownload($event)"
                [downloadingId]="(repositorioIdLoadind$ | async)"
                [downloadedId]="(repositorioIdLoaded$ | async)"
                (reload)="reload($event)">
            </cdk-repositorio-grid>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>
