<div class="header">
    <mat-icon class="mr-8 s-16">new_releases</mat-icon>
    <a [routerLink]="['/apps/admin/especie-relevancias/listar']">espécie relevâncias</a>
    <span class="mr-4 ml-4">/</span>
    <span>espécie relevância {{routerState.params.especieRelevanciaHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-relevancia-form
        [especieRelevancia]="(especieRelevancia$ | async)"
        [form]="formEspecieRelevancia"
        [generoRelevanciaPagination]="generoRelevanciaPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieRelevancia($event)"
        (abort)="doAbort()">
    </cdk-especie-relevancia-form>
</div>
