<cdk-remessa-grid
        [loading]="(loading$ | async)"
        [remessas]="(tramitacoes$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'recebe_remessa', 'delete', 'showDeleted']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (recebimento)="recebimento($event)"
        (delete)="delete($event)"
>
</cdk-remessa-grid>
