<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>info</mat-icon>
        <mat-card-title>Avisos</mat-card-title>
        <mat-card-subtitle>Informações relevantes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>
            Bem-vindo ao SUPP, versão 1.0.4!
        </h3>
        <h3>
            Os problemas encontrados devem ser enviados para sapiens@agu.gov.br
        </h3>
        <h3>
            O módulo disciplinar está disponível para testes.
        </h3>
    </mat-card-content>
</mat-card>