<!-- CONTENT -->
<div class="content p-16" fxLayout="column" fxFlex="100">

    <h2>Atividade em bloco de tarefas</h2>

    <cdk-documento-card-list *ngIf="operacoes.length === 0"
                             [documentos]="minutas"
                             [deletingId]="(deletingDocumentosId$ | async)"
                             [assinandoId]="(assinandoDocumentosId$ | async)"
                             [convertendoId]="(convertendoDocumentosId$ | async)"
                             (delete)="doDelete($event)"
                             (assinatura)="doAssinatura($event)"
                             (converte)="doConverte($event)"
                             (clicked)="onClicked($event)"
                             (changedSelectedIds)="changedSelectedIds($event)">
    </cdk-documento-card-list>

    <cdk-atividade-form *ngIf="operacoes.length === 0"
        [atividade]="atividade"
        [temMinutas]="!!minutas.length"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-atividade-form>

    <mat-list *ngIf="operacoes.length > 0" fxFlex>
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'light-green-50': operacao.success, 'pink-50': !operacao.success}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

</div>
