atividade-create-bloco {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px;
        mat-card {
            margin-bottom: 5px;
        }
    }
}
