@import '~@cdk/scss/cdk';

protocolo-externo-detail {

    height: 100%;

    .processo-header {
        border-bottom: 1px solid;
        height: 56px;

        cdk-vinculacao-etiqueta-chips {
            width: 92%;
        }

        .pre-actions {
            width: 100%;
        }

        .actions {
            margin-left: auto;
        }
    }

    .processo-content {
        height: 76%;
    }
}
