cdk-modalidade-etiqueta-filter {

    height: 100%;

    .altura {
        height: 100%;
    }

    .content {
        min-height: 0px;
        padding: 6%;
    }

    .padd {
        padding: 6%;
    }
}