<div class="content p-16" fxLayout="column">
    <p style="text-align: justify;">
        1. Na p&aacute;gina de tarefas &eacute; poss&iacute;vel realizar um upload de minutas em bloco. Clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias op&ccedil;&otilde;es. <br><br>
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Ao clicar em <strong>Minutas</strong>&gt;<strong>Upload</strong> o menu de Upload em bloco de minutas &eacute; aberto.
    </p>
    <p style="text-align: justify;">
        3. Nesse menu aparecem o n&uacute;mero de tarefas selecionadas e um botão onde &eacute; poss&iacute;vel escolher o arquivo desejado para upload.
    </p>
    <hr>
    <p style="text-align: justify;"><strong>Observa&ccedil;&atilde;o:</strong>
        O limite para fazer upload é de 10 Mb por pedaço. Maior que isso teremos que quebrar em partes menores.<br>
        Para fazer isso, clique no arquivo com o botão direito > 
        Abrir com > Adobe Acrobat 8.1 > Combinar processo > selecionar arquivo > 
        Escolher as páginas > ir à metade do documento e atentar para não quebrar um documento pela metade e sim parar ao fim de em um determinado documento  
        Selecionar intervalo de páginas > Página > Colocar o intervalo > OK > Avançar > Criar > Salvar > Dar um nome (001 – NUP) > 
        Salvar > Fechar > Voltar ao processo original e repetir o mesmo procedimento (002 – NUP) Salvar > Fechar. 
    </p>
    <p><br></p>
</div>