<cdk-vinculacao-modelo-grid
    [loading]="(loading$ | async)"
    [vinculacaoModelos]="(vinculacoesModelos$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [orgaoCentralPagination]="orgaoCentralPagination"
    [modeloPagination]="modeloPagination"
    [actions]="['edit', 'delete']"
    [displayedColumns]="['id', 'modelo.nome', 'especieSetor.nome', 'orgaoCentral.valor', 'actions']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (delete)="delete($event)">
</cdk-vinculacao-modelo-grid>