<div class="m-4 inner-scroll" fxFlex fxLayout="column" *ngIf="this.documento">
    <h3 *ngIf="!documento?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Documento
        Principal</h3>
    <h3 *ngIf="documento?.vinculacaoDocumentoPrincipal" style="font-weight: bold">Anexo</h3>

    <cdk-documento-form [documento]="documento"
                        [saving]="(isSaving$ | async)"
                        [errors]="(errors$ | async)"
                        (save)="submit($event)">
    </cdk-documento-form>
</div>