<div class="header">
    <mat-icon class="mr-8 s-16">place</mat-icon>
    <a [routerLink]="['/apps/admin/municipios/listar']">municípios</a>
    <span class="mr-4 ml-4">/</span>
    <span>município {{routerState.params.municipioHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-municipio-form
        [municipio]="(municipio$ | async)"
        [form]="formMunicipio"
        [estadoPagination]="estadoPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitMunicipio($event)"
        (abort)="doAbort()">
    </cdk-municipio-form>
</div>