<div class="header">
    <mat-icon class="mr-8 s-16">local_activity</mat-icon>
    <a [routerLink]="['/apps/admin/especie-atividades/listar']">espécie atividades</a>
    <span class="mr-4 ml-4">/</span>
    <span>espécie atividade {{routerState.params.especieAtividadeHandle}}</span>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-atividade-form
        [especieAtividade]="(especieAtividade$ | async)"
        [form]="formEspecieAtividade"
        [generoAtividadePagination]="generoAtividadePagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieAtividade($event)"
        (abort)="doAbort()">
    </cdk-especie-atividade-form>
</div>