<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-16">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-24" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            search
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtros</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content py-16" cdkPerfectScrollbar>

    <div class="header" fxLayout="column">
        <div class="filters">
            <cdk-lembrete-grid-filter (selected)="setGridFilter($event)"></cdk-lembrete-grid-filter>
        </div>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
