<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
   <form fxLayoutGap="16px" name="form" [formGroup]="form" (keyup.enter)="buscar()">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dados Administrativos
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field *showIfRole="'ROLE_USER'">
                <mat-label>Número do Processo</mat-label>
                <input matInput #NUP
                       name="NUP"
                       formControlName="NUP"
                       maxlength="255">
                <mat-hint align="end">{{NUP.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_PESSOA_VINCULADA'">
                <mat-label>Nome do Interessado</mat-label>
                <input matInput #nome
                       name="nome"
                       formControlName="nome"
                       maxlength="255">
                <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>Nome do Interessado</mat-label>
                <input matInput #nome
                       name="nome"
                       formControlName="nome"
                       maxlength="255">
                <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_PESSOA_VINCULADA'">
                <mat-label>CPF/CNPJ do Interessado</mat-label>
                <input matInput #cpfCnpj
                       name="cpfCnpj"
                       formControlName="cpfCnpj"
                       maxlength="255">
                <mat-hint align="end">{{cpfCnpj.value.length}} / 19</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>CPF/CNPJ do Interessado</mat-label>
                <input matInput #cpfCnpj
                       name="cpfCnpj"
                       formControlName="cpfCnpj"
                       maxlength="255">
                <mat-hint align="end">{{cpfCnpj.value.length}} / 19</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Setor Responsável"
                       formControlName="setorAtual"
                       [matAutocomplete]="setor.autocomplete">
                <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorAtual')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>Título</mat-label>
                <input matInput #titulo
                       name="titulo"
                       formControlName="titulo"
                       maxlength="255">
                <mat-hint align="end">{{titulo.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>Descrição</mat-label>
                <input matInput #descricao
                       name="descricao"
                       formControlName="descricao"
                       maxlength="255">
                <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>Outro Número</mat-label>
                <input matInput #outroNumero
                       name="outroNumero"
                       formControlName="outroNumero"
                       maxlength="255">
                <mat-hint align="end">{{outroNumero.value.length}} / 255</mat-hint>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <mat-label>Valor Ecônomico</mat-label>
                <input matInput #valorEconomico
                       name="valorEconomico"
                       formControlName="valorEconomico">
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Classificacao"
                       formControlName="classificacao"
                       [matAutocomplete]="classificacao.autocomplete">
                <cdk-classificacao-autocomplete #classificacao="classificacaoAutocomplete"
                                                [control]="form.get('classificacao')">
                </cdk-classificacao-autocomplete>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Procedência"
                       formControlName="procedencia"
                       [matAutocomplete]="pessoa.autocomplete">
                <cdk-pessoa-autocomplete #pessoa="pessoaAutocomplete" [control]="form.get('procedencia')">
                </cdk-pessoa-autocomplete>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Localizador"
                       formControlName="localizador"
                       [matAutocomplete]="localizador.autocomplete">
                <cdk-localizador-autocomplete #localizador="localizadorAutocomplete"
                                              [control]="form.get('localizador')">
                </cdk-localizador-autocomplete>
            </mat-form-field>

            <div class="filtro-data" *showIfRole="'ROLE_COLABORADOR'">
                <span [ngClass]="{'filtrado': hasDateFilter('dataHoraAbertura')}">Data da Abertura</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroDataHoraAbertura" [ngClass]="{'filtrado': hasDateFilter('dataHoraAbertura')}">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroDataHoraAbertura="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="dataHoraAbertura"
                                 [limparForm]="this.limparFormFiltroDatas$"
                                 (filtra)="this.filtraData($event, 'dataHoraAbertura')">
                </cdk-date-filter>
            </mat-menu>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Modalidade da Fase"
                       formControlName="modalidadeFase"
                       [matAutocomplete]="modalidadeFase.autocomplete">
                <cdk-modalidade-fase-autocomplete #modalidadeFase="modalidadeFaseAutocomplete"
                                                  [control]="form.get('modalidadeFase')">
                </cdk-modalidade-fase-autocomplete>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Modalidade Meio"
                       formControlName="modalidadeMeio"
                       [matAutocomplete]="modalidadeMeio.autocomplete">
                <cdk-modalidade-meio-autocomplete #modalidadeMeio="modalidadeMeioAutocomplete"
                                                  [control]="form.get('modalidadeMeio')">
                </cdk-modalidade-meio-autocomplete>
            </mat-form-field>

            <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
                <input matInput placeholder="Espécie Processo"
                       formControlName="especieProcesso"
                       [matAutocomplete]="especieProcesso.autocomplete">
                <cdk-especie-processo-autocomplete #especieProcesso="especieProcessoAutocomplete"
                                                   [control]="form.get('especieProcesso')">
                </cdk-especie-processo-autocomplete>
            </mat-form-field>

            <div class="filtro-data" *showIfRole="'ROLE_COLABORADOR'">
                <span [ngClass]="{'filtrado': hasDateFilter('criadoEm')}">Criado Em</span>
                <button mat-icon-button type="button" [matMenuTriggerFor]="filtroCriadoEm" [ngClass]="{'filtrado': hasDateFilter('criadoEm')}">
                    <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <mat-menu #filtroCriadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
                <cdk-date-filter [datetime]="true" campo="criadoEm"
                                 [limparForm]="this.limparFormFiltroDatas$"
                                 (filtra)="this.filtraData($event, 'criadoEm')">
                </cdk-date-filter>
            </mat-menu>

        </mat-expansion-panel>

    </form>
    <ng-template #dynamicComponent></ng-template>

</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
