<form class="p-24 mb-8" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Descrição</mat-label>
            <input matInput #descricaoOutros
                   name="descricaoOutros"
                   formControlName="descricaoOutros">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Número de Folhas</mat-label>
            <input matInput #numeroFolhas
                   name="numeroFolhas"
                   formControlName="numeroFolhas">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Outro Número</mat-label>
            <input matInput #outroNumero
                   name="outroNumero"
                   formControlName="outroNumero">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Redator</mat-label>
            <input matInput #redator
                   name="redator"
                   formControlName="redator">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Localizador Original</mat-label>
            <input matInput #localizadorOriginal
                   name="localizadorOriginal"
                   formControlName="localizadorOriginal">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>local da Produção</mat-label>
            <input matInput #localProducao
                   name="localProducao"
                   formControlName="localProducao">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Autor</mat-label>
            <input matInput #autor
                   name="autor"
                   formControlName="autor">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Observação</mat-label>
            <input matInput #observacao
                   name="observacao"
                   formControlName="observacao">
        </mat-form-field>

        <mat-checkbox formControlName="semEfeito" class="mr-16 mb-16" fxFlex="0 1 auto">
            Sem Efeito
        </mat-checkbox>

        <mat-checkbox formControlName="copia" class="mr-16 mb-16" fxFlex="0 1 auto">
            Cópia
        </mat-checkbox>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem Processo"
                       formControlName="processoOrigem"
                       [matAutocomplete]="processo.autocomplete">
            </div>
            <cdk-processo-autocomplete #processo="processoAutocomplete" [control]="form.get('processoOrigem')">
            </cdk-processo-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem Documento"
                       formControlName="documentoOrigem"
                       [matAutocomplete]="documento.autocomplete">
            </div>
            <cdk-documento-autocomplete #documento="documentoAutocomplete" [control]="form.get('documentoOrigem')">
            </cdk-documento-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Procedência"
                       formControlName="procedencia"
                       [matAutocomplete]="pessoa.autocomplete">
            </div>
            <cdk-pessoa-autocomplete #pessoa="pessoaAutocomplete" [control]="form.get('procedencia')">
            </cdk-pessoa-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Tipo de Documento"
                       formControlName="tipoDocumento"
                       [matAutocomplete]="tipoDocumento.autocomplete">
            </div>
            <cdk-tipo-documento-autocomplete #tipoDocumento="tipoDocumentoAutocomplete"
                                             [control]="form.get('tipoDocumento')">
            </cdk-tipo-documento-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Setor de Origem"
                       formControlName="setorOrigem"
                       [matAutocomplete]="setor.autocomplete">
            </div>
            <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorOrigem')">
            </cdk-setor-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Tarefa de Origem"
                       formControlName="tarefaOrigem"
                       [matAutocomplete]="tarefa.autocomplete">
            </div>
            <cdk-tarefa-autocomplete #tarefa="tarefaAutocomplete" [control]="form.get('tarefaOrigem')">
            </cdk-tarefa-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Juntada Atual"
                       formControlName="juntadaAtual"
                       [matAutocomplete]="juntada.autocomplete">
            </div>
            <cdk-juntada-autocomplete #juntada="juntadaAutocomplete" [control]="form.get('juntadaAtual')">
            </cdk-juntada-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Origem de Dados"
                       formControlName="origemDados"
                       [matAutocomplete]="origemDados.autocomplete">
            </div>
            <cdk-origem-dados-autocomplete #origemDados="origemDadosAutocomplete" [control]="form.get('origemDados')">
            </cdk-origem-dados-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Remessa de Documento Avulso"
                       formControlName="documentoAvulsoRemessa"
                       [matAutocomplete]="documentoAvulso.autocomplete">
            </div>
            <cdk-documento-avulso-autocomplete #documentoAvulso="documentoAvulsoAutocomplete"
                                               [control]="form.get('documentoAvulsoRemessa')">
            </cdk-documento-avulso-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Modelo"
                       formControlName="modelo"
                       [matAutocomplete]="modelo.autocomplete">
            </div>
            <cdk-modelo-autocomplete #modelo="modeloAutocomplete" [control]="form.get('modelo')">
            </cdk-modelo-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Repositório"
                       formControlName="repositorio"
                       [matAutocomplete]="repositorio.autocomplete">
            </div>
            <cdk-repositorio-autocomplete #repositorio="repositorioAutocomplete" [control]="form.get('repositorio')">
            </cdk-repositorio-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Data da Produção</mat-label>
            <input matInput formControlName="dataHoraProducao" [matDatetimepicker]="dataHoraProducao">
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraProducao"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraProducao type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Criado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="criadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="criadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #criadoEm type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Atualizado Por"
                       formControlName="atualizadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Atualizado Em</mat-label>
            <input matInput formControlName="criadoEm" [matDatetimepicker]="atualizadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="atualizadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #atualizadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="start center">
                <input matInput placeholder="Apagado Por"
                       formControlName="apagadoPor"
                       [matAutocomplete]="usuario.autocomplete">
            </div>
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('apagadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field class="mr-sm-12">
            <mat-label>Apagado Em</mat-label>
            <input matInput formControlName="apagadoEm" [matDatetimepicker]="apagadoEm">
            <mat-datetimepicker-toggle matSuffix [for]="apagadoEm"></mat-datetimepicker-toggle>
            <mat-datetimepicker #apagadoEm type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <div fxFlex="0 1 auto" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12" (click)="buscar()">
                Buscar
            </button>

            <button mat-raised-button color="warn" class="mr-sm-12" (click)="limpar()">
                Limpar
            </button>
        </div>
    </div>
</form>
