<form class="p-24 mb-16" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start"
      name="form" [formGroup]="form">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>NUP</mat-label>
            <input matInput #campo
                   name="campo"
                   formControlName="campo"
                   maxlength="255">
            <mat-hint align="end">{{campo.value.length}} / 255</mat-hint>
        </mat-form-field>

    </div>
</form>
