coordenador {
    width: 100%;

    .sidebar {
        background: transparent !important;
        box-shadow: none !important;

        &:not(.locked-open) {
            background: white !important;
        }
    }
    .center {

        width: 100%;

        .content-card {
            flex: 1 0 100%;
        }
    }
}
