coordenador {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .sidebar {
        background: transparent !important;
        box-shadow: none !important;

        &:not(.locked-open) {
            background: white !important;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .content-card {
            flex: 1 0 100%;
        }
    }
}
