<div *ngIf="titulo === 'coordenador'">
    <h3><strong>COORDENADOR</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      No novo sistema, o conceito de coordenador foi expandido. Antes, estava limitado a coordenação apenas do setor.
      Agora, o conceito se divide em 3(três) níveis:
      <li>Coordenador do Órgão Central</li>
      <li>Coordenador da Unidade</li>
      <li>Coordenador do Setor</li>
    </p>
    <p style="text-align: justify;text-indent: 20px">
      A Advocacia Geral da União - regida pela Lei Complementar nº 73/1993, Lei nº 10480/2002 e Lei nº 9650/1998 - é composta por Órgãos Centrais. Três desses fazem parte da gestão do sistema, ajudando na descentralização de demandas.
      <li>Procuradoria-Geral da União (PGU)</li>
      <li>Consultoria-Geral da União (CGU)</li>
      <li>Procuradoria-Geral Federal (PGF)</li>
    </p>
    <p style="text-align: center;">
      Sendo assim, um Órgão Central é uma "Unidade Pai" de várias outras Unidades, divididas dentro do sistema. Essa divisão é realizada para fins gerenciais.
      O Órgão Central funciona em âmbito nacional
    </p>
    <p style="text-align: center;">
      Abaixo dos Órgãos Centrais estão as Unidades e abaixo das Unidades estãos os Setores, como Protocolo, Arquivo, Gabinete, entre outros.
      Dessa maneira, os setores ajudam na organização das Unidades.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para acessar as funcionalidades disponíveis ao perfil de Coordenador, 
      o usuário com essa prerrogativa deverá acessar o Módulo de Coordenadores, 
      no botão localizado no painel lateral esquerdo da tela do sistema.
      <!-- Foto do painel com a opção de coordenador -->
    </p>
    <p style="text-align: center;">
      Cabe ao Administrador, no módulo de Administrador manipular e conceder o perfil de Coordenador para todos os coordenadores possíveis.
      Sendo assim, o Administrador tem o poder de conceder ou retirar o perfil de Coordenador de todos os níveis.
    </p>
   <h3><strong>Coordenador de Orgão Central</strong></h3>
    
    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador do Órgão Central visualiza o seu painel.
      <!-- Painel coordenador de órgão central -->
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Como o Coordenador de Órgão Central gerencia em âmbito nacional, no seu painel esse usuário pode adicionar, editar e remover Modelos e  Repositórios Nacionais, além de visualizar os Usuários Nacionais, que são aqueles lotados em suas unidades "filhas".
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No menu de Usuários Nacionais, é possível editar o perfil do usuário, modificar suas lotações, cadastrar afastamentos e realizar o reset de senha.
      A lista de usuários fica no centro da tela, com a possibilidade de utilização de filtros para facilitar o trabalho.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O Coordenador de Órgão Central também visualiza as Unidades "filhas". Ou seja, todas as Unidades reunidas naquele órgão central podem ser editadas.
      Ele também possui os mesmo poderes do Coordenador de Unidade, apenas escolhendo a unidade na lista.
      <!-- botão de visualizar Unidade -->
      <!-- Painel de coordenação de Unidade visualizado pelo Coordenador de Órgão Central -->
    </p>
    <h3><strong>Coordenador de Unidade</strong></h3>
    <p style="text-align: center;">
      Toda unidade do sistema deve possuir ao menos um Coordenador, responsável pela gestão dos seus modelos e repositórios de conhecimento (cadastro, exclusão, inativação, etc.). 
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador da Unidade visualiza o seu painel.
      <!-- Painel coordenador de unidade -->
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível adicionar Modelos e Repositórios da Unidade, além de visualizar os usuários lotados na Unidade e manipular os setores dessa Unidade, inclusive criando e excluindo. É possível lotar usuários nesses setores.
      O Coordenador de Unidade também pode cadastrar afastamentos e realizar o resete de senha dos usuários na Unidade.
    </p>
    <h3><strong>Coordenador de Setor</strong></h3>
    <p style="text-align: center;">
      Todo setor do sistema deve possuir ao menos um Coordenador, responsável pela gestão dos seus modelos e repositórios de conhecimento (cadastro, exclusão, inativação, etc.). 
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador do Setor visualiza o seu painel.
      <!-- Painel coordenador de setor -->
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível adicionar Modelos do Setor e Repositórios do Setor, além de visualizar os usuários lotados no setor e cadastrar os AFASTAMENTOS desses usuários.
    </p>
</div>