<!-- CONTENT HEADER -->
<div class="header" fxLayout="column">

    <div class="filters" *ngIf="showFilter">
        <cdk-endereco-grid-filter (selected)="setGridFilter($event)"></cdk-endereco-grid-filter>
    </div>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT -->
<div class="content" fxLayoutAlign="center start">

    <div class="mb-16 p-16" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center">

        <div class="actions m-8" fxFlex fxLayout="row" fxLayoutAlign="end center">

            <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                    (click)="doCancel()"
                    aria-label="cancelar"
                    matTooltip="Cancelar">
                <mat-icon>cancel</mat-icon>
            </button>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteEndereco(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort [hidden]="loading">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="start center">
                    <mat-checkbox (click)="toggleSelectAll($event)"
                                  [checked]="hasSelected"
                                  [indeterminate]="isIndeterminate">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="10" fxLayoutAlign="start center">
                    <mat-checkbox [checked]="selectedIds.indexOf(endereco.id) > -1"
                                  (change)="toggleInSelected(endereco.id)"
                                  (click)="$event.stopPropagation();"
                                  [disabled]="deletedIds?.indexOf(endereco.id) > -1">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10" fxLayoutAlign="start center" style="margin-left: 10px"> Id
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="10" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.id}} </td>
            </ng-container>

            <!-- logradouro Column -->
            <ng-container matColumnDef="logradouro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50" fxLayoutAlign="start center">
                    Logradouro
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="50" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.logradouro}}
                </td>
            </ng-container>

            <!-- Numero Column -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50" fxLayoutAlign="start center">
                    Número
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="50" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.numero}}
                </td>
            </ng-container>

            <!-- Complemento Column -->
            <ng-container matColumnDef="complemento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50" fxLayoutAlign="start center">
                    Complemento
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="50" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.complemento}}
                </td>
            </ng-container>

            <!-- Bairro Column -->
            <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50" fxLayoutAlign="start center">
                    Bairro
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="50" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.bairro}}
                </td>
            </ng-container>

            <!--  Municipio Column -->
            <ng-container matColumnDef="municipio.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100" fxLayoutAlign="start center">
                    Município
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="100" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.municipio.nome}} </td>
            </ng-container>

            <!--  Pais Column -->
            <ng-container matColumnDef="pais.nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100" fxLayoutAlign="start center">
                    País
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="100" fxLayoutAlign="start center"
                    [ngClass]="{'deleted':deletedIds?.indexOf(endereco.id) > -1}"> {{endereco.pais.nome}} </td>
            </ng-container>

            <!-- Principal Column -->
            <ng-container matColumnDef="principal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10" fxLayoutAlign="start center">
                    Principal
                </th>
                <td mat-cell *matCellDef="let endereco" fxFlex="10" fxLayoutAlign="start center">
                    <mat-checkbox
                        [disabled]="true"
                        [checked]="endereco.principal"></mat-checkbox>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef fxFlex="10"></th>
                <td mat-cell *matCellDef="let endereco" fxFlex="10" fxLayoutAlign="start center">

                    <button mat-icon-button
                            *ngIf="actions.indexOf('select') > -1"
                            (click)="selectEndereco(endereco)"
                            aria-label="selecionar"
                            matTooltip="Selecionar">
                        <mat-icon>keyboard_return</mat-icon>
                    </button>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('edit') > -1"
                            [disabled]="deletedIds?.indexOf(endereco.id) > -1"
                            (click)="editEndereco(endereco.id)"
                            aria-label="editar"
                            matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(endereco.id) > -1">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>

                    <button mat-icon-button
                            *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(endereco.id) === -1"
                            [disabled]="deletedIds?.indexOf(endereco.id) > -1"
                            (click)="deleteEndereco(endereco.id)"
                            aria-label="remover"
                            matTooltip="Remover">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let endereco; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

    </div>

</div>